{include file="layout/header"}
<div class="weadmin-nav layui-clear">
    <span class="layui-breadcrumb">
        <a href="javascript:;">首页</a> <a href="javascript:;">方舟管理</a> <a><cite>主方舟列表</cite></a>
    </span>

    <span class="fr">
        <a class="layui-btn layui-open" data-url="{:url('add')}" data-title="添加" data-width="80%" data-height="95%" href="javascript:;">添加</a>
        <a class="layui-btn" href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon layui-icon-refresh"></i></a>
    </span>
</div>

<div class="weadmin-body">
    <div class="layui-row">
        <form class=" layui-col-md12 we-search">
            搜索数据：
            <div class="layui-inline">
                <label for="name"></label>
                <input class="layui-input" placeholder="标题" name="name" id="name" value="{$Think.get.name}" />
            </div>
            <div class="layui-inline">
                <label for="currency_id">币种: </label>
                <select style="display: inline; width: 150px;" class="layui-select" name="currency_id">
                    <option value="">全部</option>
                    {volist name="currency" id="vo"}
                    <option {if $Think.get.currency_id == $vo['currency_id']}selected{/if} value="{$vo['currency_id']}">{$vo['currency_name']}</option>
                    {/volist}
                </select>
            </div>

            <button class="layui-btn" lay-submit="" lay-filter="sreach">
                <i class="layui-icon layui-icon-search"></i>
            </button>
        </form>
    </div>
    <form class="layui-form" >
        <table class="layui-table" id="memberList">
            <thead>
            <tr>
                <th>ID</th>
                <th>标题</th>
                <th>币种</th>
                <th>初始闯关金额</th>
                <th>最大闯关数</th>
                <th>闯关开始时间</th>
                <th>闯关结束时间</th>
                <th>闯关运行天数</th>
                <th>幸运舱</th>
                <th>市值舱</th>
                <th>工具舱</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name="list" id="v"}
            <tr data-id="{$v.id}">
                <td>{$v.id}</td>
                <td>{$v.name}</td>
                <td>{$v.currency_name}</td>
                <td>{$v.price | round=2}</td>
                <td>{$v.max_level} 关</td>
                <td>{$v.start_time|date='Y-m-d H:i:s',###}</td>
                <td>{$v.end_time|date='Y-m-d H:i:s',###}</td>
                <td>{$v.run_daynum} 天</td>
                <td>{$v.warehouse1 | round=2}</td>
                <td>{$v.warehouse2 | round=2}</td>
                <td>{$v.warehouse3 | round=2}</td>
                <td>
                    <input lay-filter="layui-switch-field" data-url="{:url('quick_switch',['id'=>$v.id])}" data-field="status" type="checkbox" lay-skin="switch" lay-text="ON|OFF" value="1"  {if condition="$v.status eq 1"}checked=""{/if} />
                </td>
                <td>
                    <a class="layui-btn layui-open" data-url="{:url('edit',['id'=>$v.id])}" data-title="修改商品" data-width="80%" data-height="95%" href="javascript:;">编辑</a>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </form>
    <div class="weadmin-block">
        <span class="fr" style="line-height:40px">共有数据：{$count|default=0} 条</span>
    </div>
    <div class="page">
        <div>
            {$page}
        </div>
    </div>
</div>
<script>
    layui.use(['form','global','index']);
</script>
{include file="layout/footer"}
