{include file="layout/header"}
<div class="weadmin-nav">
     <span class="layui-breadcrumb">
        <a href="javascript:;">商品管理</a> <a href="javascript:;">订单列表</a> <a><cite>物流信息</cite></a>
    </span>
    <span class="fr">
        <a class="layui-btn" href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon layui-icon-refresh"></i></a>
    </span>
</div>

<div class="weadmin-body">
    <form class="layui-form form" action="">
        <input type="hidden" name="gmo_id" value="{$info.gmo_id}">
        <input type="hidden" name="gmo_status" value="{$info.gmo_status}">

        <!--<div class="layui-form-item">
            <label class="layui-form-label">物流公司</label>
            <div class="layui-input-block">
                <input type="text" name="form[gmo_express_name]" value="{$info.gmo_express_name}" class="layui-input">
            </div>
        </div>-->

        <div class="layui-form-item">
            <label class="layui-form-label">物流公司</label>
            <div class="layui-input-block">
                <select name="form[gmo_express_company]">
                    <option value="">请选择</option>
                    {volist name="expressList" id="vo"}
                        <option value="{$key}" {if ($key == $info['gmo_express_company'])} selected {/if}>{$vo}</option>
                    {/volist}
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">物流单号</label>
            <div class="layui-input-block">
                <input type="text" name="form[gmo_express_code]" value="{$info.gmo_express_code}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn submit" type="button" lay-submit="" lay-filter="submit" data-url="{:url('order_ship',['param'=>'order'])}">
                    立即提交
                </button>
            </div>
        </div>
    </form>
</div>
<style>

</style>
<script>
    layui.use(['form', 'add'], function () {
    });
</script>

{include file="layout/footer"}
