

<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            后台管理
        </title>
        <!-- <link rel="Shortcut Icon" type="image/x-icon" href="/favicon.ico"> -->
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/home/js/layui/css/layui.css">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/home/css/common/reset.css">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/home/css/common/base.css">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/home/css/common/pure-min.css">

        <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/admin/css/common.css"/>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/admin/css/main.css"/>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/admin/iconfont/demo.css">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/admin/iconfont/iconfont.css"/>
        <!-- <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/jb_style.css"> -->
        <script type="text/javascript" src="__PUBLIC__/static/home/js/common/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/static/home/js/common/common.js"></script>
        <!-- <script type="text/javascript" src="__PUBLIC__/static/home/js/layer/layer.js"></script> -->
        <script type="text/javascript" src="__PUBLIC__/static/home/js/layui/layui.js"></script>
        <script type="text/javascript" src="__PUBLIC__/static/home/js/layer/layer.js"></script>
        <script type="text/javascript" src="__PUBLIC__/static/home/js/common/base.js"></script>
        <script charset="UTF-8" type="text/javascript" src="__PUBLIC__/static/js/load.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/static/admin/js/libs/modernizr.min.js"></script>
        <!-- <link type="image/x-icon" rel="shortcut icon" href="favicon.ico" /> -->
        <script>
                layui.config({
                        base: '__PUBLIC__/static/home/js/layui/extend/',
                }).use(['global']);
        </script>


</head>
<body>
    {__CONTENT__}
</body>
</html>
