<link rel="stylesheet" href="__PUBLIC__/static/home/css/user/myDeal.css">
<div id="main">
	<div class="main_box">
		<div class="raise left clearfix">
            <!--<script src="__PUBLIC__/Home/js/coinindex.js"></script>-->
<div class="ybc_list" >
	<div class="ybcoin" style="padding-left: 0;">
		<h2 class="yangwu_zhanghaozhongxin_rightTitle">
			{:lang('lan_header_markets')}
		</h2>
		<div class="filter-box">
			<div class="left list-type">
				<span>{:lang('lan_Entrust_history')}</span>
				<a href='{:url("User/manage")}'>{:lang('lan_Entrust_management')}</a>
				<a href='{:url("User/myDeal")}'>{:lang('lan_user_Mydeal')}</a>
			</div>
			<div class="right">
				<form action="{:url('User/history')}" method="post">
					<span class="pairs">{:lang('lan_trading_pairs')}</span>
					<select id="" name="currency" class="deal_coin">
						<option value="0">{:lang('lan_whole')}</option>
						{volist name="culist" id="vo"}
							<option value="{$vo['currency_id']|default=''}" {if condition="$vo.currency_id eq $search['currency']"}selected{/if}>{$vo['currency_mark']}</option>
						{/volist}
					</select> /
					<select id="coninname" name="currency_trade">
						<option value="0">{:lang('lan_whole')}</option>
							{volist name="culist_trade" id="vo"}
							<option value="{$vo['currency_id']|default=''}" {if condition="$vo.currency_id eq $search['currency_trade']"}selected{/if}>{$vo['currency_mark']}</option>
						{/volist}
					</select>
									<select id="status" style="margin-left:0; width:80px;" name="status">
						<option value="">{:lang('lan_whole')}</option>
											 <option value="2">{:lang('lan_concluded')}</option>
											 <option value="-1">{:lang('lan_rescinded')}</option>
									</select>
									<input value="{:lang('lan_submit')}" class="filtrate" type="submit">
				</form>
					</div>
		</div>
	</div>
	<div id="otc_mainwrap">
		<div class="my_dealheadr">
				<span>{:lang('lan_delegate_time')}</span>
				<span>{:lang('lan_trading_pairs')}</span>
				<span>{:lang('lan_type')}</span>
				<span>{:lang('lan_quantity_entrusted')}</span>
				<span>{:lang('lan_consignment_price')}</span>
				<span>{:lang('lan_turnover_quantity')}</span>
				<span>{:lang('lan_not_yet_concluded')}</span>
				<span>{:lang('lan_state')}</span>
		</div>
		<ul class="my_deal"> 
				{if condition="!empty($list)"}
					{foreach name="list" item="vo"}
								<li style="background: white;">
										<p>{$vo.add_time|date='Y-m-d H:i:s',###}</p>
										<p>{$vo.currency_id|getCurrencynameByCurrency=###}/{$vo.currency_trade_id|getCurrencynameByCurrency=###}</p>
										<p>
												<span style="color: #41db7f;">
														{if condition="$vo.type eq 'buy'"}
															{$vo.type|fomatOrdersType=###}
														{else /}
																<span style="color: #e96e44;">{$vo.type|fomatOrdersType=###}</span>
														{/if}
												</span>
										</p>
										<p>{$vo.num|number_format=###,6,'.',' '}</p>
										<p>{$vo.price|number_format=###,6,'.',' '}</p>
										<p>{$vo.trade_num|number_format=###,6,'.',' '}</p>
										<p>{$vo['num']- $vo['trade_num']|number_format=###,6,'.',' '}</p>
										<p>{$vo.status|formatOrdersStatus=###}</p>
								</li>
					{/foreach}
				{else /}
						<div class="isempty">{:lang('lan_event_registration29')}</div>
				{/if}
		</ul>
		{if condition="!empty($page)"}
		<div class="addpage"  style="margin: 20px;display: flex;justify-content: center;"> 
				<div class="page">
						{$page}
			</div>
			<div class="clear"></div>
		</div>
		{/if}
		<div class="clear"></div>
</div>                        
</div>
<script>
function cointrust()
{
	var coinname = $('#coninname').val();
	var status  = $('#status').val();
	location.href='/user_exchange/cointrustold/coinname/'+coinname+'/status/'+status;
}
</script>
		</div>
		<div class="clear"></div>
	</div>
</div>  
<script>
$(".menu4").addClass("uc-current");
</script>  
