<script src="__PUBLIC__/static/home/js/user/uploadPreview.js"></script>
<script src="__PUBLIC__/static/home/js/user/jquery.validate.min.js"></script>
<script src="__PUBLIC__/static/home/js/user/messages_zh.min.js"></script>
<script src="__PUBLIC__/static/home/js/common/base.js"></script>
<script src="//cstaticdun.126.net/load.min.js"></script>
<link rel="stylesheet" href="__PUBLIC__/static/home/css/user/updatePassword.css">
<link rel="stylesheet" href="__PUBLIC__/static/home/js/layer/skin/layer.css">
<script>
    $(document).ready(function(){
        start=document.cookie.indexOf("motip=")
        if (start!=-1){
            start=start + 6
            end=start + 1
            motip = unescape(document.cookie.substring(start,end))
            if(motip == 1)
                $('#phone_top_div').show();
        }
    });
    function hidephone(){
        $('#phone_top_div').hide();
        var d=new Date()
        d.setTime(d.getTime() + 7200)
        document.cookie="motip=2;expires="+d.toUTCString()
    }
</script>
<div id="main">
    <div class="main_box">
        <div class="raise left clearfix">
            <h1>{:lang('lan_modify_password')}</h1>
            <div class="support_ybc pass_ybc">
                <ul id="pass_change">
                    <li class="selectTag"><a onclick="selectTag('tagContent0',this)" href="javascript:void(0)">{:lang('lan_modify_login_password')}</a> </li>
                    <li class=""><a onclick="selectTag('tagContent1',this)" href="javascript:void(0)">{:lang('lan_safe_ChangeCodes')}</a></li>
                    <div class="clear"></div>
                </ul>
                <div id="tagContent" class="passContent">
                    <div class="tagContent selectTag" id="tagContent0" style="display: block;">
                        <ul class="ybc_con">
                            <li class="explanation">{:lang('lan_account_login_password')}：</li>
                            <li><input name="oldpwd" class="sum" id="oldpwd" maxlength="20" minlength="6" type="password"></li>
                            <li class="explanation">{:lang('lan_new_login_password')}：</li>
                            <li><input name="pwd" class="sum" id="pwd" type="password" maxlength="20" minlength="8"></li>
                            <li class="explanation">{:lang('lan_repeat_new_login_password')}：</li>
                            <li><input name="repwd" class="sum" id="repwd" type="password" maxlength="20" minlength="8"></li>
                            <input class="tijiao confirm" value="{:lang('lan_submit')}" id="loginSure" type="submit">
                        </ul>
                    </div>
                    <script>
                        var regPass = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{8,20}$/;
                        $("#oldpwd").on("blur",function(){
                            var _val = $(this).val();
                            if(_val.length <= 0){
                                layer.msg("{:lang('lan_user_password_not_empty')}");
                                return;
                            }
                            if(!regPass.test(_val)){
                                layer.msg("{:lang('lan_password_format_error')}");
                                return;
                            }
                        });
                        $("#pwd").on("blur",function(){
                            var _val = $(this).val();
                            var repass = $("#repwd").val();
                            if(_val.length <= 0){
                                layer.msg("{:lang('lan_New_password_not')}");
                                return;
                            }
                            if(!regPass.test(_val)){
                                layer.msg("{:lang('lan_password_format_error')}");
                                return;
                            }
                            if(repass){
                                $("#repwd").trigger('blur');
                            }
                        });
                        $("#repwd").on("blur",function(){
                            var pass = $("#pwd").val();
                            var _val = $(this).val();
                            if(_val.length <= 0){
                                layer.msg("{:lang('lan_New_repassword_not')}");
                                return;
                            }
                            if(_val != pass){
                                layer.msg("{:lang('lan_user_two_not_same')}");
                                return;
                            }
                            if(!regPass.test(_val)){
                                layer.msg("{:lang('lan_password_format_error')}");
                                return;
                            }
                        });
                        $("#loginSure").on("click",function(){
                            var oldPwd = $("#oldpwd").val(),
                                pass = $("#pwd").val(),
                                repass = $("#repwd").val();
                            console.log(pass,repass);
                            if(oldPwd.length <= 0){
                                layer.msg("{:lang('lan_user_password_not_empty')}");
                                return;
                            }
                            if(pass.length <= 0){
                                layer.msg("{:lang('lan_password_not_empty')}");
                                return;
                            }
                            if(repass.length <= 0){
                                layer.msg("{:lang('lan_New_repassword_not')}");
                                return;
                            }
                            if(repass != pass){
                                layer.msg("{:lang('lan_user_two_not_same')}");
                                return;
                            }
                            var obj = {
                                oldpwd:oldPwd,
                                pwd:pass,
                                repwd:repass,
                            }
                            $.ajax({
                                url:"{:url('User/updatePassword')}",
                                type:"POST",
                                data:obj,
                                success:function(data){
                                    console.log(data);
                                    if(data.status == 1){
                                        layer.msg(data.info);
                                        setTimeout(function(){
                                            location.href="{:url('Login/index')}";
                                        },1000);
                                    }else{
                                        layer.msg(data.info);
                                    }
                                },
                                error:function(error){
                                    console.log(error);
                                }
                            });
                        });
                    </script>
                    <div class="tagContent" id="tagContent1" style="display: none;">
                        <!-- <form method="post" id="PwdtradeForm" jump-url="{:url('Login/index')}"  enctype="multipart/form-data" action="{:url('User/retradepass')}"> -->
                            <ul class="ybc_con">
                                <li class="explanation">{:lang('lan_account_trade_password')}：</li>
                                <li><input name="oldpwd_b" class="sum" type="password" id="oldTrade" maxlength="6"></li>
                                <li class="explanation">{:lang('lan_user_New_transaction_password')}：</li>
                                <li><input name="pwdtrade" class="sum" type="password" id="tradePass" maxlength="6"></li>
                                <li class="explanation">{:lang('lan_user_repeat_transaction_password')}：</li>
                                <li><input name="repwdtrade" class="sum" type="password" id="reptradePass" maxlength="6"></li>
								<div class="forgot_password"><span>{:lang('lan_forgot_trading_password')}?</span></div>
                                <li style="margin-bottom:20px;text-align:center;display: none;">
                                    <span class="note" style="height:40px; line-height:20px;">{:lang('lan_user_picture_request')}</span>
                                </li>
                                <input class="tijiao" value="{:lang('lan_submit')}" type="submit" id="tradeSure">
                            </ul>
                        <!-- </form> -->
                    </div>
                </div>
                <div class="forgetcode">
                	<div class="forgetcode_title">
                		<span>{:lang('lan_retrieve_trading_password')}</span>
                		<i class="iconfont">&#xe64c;</i>
                	</div>
                	<div class="forgetcode_step_one">
                		<div class="forgetcode_title_os">{:lang('lan_security_authentication')}</div>
	                	<div class="forgetcode_input" >
                            <div class="forgetcode_in1_one" data-id="{$data.type}" data-value="{$data.phone}">{if condition="$data['type'] eq 2" } {$data['phone']|substr=0,3}****{$data['phone']|substr=9,2} {else /} {$data['phone']|substr=0,3}****{$data['phone']|substr=8,10} {/if}</div>
		                	<div class="forgetcode_num_mid">
		                		<input type="text" class="forgetcode_in2 forgetcode_in_one" maxlength="6" autocomplete="off" placeholder="{:lang('lan_user_please_enter_the_verification_code')}" oninput = "value=value.replace(/[^\d]/g,'')"/>
		                		<input type="button" class="forgetcode_num_span" id="msgt" value="{:lang('lan_lan_trade_otc_status14')}"></input>
		                	</div>
	                	</div>
	                	<div class="forgetcode_line"></div>
	                	<div class="forgetcode_next">
	                		<span>
	                			<a class="forgetcode_next_change">{:lang('lan_cancel')}</a>
	                		</span>
	                		<input type="button" value="{:lang('lan_next_step')}" class="forgetcode_next_button" id="forgetcode_next" >
	                	</div>
                	</div>
                	
                	<div class="forgetcode_step_two" style="display: none;">
                		<div class="forgetcode_title_os">{:lang('lan_set_new_trading_password')}</div>
	                	<div class="forgetcode_input">
	                	<input type="password" class="forgetcode_in1" autocomplete="off" placeholder="{:lang('lan_new_password_pure_number')}" maxlength="6" oninput = "value=value.replace(/[^\d]/g,'')"/>
		                	<div class="forgetcode_num_mid">
		                		<input type="password" class="forgetcode_in2 forgetcode_in_two" autocomplete="off" placeholder="{:lang('lan_repeat_new_password_pure_number')}" maxlength="6" oninput = "value=value.replace(/[^\d]/g,'')"/>
		                	</div>
	                	</div>
	                	<div class="forgetcode_line"></div>
	                	<div class="forgetcode_next">
	                		<span>
	                			<a class="forgetcode_next_change">{:lang('lan_cancel')}</a>
	                		</span>
	                		<input type="button" value="{:lang('lan_determine')}" class="forgetcode_next_button" id="forgetcode_button">
	                	</div>
                	</div>
                	
                </div>
                <div class="forgetcode_shade"></div>
            </div>
            <script src="__PUBLIC__/static/home/js/uploadify/jquery.uploadify.min.js" type="text/javascript" charset="utf-8"></script>
			<script type="text/javascript" src="__PUBLIC__/static/home/js/user/tab2.js"></script>
			<script src="__PUBLIC__/static/home/js/layer/layer.js"></script>
			<script src="__PUBLIC__/static/home/js/user/password.js"></script>
			<script type="text/javascript" src="__PUBLIC__/static/home/js/user/ajaxfileupload.js"></script>
            <script>
                var regTradePass = /^\d{6}$/;
                $("#oldTrade").on("blur",function(){
                    var _val = $(this).val();
                    if(_val.length <= 0){
                        layer.msg("{:lang('lan_user_trade_not')}");
                        return;
                    }
                    if(!regTradePass.test(_val)){
                        layer.msg("{:lang('lan_user_Transaction_password_space')}");
                        return;
                    }
                });
                $("#tradePass").on("blur",function(){
                    var _val = $(this).val();
                    var repass = $("#reptradePass").val();
                    if(_val.length <= 0){
                        layer.msg("{:lang('lan_user_new_trade_not')}");
                        return;
                    }
                    if(!regTradePass.test(_val)){
                        layer.msg("{:lang('lan_user_Transaction_password_space')}");
                        return;
                    }
                    if(repass){
                        $("#reptradePass").trigger('blur');
                    }
                });
                $("#reptradePass").on("blur",function(){
                    var pass = $("#tradePass").val();
                    var _val = $(this).val();
                    if(_val.length <= 0){
                        layer.msg("{:lang('lan_user_new_retrade_not')}");
                        return;
                    }
                    if(_val != pass){
                        layer.msg("{:lang('lan_user_two_not_same')}");
                        return;
                    }
                    if(!regTradePass.test(_val)){
                        layer.msg("{:lang('lan_user_Transaction_password_space')}");
                        return;
                    }
                });
                $("#tradeSure").on("click",function(){
                    var oldPwd = $("#oldTrade").val(),
                        pass = $("#tradePass").val(),
                        repass = $("#reptradePass").val();
                    if(oldPwd.length <= 0){
                        layer.msg("{:lang('lan_user_trade_not')}");
                        return;
                    }
                    if(pass.length <= 0){
                        layer.msg("{:lang('lan_user_new_trade_not')}");
                        return;
                    }
                    if(repass.length <= 0){
                        layer.msg("{:lang('lan_user_new_retrade_not')}");
                        return;
                    }
                    if(repass != pass){
                        layer.msg("{:lang('lan_user_two_not_same')}");
                        return;
                    }
                    var obj = {
                        oldpwd_b:oldPwd,
                        pwdtrade:pass,
                        repwdtrade:repass,
                    }
                    $.ajax({
                        url:"{:url('User/retradepass')}",
                        type:"POST",
                        data:obj,
                        success:function(data){
                            console.log(data);
                            if(data.status == 1){
                                layer.msg(data.info);
                                setTimeout(function(){
                                    location.href="{:url('Login/index')}";
                                },1000);
                            }else{
                                layer.msg(data.info);
                            }
                        },
                        error:function(error){
                            console.log(error);
                        }
                    });
                });

              $(function(){
                var pass= sessionStorage.getItem("modify_Pass");
                if(pass==1){
                    $("#tagContent0").show();
                    $("#tagContent1").hide();
                    $("#pass_change li").eq(0).addClass("selectTag").siblings().removeClass("selectTag");
                }else if(pass==2){
                    $("#tagContent1").show();
                    $("#tagContent0").hide();
                    $("#pass_change li").eq(1).addClass("selectTag").siblings().removeClass("selectTag");
                }

              })
            </script>
        </div>
        <div class="clear"></div>
    </div>
    </div>
<script>
	
$(".menu8").addClass("uc-current");


// 点击忘记交易密码
$(".forgot_password span").click(function(){
	$(".forgetcode").show();
	$(".forgetcode_shade").show();
});
// 点击X号关闭
$(".iconfont").on("click",function(){
	$(".forgetcode").hide();
	$(".forgetcode_shade").hide();
	$(".forgetcode_step_one").show();
	$(".forgetcode_step_two").hide();
	$(".forgetcode_in2").val("");
	$(".forgetcode_in1").val("");
})
// 点击取消关闭
$(".forgetcode_next_change").on("click",function(){
	$(".forgetcode").hide();
	$(".forgetcode_shade").hide();
	$(".forgetcode_step_one").show();
	$(".forgetcode_step_two").hide();
	$(".forgetcode_in2").val("");
	$(".forgetcode_in1").val("");
	
})

var CodeUrl = "{:url('Sms/code')}";
var emailCodeUrl = "{:url('Email/code')}";
var chongxinfasong = "{:lang('lan_resend_verification_code')}";
var chongxinfasongone = "{:lang('lan_resend_verification_code_one')}";
$('#msgt').click(function() {
    captchaIns.popUp();
    captchaIns.refresh();
    });
	var captchaIns;
	initNECaptcha({
    captchaId: '393c58cccfa44537b90c773fcbcb43cb',
    element: '#msgt',
    mode: 'popup',
    width: 240,
    onReady: function(instance) {
        // 验证码一切准备就绪，此时可正常使用验证码的相关功能
    },
    onVerify: function(err, data) {
        /**
         * 第一个参数是err（Error的实例），验证失败才有err对象
         * 第二个参数是data对象，验证成功后的相关信息，data数据结构为key-value，如下：
         * {
         *   validate: 'xxxxx' // 二次验证信息
         * }
         */
        // 点击登录按钮后可调用服务端接口，以下为伪代码，仅作示例用
        var dataCode = data;
        if (data) {
            var phone = $('.forgetcode_in1_one').attr("data-value");
            var data = $('.forgetcode_in1_one').attr("data-id");
                if(data == 2){
                        $.post(CodeUrl, {phone: encodeURIComponent(phone),validate: dataCode.validate,type:"retradepwd"},
                            function (d) {
                                layer.msg(d.info);
                                if (d.status == 1) {
                                    $("#msgt").attr("data-key", "off");
                                    var i = 120;
                                    var tid2;
                                    tid2 = setInterval(function () {
                                        if ($("#msgt").attr("data-key") == 'off') {
                                            $("#msgt").attr("disabled", true);
											//$("#msgt").css("background", "#ccc");
                                            i--;
                                            $("#msgt").val(i + chongxinfasongone);
                                            if (i <= 0) {
                                                $("#msgt").removeAttr("disabled").val(chongxinfasong);
                                                $("#msgt").attr("data-key", "on");
                                                clearInterval(tid2);
                                            }
                                        }
                                    }, 1000);
                                }
                            });
                }else{
                    $.post(emailCodeUrl, {email: phone,validate: dataCode.validate,type:"retradepwd"},
                        function (d) {
                            layer.msg(d.msg);
                            if (d.status == 1) {
                                $("#msgt").attr("data-key", "off");
                                var i = 120;
                                var tid2;
                                tid2 = setInterval(function () {
                                    if ($("#msgt").attr("data-key") == 'off') {
                                        $("#msgt").attr("disabled", true);
                                        //$("#msgt").css("background", "#ccc");
                                        i--;
                                        $("#msgt").val(i + chongxinfasongone);
                                        if (i <= 0) {
                                            $("#msgt").removeAttr("disabled").val(chongxinfasong);
                                            $("#msgt").attr("data-key", "on");
                                            clearInterval(tid2);
                                        }
                                    }
                                }, 1000);
                            }
                        });
                }
                
           
        }
    }
}, function onload(instance) {
    // 初始化成功
    captchaIns = instance
}, function onerror(err) {
    // 验证码初始化失败处理逻辑，例如：提示用户点击按钮重新初始化
    layer.msg("{:lang('lan_click_button_reinitialize')}")
});
// 下一步

$("#forgetcode_next").on("click",function(){
	var val = $(".forgetcode_in_one").val();
    var phone = $('.forgetcode_in1_one').attr("data-value");
    var data = $('.forgetcode_in1_one').attr("data-id");
    if(data==2){
        var url_check="{:url('Sms/check')}";
        var obj = {
            phone:phone,
            phone_code:val,
            type:"retradepwd",
        };
    }else{
        var url_check="{:url('Email/check')}";
        var obj = {
            email:phone,
            email_code:val,
            type:"retradepwd",
        };
    }


	if(val == ""){
		layer.msg("{:lang('lan_image_code_empty')}");
	}else{
		$.ajax({
			type:"POST",
			url:url_check,
			data:obj,
			success:function(d){
                console.log(d);
				if(d.status != 1){
                    if(data==2){
                        layer.msg(d.info);
                    }else{
                        layer.msg(d.msg);
                    }
					$(".forgetcode_in_one").val("");
				}else{
					$(".forgetcode_step_one").hide();
					$(".forgetcode_step_two").show();
				}
			}
		})
	}
});

// 确定提交修改的交易密码
$("#forgetcode_button").on("click",function(){
	var val = $(".forgetcode_in1").val();
	var reval = $(".forgetcode_in_two").val();
    var code = $(".forgetcode_in_one").val();
    var account = $('.forgetcode_in1_one').attr("data-value");
	var obj = {
		pwd:val,
		repwd:reval,
        code:code,
        account:account,
	}
	if(val == ""){
		layer.msg("{:lang('lan_user_Transaction_password_empty')}");
		return false;
	}else if(reval == ""){
		layer.msg("{:lang('lan_user_Transaction_password_repeat')}");
		return false;
	}else if(val != reval){
		layer.msg("{:lang('lan_user_Transaction_password_tow_same')}");
		$(".forgetcode_in_two").val("");
	}else{
		$.ajax({
			type:"POST",
			url:"{:url('User/update_trade_pwd')}",
			data:obj,
			success:function(d){
				if(d.status != 1){
					layer.msg(d.info);
				}else{
					layer.msg(d.info);
					setTimeout(function(){ window.location.href = "{:url('User/safe')}"}, 1000);
				}
			}
		});
	}
})
</script>