{include file="../app/admin/view/public/left.html" /}
<script type="text/javascript">
window._deel = {
    req_member_details_url: "{:U('member/member_details')}",
}
</script>
<script src="__PUBLIC__/static/admin/js/member_details.js"></script>
<!--/sidebar-->
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list"><i class="icon-font"></i><a href="{:U('Index/index')}">首页</a><span class="crumb-step">&gt;</span><span
                class="crumb-name">白名单列表</span></div>
    </div>
    <div class="search-wrap">
        <div class="search-content">
            <div class="search-wrap">
                <div class="search-content">
                    <form action="{:url('')}" method="get" id="form">
                        <table class="search-tab">
                            <tr>
                                <th  width="60px">用户ID:</th>
                                <td><input class="common-text" placeholder="用户ID" name="member_id" value="{$member_id}"  type="text"></td>
                                <th width="70px">白名单等级:</th>
                                <td>
                                    <select name="rwl_level_id" id="">
                                        <option value="0">全部</option>
                                        {volist name="levelList" id="vo"}
                                        {if $key == $rwl_level_id}
                                        <option value="{$key}" selected>{$vo}</option>
                                        {else/}
                                        <option value="{$key}">{$vo}</option>
                                        {/if}
                                        {/volist}
                                    </select>
                                </td>
                                <th width="70px">用户状态:</th>
                                <td>
                                    <select name="rwl_status" id="">
                                        <option value="0">全部</option>
                                        {volist name="statusList" id="vo"}
                                        {if $key == $rwl_status}
                                        <option value="{$key}" selected>{$vo}</option>
                                        {else/}
                                        <option value="{$key}">{$vo}</option>
                                        {/if}
                                        {/volist}
                                    </select>
                                </td>
                                <td><input class="btn btn-primary btn2" value="查询" type="submit"></td>
                                <td>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="result-wrap">
        <div class="result-title">
            <div class="result-list">
                <a href="{:url('Room/add_white')}"><i class="icon-font"></i>新增白名单</a>
            </div>
        </div>
        <form name="myform" id="myform" method="post">
            <div class="result-content">
                <table class="result-tab" width="100%">
                    <tr>
                        <th>ID</th>
                        <th>用户ID</th>
                        <th>用户昵称</th>
                        <th>等级ID</th>
                        <th>等级名称</th>
                        <th>等级包赢次数</th>
                        <th>赢次数</th>
                        <th>输次数</th>
                        <th>今日赢次数</th>
                        <th>状态</th>
                        <th>最后赢的时间</th>
                        <th>更新时间</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    {volist name="list" id="vo" empty="$empty"}
                        <tr>
                            <td>{$vo.rwl_id}</td>
                            <td><a href="javascript:member_details({$vo.rwl_member_id});" class="shenhe_button">{$vo.rwl_member_id}</a></td>
                            <td>{$vo.nick}</td>
                            <td>{$vo.rwl_level_id}</td>
                            <td>{$levelList[$vo.rwl_level_id]}</td>
                            <td>{$vo.rws_win_num}</td>
                            <td>{$vo.rwl_win_num}</td>
                            <td>{$vo.rwl_lose_num}</td>
                            <td>{$vo.rwl_today_win_num}</td>
                            <td>{$statusList[$vo.rwl_status]}</td>
                            <td>{if $vo.rwl_last_win_time gt 0}{$vo.rwl_last_win_time|date="Y-m-d H:i:s",###}{/if}</td>
                            <td>{if $vo.rwl_update_time gt 0}{$vo.rwl_update_time|date="Y-m-d H:i:s",###}{/if}</td>
                            <td>{$vo.rwl_create_time|date="Y-m-d H:i:s",###}</td>
                            <td>
                                <a href="{:url('add_white',['rwl_id'=>$vo['rwl_id']])}">编辑</a>
                            </td>
                        </tr>
                    {/volist}
                </table>
                <div class="page">
                    <div>
                        {$page}
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!--/main-->
</div>
<script>
    $("#submitDaochu").click(function () {
        $("#daochu").val(2);
        $("#form").submit();
        $("#daochu").val(1);
    })
$('.layer-open').click(function(){
    var title = $(this).attr('data-title');
    var url = $(this).attr('data-url');
    if(!url) return;

    //弹出即全屏
    var index = layer.open({
        type: 2,
        title:title,
        content: url,
        area: ['820px', '495px'],
        maxmin: true,
        scrollbar: false, //屏蔽浏览器滚动条
    });
    layer.full(index);
});

function cancel(id) {
    var conf=confirm("确认取消该用户的持币生息？确认取消后资产返回用户资产中，不产生利息。");
    if(conf==true){
        $.post("{:U('cancel')}",{"id":id},function (d) {
                if(d.code==10000){
                    layer.alert(d.message, {icon: 1});
                    setTimeout(function () {
                        window.parent.location.reload();
                        parent.layer.close(mylay);
                    },2000);
                }else {
                    layer.alert(d.message, {icon: 5});
                }
        },"json");
    }
}
</script>
</body>

</html>