<include file="App/Admin/View/Public/left.html"/>
<script type="text/javascript" src="__PUBLIC__/Home/js/uploadPreview.js"></script>
<!--/sidebar-->
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list"><i class="icon-font"></i><a href="{:U('Index/index')}">首页</a><span class="crumb-step">&gt;</span><span
                class="crumb-name">添加链接</span></div>
    </div>
    <div class="result-wrap">
        <form action="{:U('Link/add_link')}" method="post" id="myform" name="myform" enctype="multipart/form-data">
            <div class="config-items">
                <div class="config-title">
                    <h1><i class="icon-font">&#xe00a;</i>添加链接</h1>
                </div>
                <div class="result-content">
                    <table width="100%" class="insert-tab">
                        <tbody>
                        <notempty name="list">

                        </notempty>
                        <tr>
                            <th><i class="require-red"></i>链接名称：</th>
                            <td><input name="name" type="text" value="{$list['name']}"></td>
                        </tr>
                        <tr>
                            <th><i class="require-red"></i>链接地址：</th>
                            <td><input name="url" type="text" value="{$list['url']}"></td>
                        </tr>
						 <tr>
                        <th>缩略图：</th>
                        <td>
                            <div id="logodiv1">
                                <img style="cursor: pointer; margin:10px;" id="logoShow1" width="200" height="150" src="<?php if(!empty($list['link_pic'])){ ?><?php echo $list['link_pic']; ?><?php }else{ ?>__PUBLIC__/Home/images/add_pics.jpg<?php } ?>"  data-src=""/>
                                <input type="file" id="link_pic" name="link_pic"/>
                            </div>
                            <script type="text/javascript">
                                $('#logodiv1').children('input[id="link_pic"]').hide();
                                $('#logoShow1').on('click', function(e) {
                                    e.preventDefault();
                                    $('#logodiv1').children('input[id="link_pic"]').trigger('click');
                                })
                                $(function(){ new uploadPreview({ UpBtn: "link_pic", DivShow: "logodiv1", ImgShow: "logoShow1" })});
                            </script>
                        </td>
                    </tr>

                        <tr>
                            <th><i class="require-red"></i>链接状态：</th>
                            <td><input name="status" type="radio" value="1"
                                <eq name="list.status" value='1'>checked="checked"</eq>
                                >启用
                                <input name="status" type="radio" value="0"
                                <eq name="list.status" value='0'>checked="checked"</eq>
                                >禁用
                            </td>
                        </tr>
                        <notempty name="list">
                            <tr>
                                <th><i class="require-red"></i>添加时间：</th>
                                <td>{$list.add_time|date="Y-m-d H:i:s",###}
                                </td>
                            </tr>

                            <input type="hidden" name="id" value="{$list['id']}"/>
                        </notempty>
                        <tr>
                            <th></th>
                            <td>
                                <input type="submit" value="提交" class="btn btn-primary btn6 mr10">
                                <a href="{:U('Link/index')}"><input type="button" value="返回" class="btn btn6"></a>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>


<!--/main-->
</div>
</body>
</html>
