    <footer>
        <section class="footer">
            <div class="footer_list">
                <ul class="resources">
                    <li><a href="{$footer.contact_us}">{:lang('lan_Contact')}</a></li>
                    <li><a href="{$footer.about_us}">{:lang('lan_privacy_policy')}</a></li>
                     <li><a href="{$footer.user_agree}">{:lang('lan_user_agreement')}</a></li>
                     <li><a href="{$footer.disclaimer}" target="_blank">{:lang('lan_footer_Disclaimer')}</a></li>

                </ul>
            </div>
            <div class="information">
                <div class=" footer_icon">
                    <img src="__PUBLIC__/static/home/images/QQ.png" >
                    <img src="__PUBLIC__/static/home/images/WX.png" >
                    <img src="__PUBLIC__/static/home/images/dibuLOGO_3.png" >
                    <img src="__PUBLIC__/static/home/images/dibuLOGO_4.png" >
                    <img src="__PUBLIC__/static/home/images/dibuLOGO_5.png" >
                </div>
            </div>
        </section>
    </footer>
</body>

</html>