<include file="App/Admin/View/Public/left.html"/>
<!--/sidebar-->
<script type="text/javascript" src="__PUBLIC__/Admin/js/timejs/js/jquery.min.js"></script>
<link href="__PUBLIC__/Admin/js/timejs/css/datePicker.css" rel="stylesheet" type="text/css" media="all"/>
<script type="text/javascript" src="__PUBLIC__/Admin/js/timejs/js/jquery.date_input.pack.js"></script>
<script type="text/javascript">
    $(function () {
        $('#datePicker1').date_input();
        $('#datePicker2').date_input();
    })
</script>

<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list">
            <i class="icon-font"></i><a href="{:U('Index/index')}">首页</a><span
                class="crumb-step">&gt;</span><span class="crumb-name">活动</span>
        </div>
    </div>
    <div style="float: left; width: 100%;">
        <div class="config-title">
            <h1>
                <i class="icon-font">&#xe00a;</i>列表
            </h1>
        </div>
        <div class="search-wrap">
            <div class="search-content">
                <div class="search-wrap">
                    <div class="search-content">
                        <form id="form" action="{:U('')}" method="post">
                            <table class="search-tab">
                                <tr>
                                    <th width="70">手机号码:</th>
                                    <td><input class="common-text" placeholder="手机号码" name="phone" value="{$get.phone}"
                                               type="text"></td>
                                    <th width="70">用户ID:</th>
                                    <td><input class="common-text" placeholder="用户ID" name="member_id" value="{$get.member_id}"
                                               id="" type="text"></td>
                                    <th width="70">时期筛选:</th>
                                    <td width="70">
                                        <input type="text" id="datePicker1" name="starttime" class="date_picker common-text" style="width: auto;"
                                               placeholder="点击选择日期" value="{$get.starttime}"/>
                                    </td>
                                    <td width="70">
                                        <input type="text" name="endtime" id="datePicker2" class="date_picker common-text" style="width: auto;"
                                               placeholder="点击选择日期" value="{$get.endtime}"/>
                                    </td>
                                    <td><input class="btn btn-primary btn2"  value="查询" type="submit"></td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <table class="result-tab" width="100%">
            <tr>
                <th>用户ID</th>
                <th>用户名</th>
                <th>手机</th>
                <th>邮箱</th>
                <th>邀请量</th>
                <th>日期</th>
                <th>最后更新时间</th>
            </tr>
            <volist name='list' id='vo'>
                <tr>
                    <td>{$vo.member_id}</td>
                    <td>{$vo['name']}</td>
                    <td>{$vo['phone']}</td>
                    <td>{$vo.email}</td>
                    <td>{$vo.total}</td>
                    <td>{$vo['add_time']|date='Y-m-d',###}</td>
                    <td>{$vo['last_time']|date='Y-m-d H:i:s',###}</td>
                </tr>
            </volist>
        </table>
        <div class="list-page">
            <ul>{$page}</ul>
        </div>
    </div>
    <div style="clear: both;"></div>
</div>
</div>
</body>
</html>