{include file="layout/header"}
<div class="weadmin-nav">
    <span class="layui-breadcrumb">
        <a href="javascript:;">财务管理</a> <a href="javascript:;">币种管理</a>
        <a href="javascript:;"> <cite>修改币种</cite></a>
    </span>
    <span class="fr">
        <a class="layui-btn layui-btn-sm" href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon layui-icon-refresh"></i></a>
    </span>
</div>

<div class="weadmin-body">
    <form class="layui-form form" action="">
        <input type="hidden" name="id" value="{$info.currency_id}" >
        <div class="layui-form-item">
            <label class="layui-form-label">货币名称</label>
            <div class="layui-input-block">
                <input type="text" name="form[currency_name]" placeholder="请输入货币名称" value="{$info.currency_name}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">英文标识</label>
            <div class="layui-input-block">
                <input type="text" name="form[currency_mark]" placeholder="请输入英文标识" value="{$info.currency_mark}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-block">
                <input type="text" name="form[sort]" placeholder="请输入排序" value="{$info.sort}" class="layui-input">
                <div class="layui-form-mid layui-word-aux">升序排序 即值小排在前面</div>
            </div>
        </div>

        <div class="layui-form-item">
            <label for="is_line" class="layui-form-label">
                <span class="we-red">*</span>是否上线
            </label>
            <div class="layui-input-block" id="is_line">
                <input type="radio" name="form[is_line]" value="1" title="上线" {if $info->is_line == 1}checked{/if}/>
                <input type="radio" name="form[is_line]" value="0" title="下线" {if $info->is_line == 0}checked{/if}/>
            </div>
        </div>

        <div class="layui-form-item">
            <label for="currency_min_tibi" class="layui-form-label">
                <span class="we-red"></span>最小提币数
            </label>
            <div class="layui-input-block">
                <input type="number" id="currency_min_tibi" name="form[currency_min_tibi]" autocomplete="off" class="layui-input" value="{$info.currency_min_tibi | round=4}">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="recharge_switch" class="layui-form-label">
                <span class="we-red"></span>充币开关
            </label>
            <div class="layui-input-block" id="recharge_switch">
                <input type="radio" name="form[recharge_switch]" value="1" title="开启" {if $info->recharge_switch == 1}checked{/if}/>
                <input type="radio" name="form[recharge_switch]" value="2" title="关闭" {if $info->recharge_switch == 2}checked{/if}/>
            </div>
        </div>

        <div class="layui-form-item">
            <label for="take_switch" class="layui-form-label">
                <span class="we-red"></span>提币开关
            </label>
            <div class="layui-input-block" id="take_switch">
                <input type="radio" name="form[take_switch]" value="1" title="开启" {if $info->take_switch
                ==
                1}checked{/if}/>
                <input type="radio" name="form[take_switch]" value="2" title="关闭" {if $info->take_switch
                ==
                2}checked{/if}/>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="fee_less" class="layui-form-label">
                <span class="we-red"></span>内转手续费
            </label>
            <div class="layui-input-block">
                <input type="number" id="tcoin_fee" name="form[tcoin_fee]" autocomplete="off" class="layui-input" value="{$info.tcoin_fee | round=6}"/>
                <div class="layui-form-mid layui-word-aux">单位：%</div>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="fee_less" class="layui-form-label">
                <span class="we-red"></span>固定手续费
            </label>
            <div class="layui-input-block">
                <input type="number" id="fee_less" name="form[fee_less]" autocomplete="off" class="layui-input" value="{$info.fee_less | round=6}"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label for="fee_greater" class="layui-form-label">
                <span class="we-red"></span>手续费%
            </label>
            <div class="layui-input-block">
                <input type="number" id="fee_greater" name="form[fee_greater]" autocomplete="off" class="layui-input" value="{$info.fee_greater | round=6}"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label for="fee_greater" class="layui-form-label">
                <span class="we-red"></span>
            </label>
            <div class="layui-input-block" style="color:#f00;line-height: 36px;">
                币币交易配置開始
            </div>
        </div>
        <div class="layui-form-item">
            <label for="fee_greater" class="layui-form-label">
                <span class="we-red"></span>买入手续费 x%
            </label>
            <div class="layui-input-block">
                <input type="number" id="currency_buy_fee" name="form[currency_buy_fee]" autocomplete="off" class="layui-input" value="{$info.currency_buy_fee | round=6}"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="fee_greater" class="layui-form-label">
                <span class="we-red"></span>卖出手续费 x%
            </label>
            <div class="layui-input-block">
                <input type="number" id="currency_sell_fee" name="form[currency_sell_fee]" autocomplete="off" class="layui-input" value="{$info.currency_sell_fee | round=6}"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="fee_greater" class="layui-form-label">
                <span class="we-red"></span>交易开关 0开启 1关闭
            </label>
            <div class="layui-input-block">
                <input type="number" id="is_lock" name="form[is_lock]" autocomplete="off" class="layui-input" value="{$info.is_lock | round=6}"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="fee_greater" class="layui-form-label">
                <span class="we-red"></span>是否涨停限制 0开启 1关闭
            </label>
            <div class="layui-input-block">
                <input type="number" id="is_limit" name="form[is_limit]" autocomplete="off" class="layui-input" value="{$info.is_limit | round=6}"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="fee_greater" class="layui-form-label">
                <span class="we-red"></span>涨高限制 x%
            </label>
            <div class="layui-input-block">
                <input type="number" id="max_limit" name="form[max_limit]" autocomplete="off" class="layui-input" value="{$info.max_limit}"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="fee_greater" class="layui-form-label">
                <span class="we-red"></span>跌幅限制 x%
            </label>
            <div class="layui-input-block">
                <input type="number" id="min_limit" name="form[min_limit]" autocomplete="off" class="layui-input" value="{$info.min_limit}"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="fee_greater" class="layui-form-label">
                <span class="we-red"></span>是否开盘时间限制 1开启 0关闭
            </label>
            <div class="layui-input-block">
                <input type="number" id="is_time" name="form[is_time]" autocomplete="off" class="layui-input" value="{$info.is_time}"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="fee_greater" class="layui-form-label">
                <span class="we-red"></span>开盘时间 24小时制
            </label>
            <div class="layui-input-block">
                <input type="number" id="min_time" name="form[min_time]" autocomplete="off" class="layui-input" value="{$info.min_time}"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="fee_greater" class="layui-form-label">
                <span class="we-red"></span>关盘时间 24小时制
            </label>
            <div class="layui-input-block">
                <input type="number" id="max_time" name="form[max_time]" autocomplete="off" class="layui-input" value="{$info.max_time}"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="fee_greater" class="layui-form-label">
                <span class="we-red"></span>
            </label>
            <div class="layui-input-block" style="color:#f00;line-height: 36px;">
                币币交易配置结束
            </div>
        </div>


        <div class="layui-form-item">
            <label for="fee_greater" class="layui-form-label">
                <span class="we-red"></span>积分兑换 是否开启积分兑换
            </label>
            <div class="layui-input-block">
                <input type="number" id="is_otc" name="form[is_otc]" autocomplete="off" class="layui-input" value="{$info.is_otc | round=6}"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="fee_greater" class="layui-form-label">
                <span class="we-red"></span>积分兑换 是否进行涨停价控制
            </label>
            <div class="layui-input-block">
                <input type="number" id="is_make_price" name="form[is_make_price]" autocomplete="off" class="layui-input" value="{$info.is_make_price | round=6}"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="fee_greater" class="layui-form-label">
                <span class="we-red"></span>积分兑换 买最低价
            </label>
            <div class="layui-input-block">
                <input type="number" id="make_min_price" name="form[make_min_price]" autocomplete="off" class="layui-input" value="{$info.make_min_price | round=6}"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="fee_greater" class="layui-form-label">
                <span class="we-red"></span>积分兑换 买最高价
            </label>
            <div class="layui-input-block">
                <input type="number" id="make_max_price" name="form[make_max_price]" autocomplete="off" class="layui-input" value="{$info.make_max_price | round=6}"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="fee_greater" class="layui-form-label">
                <span class="we-red"></span>积分兑换 卖最低价
            </label>
            <div class="layui-input-block">
                <input type="number" id="sell_min_price" name="form[sell_min_price]" autocomplete="off" class="layui-input" value="{$info.sell_min_price | round=6}"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="fee_greater" class="layui-form-label">
                <span class="we-red"></span>积分兑换 卖最高价
            </label>
            <div class="layui-input-block">
                <input type="number" id="sell_max_price" name="form[sell_max_price]" autocomplete="off" class="layui-input" value="{$info.sell_max_price | round=6}"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="fee_greater" class="layui-form-label">
                <span class="we-red"></span>积分兑换 卖手续费%
            </label>
            <div class="layui-input-block">
                <input type="number" id="currency_otc_sell_fee" name="form[currency_otc_sell_fee]" autocomplete="off" class="layui-input" value="{$info.currency_otc_sell_fee | round=6}"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="fee_greater" class="layui-form-label">
                <span class="we-red"></span>积分兑换 买手续费%
            </label>
            <div class="layui-input-block">
                <input type="number" id="currency_otc_buy_fee" name="form[currency_otc_buy_fee]" autocomplete="off" class="layui-input" value="{$info.currency_otc_buy_fee | round=6}"/>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn submit" type="button" lay-submit="" lay-filter="submit" data-url="{:url('edit',['param'=>'currency'])}">立即提交</button>
            </div>
        </div>
    </form>
</div>
<style>

</style>
<script>
    var uploadUrl = "{:url('index/img_upload')}";
    layui.use(['form','add','wpupload'], function() {});
</script>

{include file="layout/footer"}
