{include file="layout/header"}
<div class="weadmin-nav">
    <span class="layui-breadcrumb" style="visibility: visible;">
        <a href="javascript:;">首页</a><a href="javascript:;">财务管理</a>
        <a href="javascript:;"><cite>平台MTK统计</cite></a>
    </span>
    <span class="fr">
        <a class="layui-btn layui-btn-sm" href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon layui-icon-refresh"></i></a>
    </span>
</div>
<div class="weadmin-body">
    <table class="layui-table">
        <thead>
        <tr>
            <th>剩余可用M配额</th>
            <th>剩余可用MTK</th>
            <th>剩余加速器质押MTK</th>
            <th>累计产出MTK</th>
            <th>累计提取MTK</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{$list['mtk_num'] | round=6}</td>
            <td>{$list['m_num'] | round=6}</td>
            <td>{$list['num'] | round=6}</td>
            <td>{$list['produce_num'] | round=6}</td>
            <td>{$list['extract_num'] | round=6}</td>
        </tr>
        </tbody>
    </table>
</div>

{include file="layout/footer"}
