{include file="layout/header"}
<div class="weadmin-nav layui-clear">
    <span class="layui-breadcrumb">
        <a href="javascript:;">首页</a> <a href="javascript:;">财务管理</a> <a><cite>提币管理</cite></a>
    </span>

    <span class="fr">
        <a class="layui-btn layui-btn-sm" href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon layui-icon-refresh"></i></a>
    </span>
</div>
<div class="weadmin-body">
    <div class="layui-row">
        <form class=" layui-col-md12 we-search">
            <div class="layui-inline">
                <label></label>
                <input class="layui-input" placeholder="请输入手机号码" name="phone" value="{$Think.get.phone}" />
            </div>
            <div class="layui-inline">
                <label></label>
                <input class="layui-input" placeholder="请输入会员UID" name="member_id" value="{$Think.get.member_id}" />
            </div>
            <div class="layui-inline">
                <label></label>
                <input class="layui-input" placeholder="请输入接收地址" name="url" value="{$Think.get.url}" />
            </div>
<!--            <div class="layui-inline">-->
<!--                <label></label>-->
<!--                <input class="layui-input" placeholder="请输入标签" name="tag" value="{$Think.get.tag}" />-->
<!--            </div>-->
<!--            <div class="layui-inline">-->
<!--                <label>审核状态: </label>-->
<!--                <select style="display: inline; width: 100px;" class="layui-select" name="status">-->
<!--                    <option value="">全部</option>-->
<!--                    <option value="1" {if condition="$Think.get.status ==1"}selected{/if} >通过</option>-->
<!--                    <option value="2" {if condition="$Think.get.status ==2"}selected{/if} >拒绝</option>-->
<!--                </select>-->
<!--            </div>-->
            <div class="layui-inline">
                <label>积分类型: </label>
                <select style="display: inline; width: 100px;" class="layui-select" name="currency_id">
                    <option value="">全部</option>
                    {volist name="curr" id='vo'}
                    <option value="{$vo.currency_id}" {if condition="$Think.get.currency_id == $vo.currency_id"}selected{/if}>{$vo.currency_name}({$vo.currency_mark})</option>
                    {/volist}
                </select>
            </div>
            <button class="layui-btn" lay-submit="" lay-filter="sreach">
                <i class="layui-icon layui-icon-search"></i>
            </button>
        </form>
    </div>
    <form class="layui-form" >
        <table  class="layui-table" id="memberList" lay-filter="table-list">
            <thead>
                <tr>
                    <th lay-data="{align:'center',width:140}">ID</th>
                    <th lay-data="{align:'center',width:140}">会员邮箱</th>
                    <th lay-data="{align:'center',width:140}">会员ID</th>
                    <th lay-data="{align:'center',width:140}">姓名</th>
                    <th lay-data="{align:'center',width:140}">手机</th>
                    <th lay-data="{align:'center',width:140}">币类型名称</th>
                    <th lay-data="{align:'center',width:140}">转出钱包地址</th>
                    <th lay-data="{align:'center',width:140}">转出数量</th>
                    <th lay-data="{align:'center',width:140}">实际数量</th>
                    <th lay-data="{align:'center',width:100}">申请时间</th>
                    <th lay-data="{align:'center',width:160}">状态</th>
                    <th lay-data="{align:'center',width:160}">一审</th>
                    <th lay-data="{align:'center',width:160}">二审</th>
                    <th lay-data="{align:'center',fixed: 'right',width:230}">操作</th>
                </tr>
            </thead>
            <tbody>
                {volist name='list' id='vo'}
                <tr data-id="{$vo['id']}">
                    <td>{$vo['id']}</td>
                    <td>{$vo['email']}</td>
                    <td><a href="javascript:member_details({$vo.member_id});" class="shenhe_button">{$vo['member_id']}</a>
                    </td>
                    <td>{$vo['name']}</td>
                    <td>{$vo['phone']}</td>
                    <td>{$vo['currency_name']}</td>
                    <td>{$vo['to_url']}</td>
<!--                    <td>{$vo['tag']}</td>-->
                    <td>{$vo['num'] | round=6}</td>
                    <td>{$vo['actual'] | round=6}</td>
                    <td>{$vo['add_time']|date='Y-m-d H:i:s',###}</td>
                    <td>
                        {if condition="$vo['status'] eq 0"}
                        等待确认中
                        {/if}
                        {if condition="$vo['status'] eq 1"}
                        已完成
                        {/if}
                        {if condition="$vo['status'] eq -1"}
                        审核中
                        {/if}
                        {if condition="$vo['status'] eq -2"}
                        已撤销
                        {/if}
                    </td>
                    <td>
                        <form action="{:url('Currency/tibilist',['param'=>'tibilist'])}" method="post">
                            <input name="message1" type="text" value="{$vo.message1}" style="height:40px;padding-left:5px;"/>
                            <input type="hidden" value="{$vo['member_id']}" name="m_id"/>
                            <input type="hidden" value="{$vo['id']}" name="id"/>
                            <input name="mit" value="提&nbsp;&nbsp;交" type="submit" align="center"
                                   style="font-family:'微软雅黑'; width:50px; height:30px; font-size:14px; color:#fff; background:#711818; cursor:pointer;"/>
                        </form>
                    </td>
                    <td>
                        <form action="{:url('Currency/tibilist',['param'=>'tibilist'])}" method="post">
                            <input name="message2" type="text" value="{$vo.message2}" style="height:40px;padding-left:5px;">
                            <input type="hidden" value="{$vo['member_id']}" name="m_id">
                            <input type="hidden" value="{$vo['id']}" name="id">
                            <input name="mit2" value="提&nbsp;&nbsp;交" type="submit" align="center"
                                   style="font-family:'微软雅黑'; width:50px; height:30px; font-size:14px; color:#fff; background:#711818; cursor:pointer;">
                        </form>
                    </td>
                    <td class="td-manage">
                        {if condition="$vo['status'] eq -1"}
                        <a class="link-update" href="javascript:void(0);" onclick="qrcode({$vo.id});">二维码</a>
                        &nbsp;&nbsp;
                        <a class="link-update" href="javascript:void(0);" onclick="pass({$vo.id});">通过</a>
                        &nbsp;&nbsp;
                        <a class="link-del" href="javascript:void(0);" onclick="fail({$vo.id})">不通过</a>
                        {elseif condition="$vo['status'] eq 1"/}
                        通过
                        {elseif condition="$vo['status'] eq 0"/}
                        等待确认中
                        {else/}
                        不通过
                        {/if}
                    </td>
                </tr>
                {/volist}
            </tbody>
        </table>
    </form>
    <div class="page">
        <div>
            {$page}
        </div>
    </div>
</div>
<script>
    layui.use(['form','global', 'table']);
</script>
{include file="layout/footer"}
