{if condition="!$Think.get.layui"}
    {include file="../app/admin/view/public/left.html" /}
{else /}
    <style>
        .main-wrap {
            margin-left: 10px;
        }
    </style>
{/if}

<script src="__PUBLIC__/static/admin/js/member_details.js"></script>
<div class="main-wrap">

    <div class="crumb-wrap">
        <div class="crumb-list"><i class="icon-font"></i><a href="{:url('Index/index')}">首页</a><span class="crumb-step">&gt;</span><span
                class="crumb-name">太空计划动力源列表</span></div>
    </div>

    <div class="result-wrap ">
        <div>
            {if condition="!$Think.get.layui"}
            <form class="layui-form we-search" method="GET" action="{:url('')}">
                <input type="hidden" name="param" value="{$param|default=''}">

                <div class="layui-input-inline">
                    <input type="text"  name="user_id" placeholder="请输入用户ID" autocomplete="off" class="layui-input" value="{$Think.get.user_id}" />
                </div>

                <div class="layui-input-inline">
                    <input type="text" name="user_phone" placeholder="请输入用户账户" autocomplete="off" class="layui-input" value="{$Think.get.user_phone}" />
                </div>

                <button class="layui-btn" lay-submit="" lay-filter="sreach">
                    <i class="layui-icon layui-icon-search"></i>
                </button>
            </form>
            {/if}
        </div>

        <div class="result-content"  style="margin-top: 20px;">
            <form class="layui-form" >
                <table class="layui-table" id="memberList">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>用户</th>
                        <th>数量</th>
                        <td>可用数量</td>
                        <td>云攒金数量</td>
                        <td>转换后云攒金数量</td>
                        <td>添加时间</td>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="list" id="v"}
                    <tr>
                        <td>{$v.id}</td>
                        <td>
                            <a href="javascript:void(0);" onclick="member_details({$v.member_id})">
                                {if condition="$v.users.phone"}
                                {$v.users.phone}
                                {else /}
                                {$v.users.email}
                                {/if}
                                ({$v.member_id})
                            </a>
                        </td>
                        <td>
                            <a href="javascript:;" class="layui-open"  data-url="{:url('power_detail')}?user_id={$v.member_id}&add_time={:strtotime(date('Y-m-d',$v['add_time']))}" data-title="{$v.id}动力源详情">{$v.num}</a>
                        </td>
                        <td>{$v.num_num} {$v.currency.currency_name}</td>
                        <td>{$v.air_num} {$v.currency.currency_name}</td>
                        <td>{$v.air_real_num}</td>
                        <td>{:date('Y-m-d H:i:s',$v['add_time'])}</td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
            </form>
            <div class="page">
                <div>
                    {$page}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use(['form','global']);
</script>
<!--/main-->
</div>
</body>
</html>
