<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>动态分红明细</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/iconfont/demo.css">

    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/layer/layer.js"></script>
    <script src="__PUBLIC__/js/laydate/laydate.js"></script>
    <style>
        .user_profile {
            padding: 20px;
        }
        .user_profile .nav {
            z-index: 999;
            background-color: #fff;
        }
        .user_profile .profile_content {
            z-index: 1;
        }
        .user_profile .profile_content > div {
            margin: 20px auto auto;
            display: none;
        }
        .select_currency {
            margin-bottom: 20px;
        }
        .badge {
            color: #333;
            background-color: #ebebeb;
        }
        .table-striped > tbody > tr:nth-of-type(odd) {
            background-color: #c6e0b4;
        }
        #laydate_ys{width: 120px;}
    </style>
</head>
<body>
<div class="user_profile">
    <div class="profile_content">
        <div class="row hyxx" style="display: inherit;">
            <div class="col-md-10" style="padding-left: 0;">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">当天波比</div>
                    <!-- Table -->
                    <table class="table table-striped table-bordered table-hover user_info">
                        <thead>
                        <tr>
                            <th>日期</th>
                            <th>昨日入金总额</th>
                            <th>昨日XRP入金总额</th>
                            <th>昨日瑞波钻入金总额</th>
                            <th>昨日瑞波金入金总额</th>
                            <th>静态分红总额</th>
                            <th>静态波比</th>
                            <th>动态分红总额</th>
                            <th>动态波比</th>
                            <th>分红总额</th>
                        </tr>
                        </thead>
                        <tbody>
                        <notempty name="bouns_total">
                            <tr>
                                <td>{:date('Y-m-d',$bouns_total['add_time'])}</td>
                                <td>{$bouns_total.pay_number}</td>
                                <td>{$bouns_total.xrp_num}</td>
                                <td>{$bouns_total.xrpz}</td>
                                <td>{$bouns_total.xrpj}</td>
                                <td>{$bouns_total.base_num}</td>
                                <td>{:keepPoint($bouns_total['base_num']/$bouns_total['total_pay_number']*100,2)}%</td>
                                <td>{$bouns_total.bouns_num}</td>
                                <td>{:keepPoint($bouns_total['bouns_num']/$bouns_total['pay_number']*100,2)}%</td>
                                <td>{:keepPoint($bouns_total['bouns_num']+$bouns_total['base_num'],6)}</td>
                            </tr>
                        </notempty>
                        </tbody>
                    </table>
                </div>

                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">动态分红明细</div>
                    <!-- Table -->
                    <table class="table table-striped table-bordered table-hover user_currency">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>用户ID</th>
                            <th>用户信息</th>
                            <th>直属上级ID</th>
                            <!-- <th>直属上级信息</th> -->
                            <th>付款用户ID</th>
                            <!-- <th>付款用户信息</th> -->
                            <!-- <th>票数</th> -->
                            <!-- <th>入金容积</th> -->
                            <th>实际支付</th>
                            <th>XRP支出</th>
                            <th>瑞波钻支出</th>
                            <th>瑞波金支出</th>
                            <th>添加时间</th>
                            <th>分红比例</th>
                            <th>分红详情</th>
                            <th>本人分红</th>
                        </tr>
                        </thead>
                        <tbody>
                            <volist name='buy_log' id='vo'>
                                <tr>
                                    <td>{$vo.id}</td>
                                    <td>{$vo.member_id}</td>
                                    <td>
                                        <notempty name='vo.name'>{$vo.name}</notempty>{$vo.phone} 
                                    </td>
                                    <td>直属:{$vo.pid}</td>
                                    <!-- <td>{$vo.pid_name}:{$vo.pid_phone}</td> -->
                                    <td>{$vo.pay_id}</td>
                                    <!-- <td>{$vo.pay_name}:{$vo.pay_phone}</td> -->
                                    <!-- <td>{$vo.votes}</td> -->
                                    <!-- <td>{$vo.total}</td> -->
                                    <td>{$vo.pay_number}</td>
                                    <td>{$vo.xrp_num}</td>
                                    <td>{$vo.xrpz}</td>
                                    <td>{$vo.xrpj}</td>
                                    <td>{:date('Y-m-d H:i',$vo['add_time'])}</td>
                                    <td>{$vo.percent}%</td>
                                    <td>{$vo.detail}</td>
                                    <td>{$vo.self}</td>
                                </tr>
                            </volist>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-2" style="padding-right: 0;">
                <ul class="list-group">
                    <!-- <li class="list-group-item">团队汇总(包含上下级)</li> -->
                    <li class="list-group-item">个人信息</li>
                    <li class="list-group-item">
                        <span class="badge">{$tibi_total.child_sum}</span>
                        下级成员个数
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{$tibi_total.chongbi_sum}</span>
                        充币
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{$tibi_total.tibi_sum}</span>
                        提币
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{$tibi_total.xrpj_chongzhi}</span>
                        瑞波金充值
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{$tibi_total.bouns_team_num}</span>
                        总分红收益
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{$tibi_total.pay_number}</span>
                        总入金
                    </li>
                </ul>
    
    
                <ul class="list-group">
                    <li class="list-group-item">当天领取动态收益</li>
                    <volist name='receive_log' id='vo'>
                        <li class="list-group-item">
                            <span class="badge">{$vo.num}</span>
                            <if condition="$vo.type eq 6">
                                社区奖励
                            <elseif condition="$vo.type eq 7" />
                                平级奖励
                            <elseif condition="$vo.type eq 8" />
                                管理奖励
                            <elseif condition="$vo.type eq 5" />
                                推荐奖励
                            <elseif condition="$vo.type eq 4" />
                                幸运赠送
                            <elseif condition="$vo.type eq 3" />
                                一级分红
                            <elseif condition="$vo.type eq 2" />
                                增加分红
                            <elseif condition="$vo.type eq 1" />
                                基础分红
                            <elseif condition="$vo.type eq 10" />
                                创业奖励
                            </if>
                        </li>
                    </volist>
                </ul>

<!--                 <ul class="list-group">
                    <li class="list-group-item">当天动态收益明细汇总</li>
                    <volist name='detail_sum' id='vo'>
                        <li class="list-group-item">
                            <span class="badge">{$vo}</span>
                            <if condition="$key eq 6">
                                社区奖励
                            <elseif condition="$key eq 7" />
                                平级奖励
                            <elseif condition="$key eq 8" />
                                管理奖励
                            <elseif condition="$key eq 5" />
                                推荐奖励
                            </if>
                        </li>
                    </volist>
                </ul> -->
            </div>
        </div>
    </div>
</div>
</body>
</html>

<script type="text/javascript">
</script>