<include file="App/Admin/View/Public/left.html"/>
<!--/sidebar-->
<div class="main-wrap">

    <div class="crumb-wrap">
        <div class="crumb-list"><i class="icon-font"></i><a href="{:U('Index/index')}">首页</a><span class="crumb-step">&gt;</span><span
                class="crumb-name">动态分红设置</span></div>
    </div>
    <div class="search-wrap">

    </div>
    <div class="result-wrap">


        <div class="result-content">
            <table class="result-tab" width="100%">
                <tr>
                    <th>类型</th>
                    <th>操作</th>
                </tr>
                <?php foreach((array)$list as $k=>$vo):?>
                    <tr>
                        <td>
                            <if condition="$vo.key eq 'param'">
                                静态分红
                            <elseif condition="$vo.key eq 'dynamic'" />
                                动态分红
                            <elseif condition="$vo.key eq 'entrepreneur'" />
                                创业分红
                            </if>
                        </td>
                        <td>
                            <a class="link-update" href="{:U('BossPlan/updateConfig',array('key'=>$vo['key']))}">修改</a>
                        </td>
                    </tr>
                <?php endforeach;?>
            </table>
        </div>

    </div>
</div>
<!--/main-->
</div>
</body>
</html>
