{include file="layout/header"}
<div class="weadmin-nav layui-clear">
    <span class="layui-breadcrumb">
        <a href="javascript:;">首页</a> <a href="javascript:;">果园管理</a> <a><cite>农庄晋级</cite></a>
    </span>

    <span class="fr">
        <a class="layui-btn layui-open" data-url="{:url('add')}" data-title="添加" data-width="800px" href="javascript:;" style="display: none;">添加</a>
        <a class="layui-btn" href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon layui-icon-refresh"></i></a>
    </span>
</div>

<div class="weadmin-body">
    <div class="layui-row" style="display: none;">
        <form class=" layui-col-md12 we-search">
            搜索数据：
            <div class="layui-inline">
                <label></label>
                <input class="layui-input" placeholder="请输入用户ID" name="member_id" value="{$Think.get.member_id}" />
            </div>
            <button class="layui-btn" lay-submit="" lay-filter="sreach">
                <i class="layui-icon layui-icon-search"></i>
            </button>
        </form>
    </div>
    <form class="layui-form" >
        <table class="layui-table" id="memberList">
            <thead>
            <tr>
                <th>等级名称</th>
                <th>招募农工</th>
                <th>大区人数</th>
                <th>小区人数</th>
                <th>消耗贡献值</th>
                <th>培育数量</th>
                <th>团队奖励</th>
                <th>等级状态</th>
                <th>等级操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name='list' id='vo'}
            <tr>
                <td>{$vo.title}</td>
                <td>{$vo.worker}</td>
                <td>{$vo.active_max}</td>
                <td>{$vo.active_min}</td>
                <td>{$vo.expend}</td>
                <td>{$vo.breed}{if ($vo.pid)} {$vo.pid}{/if}</td>
                <td>{$vo.reward}%</td>
                <td>{if ($vo.status == 1)} 隐藏 {else} 显示 {/if}</td>
                <td>
                    <a class="layui-btn layui-btn-sm layui-open" data-url="{:url('grade_update',['param'=>'grade','id'=>$vo.id])}" data-title="修改等级"  href="javascript:;">修改</a>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </form>
    <div class="weadmin-block">
        <span class="fr" style="line-height:40px">共有：{$count|default=0} 条</span>
    </div>
    <div class="page">
        <div>
            {$page}
        </div>
    </div>
</div>
<script>
    layui.use(['form', 'global', 'index']);
</script>
{include file="layout/footer"}
