{include file="layout/header"}
<div class="weadmin-nav layui-clear">
    <span class="layui-breadcrumb">
        <a href="javascript:;">首页</a> <a href="javascript:;">果园管理</a> <a><cite>管理奖</cite></a>
    </span>

    <span class="fr">
        <a class="layui-btn layui-open" data-url="{:url('add')}" data-title="添加" data-width="800px" href="javascript:;" style="display: none;">添加</a>
        <a class="layui-btn" href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon layui-icon-refresh"></i></a>
    </span>
</div>

<div class="weadmin-body">
    <div class="layui-row">
        <form class=" layui-col-md12 we-search">
            搜索数据：
            <div class="layui-inline">
                <label></label>
                <input class="layui-input" placeholder="请输入用户ID" name="member_id" value="{$Think.get.member_id}" />
            </div>
            <div class="layui-inline">
                <label></label>
                <input class="layui-input" placeholder="请输入下级用户ID" name="child_id" value="{$Think.get.child_id}" />
            </div>
            <button class="layui-btn" lay-submit="" lay-filter="sreach">
                <i class="layui-icon layui-icon-search"></i>
            </button>
        </form>
    </div>
    <form class="layui-form" >
        <table class="layui-table" id="memberList">
            <thead>
            <tr>
                <th>用户信息</th>
                <th>用户等级</th>
                <th>关系等级</th>
                <th>下级用户</th>
                <th>果树名称</th>
                <th>果树价格</th>
                <th>奖励比例</th>
                <th>奖励数量</th>
                <th>获得种子</th>
                <th>获得果肉</th>
                <th>奖励时间</th>
            </tr>
            </thead>
            <tbody>
            {volist name='list' id='vo'}
            <tr>
                <td>{$vo.ename}({$vo.member_id})</td>
                <td>{$vo.level_title}</td>
                <td>{$vo.bind_level}</td>
                <td>{$vo.child_name}({$vo.child_id})</td>
                <td>{$vo.title}</td>
                <td>{$vo.total_price}</td>
                <td>{$vo.ratio}%</td>
                <td>{$vo.rewards}</td>
                <td>{$vo.seed_num}</td>
                <td>{$vo.pulp_num}</td>
                <td>{$vo.add_time|date="Y-m-d H:i:s",###}</td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </form>
    <div class="weadmin-block">
        <span class="fr" style="line-height:40px">共有：{$count|default=0} 条</span>
    </div>
    <div class="page">
        <div>
            {$page}
        </div>
    </div>
</div>
<script>
    layui.use(['form', 'global', 'index']);
</script>
{include file="layout/footer"}
