{include file="../app/admin/view/public/left.html" /}
<!--/sidebar-->
<!--<script type="text/javascript" src="__PUBLIC__/Admin/js/timejs/js/jquery.min.js"></script>-->
<link href="__PUBLIC__/static/admin/js/timejs/css/datePicker.css" rel="stylesheet" type="text/css" media="all"/>
<script type="text/javascript" src="__PUBLIC__/static/admin/js/timejs/js/jquery.date_input.pack.js"></script>
<script type="text/javascript">
    $(function () {
        $('#datePicker').date_input();
        $('#datePicker2').date_input();
    })
</script>
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list"><i class="icon-font"></i><a href="{:U('Index/index')}">首页</a><span class="crumb-step">&gt;</span><span
                class="crumb-name">财务日志</span></div>
    </div>

    <div class="search-wrap">
        <div class="search-content">
            <div class="search-wrap">
                <div class="search-content">
                    <form action="{:U('Exceldata/excel_pay_index')}" method="post">
                        <table class="search-tab">
                            <tr>
                                <th width="120">选择分类:</th>
                                <td>
                                    <select name="type_id" id="">
                                        <option value="0">全部</option>
                                        {volist name='type' id='vo'}
                                            <option value="{$vo.id}">{$vo.name}</option>
                                        {/volist}
                                    </select>
                                </td>
                                <th width="70">用户:</th>
                                <td><input class="common-text" placeholder="用户" name="name" value="{:input('name')}"
                                           type="text"></td>
                                <th width="70">用户ID:</th>
                                <td><input class="common-text" placeholder="用户ID" name="member_id" value="{:input('member_id')}"
                                            type="text"></td>
                                <th width="70">选择时间：</th>

                                <td><input type="text" id="datePicker" name="datePicker" class="date_picker"
                                           placeholder="点击选择日期" value="{:input('datePicker1')}"/>
                                    <input type="text" name="datePicker2" id="datePicker2"
                                                                        class="date_picker" placeholder="点击选择日期" value="{:input('datePicker2')}"/></td>

                                <td><input class="btn btn-primary btn2" name="sub" value="导出" type="submit"></td>


                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>