<include file="App/Admin/View/Public/left.html"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/show.css"/>
<script>
    window._deel = {
        req_member_details_url: "{:U('member/member_details')}",
    }
</script>
<script src="__PUBLIC__/Admin/js/member_details.js"></script>
<!--/sidebar-->
<div class="main-wrap">

    <div class="crumb-wrap">
        <div class="crumb-list"><i class="icon-font"></i><a href="{:U('Index/index')}">首页</a><span class="crumb-step">&gt;</span><span
                class="crumb-name">充积分记录</span></div>
    </div>
    <div class="search-wrap">
        <div class="search-content">
            <form action="{:U('DataAnalysis/chongzhi_data')}" method="post">
                <table class="search-tab">
                    <tr>
                        <th width="70">会员账号:</th>
                        <td><input class="common-text" placeholder="关键字" name="email" type="text"></td>
                        <th width="70">会员UID:</th>
                        <td><input class="common-text" placeholder="关键字" name="member_id" type="text"></td>
                        <th width="70">冲积分URL:</th>
                        <td><input class="common-text" placeholder="关键字" name="url" type="text"></td>
                        <td><select name="cuid">
                            <option value="1">全部</option>
                            <volist name="curr" id='vo'>
                                <option value="{$vo.currency_id}">{$vo.currency_name}</option>
                            </volist>


                        </select></td>
                        <td><input class="btn btn-primary btn2" value="查询" type="submit"></td>
                    </tr>
                </table>
            </form>

        </div>
    </div>
    <div class="result-wrap">

        <div class="result-title">
            <div class="result-list">
            </div>
        </div>
        <div class="result-content">
            <table class="result-tab" width="100%">
                <tr>

                      <th>日期</th>
                    <th>积分类型名称</th>
                    
                    <th>转入数量</th>
                 
                  

                    <th>状态</th>
                    
                </tr>
                <volist name='list' id='vo'>
                    <tr>

                         <td>{$vo['add_time']}</td>
                        <td>{$vo['currency_name']}</td>
                        
                        <td>{$vo['num']}</td>
                        
                       


                        <td>
                            <if condition="$vo['status'] eq 2">
                                充值中...
                            </if>
                            <if condition="$vo['status'] eq 3">
                                充值完成
                            </if>
                            <if condition="$vo['status'] eq 4">
                                奖励完成
                            </if>
                        </td>
                        
                    </tr>
                </volist>

            </table>
            <div class="list-page">
                <ul>{$page}</ul>
            </div>
        </div>
    </div>
</div>
<!--/main-->
</div>
</body>
</html>