<include file="App/Admin/View/Public/left.html"/>
<!--/sidebar-->
<script type="text/javascript" src="__PUBLIC__/Admin/js/timejs/js/jquery.min.js"></script>
<link href="__PUBLIC__/Admin/js/timejs/css/datePicker.css" rel="stylesheet" type="text/css" media="all"/>
<script type="text/javascript" src="__PUBLIC__/Admin/js/timejs/js/jquery.date_input.pack.js"></script>
<script type="text/javascript">
    $(function () {
        $('#datePicker').date_input();
        $('#datePicker2').date_input();
    })
</script>
<div class="main-wrap">


    <div class="crumb-wrap">
        <div class="crumb-list"><i class="icon-font"></i><a href="{:U('Index/index')}">首页</a><span class="crumb-step">&gt;</span><span
                class="crumb-name">全站收支信息统计</span></div>
    </div>
    <div class="search-wrap">
        <div class="search-content">
            <div class="search-wrap">
                <div class="search-content">
                    <form action="{:U('DataAnalysis/financestatistics')}" method="post">
                        <table class="search-tab">
                            <tr>

                                <!--   <th width="120">汇款人ID号:</th>
                                  <td><input class="common-text" placeholder="汇款人ID号" name="member_id" value="<?php echo $member_id;?>" id="" type="text"></td>
                                  -->
                                <th width="120">选择付款分类:</th>
                                <td>
                                    <select name="status" id="status">
                                        <option
                                        <?php if($status==0){echo 'selected';} ?> value="0">全部</option>
                                        <option
                                        <?php if($status==1){echo 'selected';} ?> value="1">未通过</option>
                                        <option
                                        <?php if($status==2){echo 'selected';} ?> value="2">通过</option>
                                        <option
                                        <?php if($status==3){echo 'selected';} ?> value="3">审核中</option>
                                        <option
                                        <?php if($status==4){echo 'selected';} ?> value="4">付款成功</option>
                                        <option
                                        <?php if($status==9){echo 'selected';} ?> value="9">已撤销</option>
                                    </select>
                                </td>

                                <th width="120">选择充值分类:</th>
                                <td>
                                    <select name="status2" id="">
                                        <option value="">全部</option>
                                        <option
                                        <?php if($status2==4){echo 'selected';} ?> value="4">未付款</option>
                                        <option
                                        <?php if($status2==1){echo 'selected';} ?> value="1">充值成功</option>
                                        <option
                                        <?php if($status2==2){echo 'selected';} ?> value="2">充值失败</option>
                                        <option
                                        <?php if($status2==3){echo 'selected';} ?> value="3">已失效</option>
                                    </select>
                                </td>


                                <th width="120">选择时间：</th>
                                <td>
                                    <input type="text" id="datePicker" name="datePicker1" class="date_picker"
                                           placeholder="点击选择日期" value="<?php echo $datePicker1;?>"/>
                                    <input type="text" name="datePicker2" id="datePicker2" class="date_picker"
                                           placeholder="点击选择日期" value="<?php echo $datePicker2;?>"/>
                                </td>

                                <td><input class="btn btn-primary btn2" name="sub" value="查询" type="submit"></td>

                            </tr>
                           <!--  <tr>
                                <td width="180">提现总计：<?php echo $sum_money_all; ?></td>
                                <td width="180">提现实计：<?php echo $sum_money; ?></td>
                                <td width="180">提现手续费：<?php echo $withdraw_fee; ?></td>
                                <td width="180">提现单数：<?php echo $withdraw_count; ?></td>
                                <td width="180">充值总计：<?php echo $pay_money; ?></td>
                                <td width="180">充值单数：<?php echo $pay_count; ?></td>
                                <td width="180">注册人数：<?php echo $member_count; ?></td>

                            </tr>--> 
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="result-wrap">
        <div class="result-content">
            <table class="result-tab">
                <tr>
                    <th width="180">日期</th>
                    <th width="180">充值单数</th>
                    <th width="180">充值金额</th>
                    <th width="180">提现单数</th>
                    <th width="180">提现金额</th>

                    <th width="180">提现实际金额</th>
                    <th width="180">提现手续费</th>


                    <th width="180">提现状态</th>

                    <th width="180">新注册人数</th>
                </tr>
                <volist name="list" id="vo" empty="$empty">
                    <tr>
                        <td width="180">{$vo.year}年{$vo.month}月{$vo.day}日</td>
                        <td width="180">{$vo.pay_count}</td>

                        <td width="180">{$vo.pay_allmoney}</td>
                        <td width="180">{$vo.count}</td>
                        <td width="180">{$vo.all_money}</td>

                        <td width="180">{$vo.money}</td>
                        <td width="180">{$vo.withdraw_fee}</td>


                        <td width="180">
                            <eq name="vo.status" value="1">未通过
                                <else/>
                                <eq name="vo.status" value="2"><span
                                        style="color:#f00;font-weight:bolder;font-size:14px;">通过</span>
                                    <else/>
                                    <eq name="vo.status" value="0">已撤销
                                        <else/>
                                        <eq name="vo.status" value="-1">付款失败
                                            <else/>
                                            <eq name="vo.status" value="4">付款成功
                                                <else/>
                                                审核中
                                            </eq>
                                        </eq>
                                    </eq>
                                </eq>
                            </eq>
                        </td>
                        <td width="180">{$vo.count_member}</td>
                    </tr>
                </volist>
            </table>
            <div class="list-page">
                <ul>{$page}</ul>
            </div>
        </div>
    </div>
</div>
<!--/main-->
</div>
</body>
</html>