<include file="App/Admin/View/Public/left.html"/>

<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/show.css"/>
<script type="text/javascript" src="__PUBLIC__/Admin/js/timejs/js/jquery.min.js"></script>
<link href="__PUBLIC__/Admin/js/timejs/css/datePicker.css" rel="stylesheet" type="text/css" media="all"/>
<script type="text/javascript" src="__PUBLIC__/Admin/js/timejs/js/jquery.date_input.pack.js"></script>
<script type="text/javascript">
    $(function () {
        $('#datePicker').date_input();
        $('#datePicker2').date_input();
    });

    window._deel = {
        req_member_details_url: "{:U('member/member_details')}",
    }
</script>
<script src="__PUBLIC__/Admin/js/member_details.js"></script>
<!--/sidebar-->
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list"><i class="icon-font"></i><a href="{:U('Index/index')}">首页</a><span class="crumb-step">&gt;</span><span
                class="crumb-name">交易记录</span></div>
    </div>
    <div class="search-wrap">
        <div class="search-content">
            <div class="search-wrap">
                <div class="search-content">
                    <form action="{:U('DataAnalysis/trade_data')}" method="post">
                        <table class="search-tab">
                            <tr>
                                <th width="120">选择积分类型:</th>
                                <td>
                                    <select name="currency_id" id="">
                                        <option value="0">全部</option>
                                        <volist name="currency" id="vo">
                                            <option value="{$vo['currency_id']}">{$vo['currency_name']}</option>
                                        </volist>
                                    </select>
                                </td>
                                <th width="120">选择类型:</th>
                                <td>
                                    <select name="type" id="">
                                        <option value="0">全部</option>
                                        <option value="buy">买入</option>
                                        <option value="sell">卖出</option>
                                    </select>
                                </td>
                                <!--   <th width="70">选择时间：</th>

                                 <td><input type="text" id="datePicker" name="datePicker" class="date_picker" placeholder="点击选择日期"/><input type="text" id="datePicker2"  name="datePicker2" class="date_picker" placeholder="点击选择日期"/> </td>
                                 -->
                                <th width="70">订单号:</th>
                                <td><input class="common-text" placeholder="订单号" name="trade_no" value="" id=""
                                           type="text"></td>

                                <th width="70">购买人:</th>
                                <td><input class="common-text" placeholder="购买人email" name="email" value="" id=""
                                           type="text"></td>
                                           
                                      
                                <td><input class="btn btn-primary btn2" value="查询" type="submit"></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--    <div class="search-wrap">
           <div class="search-content">
               <div class="search-wrap">
                   <div class="search-content">
                       <form action="{:U('Trade/expdata')}" method="post">
                           <table class="search-tab">
                               <tr>
                                   <th width="120">选择积分类型:</th>
                                   <td>
                                       <select name="currency_id" id="">
                                           <option value="0">全部</option>
                                           <volist name="currency" id="vo">
                                               <option value="{$vo['currency_id']}" >{$vo['currency_name']}</option>
                                           </volist>
                                       </select>
                                   </td>
                                   <th width="120">选择类型:</th>
                                   <td>
                                       <select name="type" id="">
                                           <option value="0">全部</option>
                                           <option value="buy" >买入</option>
                                           <option value="sell" >卖出</option>
                                       </select>
                                   </td>
                                   <th width="70">选择时间：</th>

                                   <td><input type="text" id="datePicker" name="datePicker" class="date_picker" placeholder="点击选择日期"/><input type="text" name="datePicker2" id="datePicker2" class="date_picker" placeholder="点击选择日期"/> </td>

                                   <th width="70">购买人:</th>
                                   <td><input class="common-text" placeholder="购买人email" name="email" value="" id="" type="text"></td>
                                   <td><input class="btn btn-primary btn2" value="导出" type="submit"></td>


                               </tr>
                           </table>
                       </form>
                   </div>
               </div>
           </div>
       </div>-->
    <div class="result-wrap">
        <form name="myform" id="myform" method="post">
            <div class="result-content">
                <table class="result-tab" width="100%">
                    <tr>
                        <th>日期</th>
                        <th>积分类型</th>
                        <th>成交量</th>
                      
                        <th>成交总额</th>
                        <th>交易手续费总数</th>
                        <th>交易笔数</th>
                        
                    </tr>
                    <volist name="list" id="vo" empty="$empty">
                        <tr>
                             <td>{$vo.add_time}</td>
                            <td>{$vo.b_name}</td>
                            <td>{$vo.num}</td>
                            
                            <td>{$vo.money}</td>
                            <td>{$vo['fee']|number_format=###,4}</td>
                            
                          <td>{$vo.time}</td>
                        </tr>
                    </volist>
                </table>
                <div class="list-page">
                    <ul>{$page}</ul>
                </div>
            </div>
        </form>
    </div>
</div>
<!--/main-->
</div>
</body>
</html>
<script type="text/javascript" src="__PUBLIC__/Admin/js/timejs/datetime.js"></script>