{include file="layout/header"}
<style>
    .layui-table-cell {
        height: auto;
    }

    .header-input {
        height: 30px;
        /*width: 150px*/
    }
</style>
<div class="weadmin-nav">
    <span class="layui-breadcrumb" style="visibility: visible;">
        <a href="javascript:;">首页</a><a href="javascript:;">钱包管理</a>
        <a href="javascript:;"><cite>OTC广告</cite></a>
    </span>
    <span class="fr">
        <a class="layui-btn layui-btn-sm" href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon layui-icon-refresh"></i></a>
    </span>
</div>
<script type="text/html" id="header-toolbar">
    <div class="layui-inline">
        <div class="layui-input-inline"><input type="text" name="member_id" placeholder="请输入用户ID" autocomplete="off" class="layui-input header-input"></div>
        <button class="layui-btn layui-btn-sm" lay-submit lay-filter="header-search"><i class="layui-icon">&#xe615;</i></button>
    </div>
</script>
<div class="weadmin-body">
    <table class="layui-hide" id="table-list" lay-filter="table-list"></table>
</div>

<script type="text/html" id="barDemo">
    {{# if(d.status == '进行中'){ }}
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="revoke">撤销</a>
    {{# }else{ }}
    &nbsp;
    {{#  } }}
</script>

{include file="layout/footer"}
<script type="text/javascript">
    layui.use(['table', 'global', 'form'], () => {
        let table = layui.table,
            form = layui.form,
            global = layui.global;

        table.render({
            elem: '#table-list'
            , toolbar: '#header-toolbar'
            , url: '/backend/Wallet/otc_order?param=otc_order'
            , id: 'table-list'
            , cols: [[
                {field: 'order_id', width: 100, title: '订单ID', sort: true}
                , {field: 'member_id', width: 150, title: '用户ID'}
                , {field: 'pay_num', width: 150, title: '金额'}
                , {field: 'num', width: 150, title: '数量'}
                , {field: 'price', width: 150, title: '价格'}
                , {field: 'fee', width: 150, title: '手续费'}
                , {field: 'type', width: 150, title: '类型'}
                , {field: 'add_time', width: 200, title: '发布时间'}
                , {field: 'status', width: 150, title: '状态'}
                , {field: 'trade_time', width: 200, title: '成交时间'}
                , {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150}
            ]]
            , page: true //是否显示分页
            , limits: [10, 15, 20]
            , limit: 10 //每页默认显示的数量
        });

        // 监听提交
        form.on('submit(header-search)', function (data) {
            table.reload('table-list', {
                where: {member_id: data.field.member_id},
                page: {curr: 1},//重新从第一页开始
                done: function(res, curr, count){
                    $("input[name=member_id]").val(data.field.member_id);
                }
            });
            return false;
        });

        //监听行工具事件
        table.on('tool(table-list)', function (obj) {
            let data = obj.data;
            if (obj.event === 'revoke') {
                layer.confirm('真的撤销么', function (index) {
                    global.ajax('/backend/Wallet/otc_order_revoke?param=otc_order', {id: data.order_id}, function (res) {
                        layer.close(index);
                        if (res.code == 10000) {
                            table.reload('table-list');
                            return false;
                        }
                        global.msg(res.message);
                    });
                });
            }
        });
    });
</script>