{include file="layout/header"}
<div class="weadmin-nav">
			<span class="layui-breadcrumb">
				<a href="javascript:;">首页</a> <a href="javascript:;">钱包管理</a>
				<a href="javascript:;"> <cite>充币纪录</cite></a>
			</span>
    <a class="layui-btn layui-btn-sm" style="margin-top:3px;float:right"
       href="javascript:location.replace(location.href);"
       title="刷新">
        <i class="layui-icon layui-icon-refresh"></i>
        <!-- <i class="layui-icon" style="line-height:30px">&#x1002;</i> -->
    </a>
</div>

<div class="weadmin-body">

    <div class="layui-row">
        <form class="">
            数据搜索：

            <div class="layui-inline">
                <label for="currency_id">币种: </label>
                <select style="display: inline; width: 100px;" class="layui-select" name="currency_id" id="currency_id">
                    <option value="">全部</option>
                    {volist name="currencys" id="currency"}
                    <option {if $Think.get.currency_id== $currency.currency_id}selected{/if}
                        value="{$currency.currency_id}">{$currency.currency_name}-{$currency.currency_mark}
                    </option>
                    {/volist}
                </select>
            </div>
            <div class="layui-inline">
                <label for="member_id"></label>
                <input type="text" class="layui-input" placeholder="会员id" name="member_id" id="member_id" value="{$Think.get.member_id}" />
            </div>

            <div class="layui-inline">
                <label for="start"></label>
                <input type="text" class="layui-input" placeholder="充币开始日(转账开始时间)" name="start" id="start" value="{$Think.get.start}" />
            </div>
            <div class="layui-inline">
                <label for="end"></label>
                <input type="text" class="layui-input" placeholder="充币截止日" name="end" id="end" value="{$Think.get.end}" />
            </div>

            <button class="layui-btn" type="submit" lay-submit="" lay-filter="sreach">
                <i class="layui-icon layui-icon-search"></i>搜索
            </button>
<!--            <a class="layui-btn layui-btn-normal" href="{:url('')}?<?php echo $_SERVER['QUERY_STRING'] ?>&param=recharge&is_excel=1">-->
<!--                <i class="layui-icon layui-icon-file"></i>导出excel-->
<!--            </a>-->
        </form>
    </div>
    <table class="layui-table" id="memberList" lay-filter="table-list">
        <thead>
        <tr>
            <th lay-data="{align:'center',field:'id', width:80}">ID</th>
            <th lay-data="{align:'center',field:'wt_to_user_id', width:90}">接收人ID</th>
            <th lay-data="{align:'center',field:'currency', width:140}">币种</th>
            <th lay-data="{align:'center',field:'number', width:140}">数量</th>
            <th lay-data="{align:'center',field:'wt_no', width:450}">转账编号</th>
            <th lay-data="{align:'center',field:'wt_to_address', width:320}">接收地址</th>
            <th lay-data="{align:'center',field:'wt_from_address', width:320}">转账地址</th>
            <th lay-data="{align:'center',field:'wt_remark', width:100}">备注</th>
            <th lay-data="{align:'center',field:'wt_status', width:100}">状态</th>
            <th lay-data="{align:'center',field:'wt_start_time', width:180}">转账开始时间</th>
            <th lay-data="{align:'center',field:'wt_success_time', width:180}">转账成功时间</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="v"}
        <tr data-id="{$v.id}">
            <td>{$v.id}</td>
            <td>
                <a href="javascript:void(0);" onclick="window.openUser({$v.member_id})">{$v.member_id}</a>
            </td>
            <td>{$v.currency_name}</td>
            <td>{:floattostr($v.actual)}</td>

            <td>
                <?php if($v['currency_type']=='eth' || $v['currency_type']=='eth_token'):?>
                <a target="_blank" href="https://cn.etherscan.com/tx/{$v['ti_id']}">{$v['ti_id']}</a>
                <?php elseif($v['currency_type']=='xrp'):?>
                <a target="_blank" href="https://bithomp.com/explorer/{:strtoupper($v['ti_id'])}">{:strtoupper($v['ti_id'])}</a>
                <?php elseif($v['currency_type']=='btc'):?>
                <a target="_blank" href="https://btc.com/{$v['ti_id']}">{$v['ti_id']}</a>
                <?php elseif($v['currency_type']=='usdt'):?>
                <a target="_blank" href="https://omniexplorer.info/search/{$v['ti_id']}">{$v['ti_id']}</a>
                <?php elseif($v['currency_type']=='eos'):?>
                <a target="_blank" href="https://eospark.com/tx/{$v['ti_id']}">{$v['ti_id']}</a>
                <?php else: ?>
                {$v['ti_id']}
                <?php endif;?>
            </td>
            <td>{$v.to_url}</td>
            <td>{$v.from_url}</td>
            <td>{$v.remark}</td>
            <td>
                {switch name="$v.status"}
                {case value="2"}等待中{/case}
                {case value="3"}转账成功{/case}
                {case value="-2"}不通过{/case}
                {/switch}
            </td>

            <td>{$v.add_time|date="Y-m-d H:i", ###}</td>
            <td>{$v.check_time|date="Y-m-d H:i", ###}</td>
           <!-- <td class="td-manage">
                无
            </td>-->
        </tr>
        {/volist}
        </tbody>
    </table>
    <span class="fr" style="line-height:40px">共有数据：{$count} 条</span>

    <div class="page">
        <div>
            {$page}
        </div>
    </div>
</div>
<script type="text/javascript">
    layui.use(['laydate'], function () {
        let laydate = layui.laydate;

        laydate.render({
            elem: '#start' //指定元素
        });
        laydate.render({
            elem: '#end' //指定元素
        });
    });

    layui.use(['form', 'global', 'index'], () => {

    });
</script>
{include file="layout/footer"}