    <footer>
        <section class="footer">
            <div class="footer_logo">
                <img src="__PUBLIC__/static/home/images/dibu_logo.png" >
            </div>
            <div class="footer_list">
                <ul class="resources">
                    <li class="list_title">{:lang('lan_footer_Resources')}</li>
                    <li><a href="{$footer.xrp_overview}" target="_blank">{:lang('lan_footer_overview')}</a></li>
                    <li><a href="{$footer.xrp_block}" target="_blank">{:lang('lan_footer_query')}</a></li>
                    <li><a href="{$footer.press_center}">{:lang('lan_footer_news')}</a></li>
                    <li><a href="{$footer.ripple_home}" target="_blank">{:lang('lan_footer_website')}</a></li>
                </ul>
                <!-- <ul class="regulators">
                    <li class="list_title">Regulators</li>
                    <li><a href="">Compliance</a></li>
                    <li><a href="">Policy Framework</a></li>
                </ul> -->
                <ul class="support">
                    <li class="list_title">{:lang('lan_footer_support')}</li>
                    <li><a href="{$footer.faq}">FAQ</a></li>
                    <li><a href="{$footer.contact_us}">{:lang('lan_Contact')}</a></li>
                    <li><a href="{$footer.user_agree}">{:lang('lan_user_agreement')}</a></li>
                    <li><a href="{$footer.disclaimer}" target="_blank">{:lang('lan_footer_Disclaimer')}</a></li>
                    <li><a href="{$footer.about_us}">{:lang('lan_footer_about')}</a></li>
                </ul>
                <!-- <ul class="about">
                    <li class="list_title">About</li>
                    <li><a href="">关于我们</a></li>
                </ul> -->
                <div class="clear"></div>
            </div>
            <div class="information">
                <div class="fl">Copyright 2013-2018 XRP All Rights Reserved. Powered by XRP NC</div>
                <div class="fr footer_icon">
                    <img src="__PUBLIC__/static/home/images/QQ.png" >
                    <img src="__PUBLIC__/static/home/images/WX.png" >
                    <img src="__PUBLIC__/static/home/images/dibuLOGO_3.png" >
                    <img src="__PUBLIC__/static/home/images/dibuLOGO_4.png" >
                    <img src="__PUBLIC__/static/home/images/dibuLOGO_5.png" >
                </div>
                <div class="clear"></div>
            </div>
        </section>
    </footer>
</body>

</html>