{include file="layout/header"}

<script type="text/javascript" charset="utf-8" src="__PUBLIC__/static/admin/kindeditor/kindeditor.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/static/admin/kindeditor/lang/zh_CN.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/static/admin/kindeditor/plugins/prettify.js"></script>

<div class="weadmin-nav">
     <span class="layui-breadcrumb">
        <a href="javascript:;">商品管理</a> <a href="javascript:;">商品列表</a> <a><cite>商品详情</cite></a>
    </span>
    <span class="fr">
        <a class="layui-btn" href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon layui-icon-refresh"></i></a>
    </span>
</div>

<div class="weadmin-body">
    <form class="layui-form form" action="">

        <div class="layui-form-item">
            <label class="layui-form-label">商品分类</label>
            <div class="layui-input-block">
                <input type="text" value="{$info.category_name}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">商品标题</label>
            <div class="layui-input-block">
                <input type="text" value="{$info['goods_title']}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" title="商品类型">商品类型</label>
            <div class="layui-input-block">
                <input type="radio" name="form[goods_type]" value="1" title="实物" {if ($info.goods_type == 1)} checked {/if}>
                <input type="radio" name="form[goods_type]" value="2" title="虚拟物" {if ($info.goods_type == 2)} checked {/if}>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商品说明</label>
            <div class="layui-input-block">
                <input type="text" value="{$info.goods_desc}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" title="是否推荐">是否推荐</label>
            <div class="layui-input-block">
                <input type="radio" name="form[goods_is_hot]" value="1" title="否" {if ($info.goods_is_hot == 1)} checked {/if}>
                <input type="radio" name="form[goods_is_hot]" value="2" title="是" {if ($info.goods_is_hot == 2)} checked {/if}>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">市场价</label>
            <div class="layui-input-block">
                <input type="text" value="{$info.goods_market}" class="layui-input"><span style="position: absolute; top: 0; right: 0; display: table-cell; white-space: nowrap; padding: 7px 10px;">人民币</span>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">折扣价</label>
            <div class="layui-input-block">
                <input type="text" value="{$info.goods_price}" class="layui-input"><span style="position: absolute; top: 0; right: 0; display: table-cell; white-space: nowrap; padding: 7px 10px;">人民币</span>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">邮费</label>
            <div class="layui-input-block">
                <input type="text" value="{$info.goods_postage}" class="layui-input"><span style="position: absolute; top: 0; right: 0; display: table-cell; white-space: nowrap; padding: 7px 10px;">人民币</span>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-block">
                <input type="text" value="{$info.goods_sort}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">销量</label>
            <div class="layui-input-block">
                <input type="text" value="{$info.goods_sale_number}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">库存</label>
            <div class="layui-input-block">
                <input type="text" value="{$info.goods_stock}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" title="状态">状态</label>
            <div class="layui-input-block">
                <input type="radio" name="form[goods_status]" value="1" title="上架" {if ($info.goods_status == 1)} checked {/if}>
                <input type="radio" name="form[goods_status]" value="0" title="下架" {if ($info.goods_status == 0)} checked {/if}>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">支付方式</label>
            <div class="layui-input-block">
                <input type="text" value="{$info.goods_pay_type}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">发货地</label>
            <div class="layui-input-block">
                <input type="text" value="{$info.goods_ship}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">修改次数</label>
            <div class="layui-input-block">
                <input type="text" value="{$info.update_count}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">最后一次修改时间</label>
            <div class="layui-input-block">
                <input type="text" value="{$info.update_time|date='Y-m-d H:i:s',###}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">发布时间</label>
            <div class="layui-input-block">
                <input type="text" value="{$info.goods_time|date='Y-m-d H:i:s',###}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" title="轮播图">主图</label>
            <div class="layui-input-block">
                <div class="image_list">
                    <div class="img_box">
                        <div class="img_data">
                            {notempty name="info.goods_img"}
                            <img src='{$info.goods_img}' />
                            {/notempty}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" title="轮播图">轮播图</label>
            <div class="layui-input-block">
                <div class="image_list">
                    <div class="img_list">
                        {notempty name="info.goods_banners"}
                        {volist name="info.goods_banners" id="vo"}
                        <div class="img_box">
                            <img src='{$vo}' />
                        </div>
                        {/volist}
                        {/notempty}
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" title="轮播图">商品详情</label>
            <div class="layui-input-block">
                <textarea id="goods_content" name="form[goods_content]" cols="30" style="width:800px;height:300px;" rows="10">{$info.goods_content}</textarea>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    var uploadUrl = "{:url('index/img_upload')}";
    layui.use(['add','wpupload'],function () {

    });

    KindEditor.ready(function (K) {
        window.editor1 = K.create('#goods_content',{
            uploadJson : '{:url("Index/oss_file_upload")}',
            fileManagerJson : '{:url("Index/oss_file_upload")}',
        });
    });

    layui.use(['form','add'], function() {});
</script>

{include file="layout/footer"}
