{include file="layout/header"}
<style>
    .layui-table-cell {
        height: 50px;
        line-height: 50px;
        padding: 0 15px;
        position: relative;
        box-sizing: border-box;
    }
    .layui-btn+.layui-btn {
        margin: 10px 0;
        margin-left: 10px;
    }
</style>
<div class="weadmin-nav layui-clear">
    <span class="layui-breadcrumb">
        <a href="javascript:;">首页</a> <a href="javascript:;">商品管理</a> <a><cite>自提订单</cite></a>
    </span>

    <span class="fr">
        <a class="layui-btn  layui-btn-sm" href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon layui-icon-refresh"></i></a>
    </span>
</div>

<div class="weadmin-body">
    <div class="layui-row">
        <form class="layui-col-md12 we-search">
            搜索数据：
            <div class="layui-inline">
                <label for="gmo_code"></label>
                <input class="layui-input" placeholder="订单编号" name="gmo_code" value="{$Think.get.gmo_code}" id="gmo_code" />
            </div>
            <div class="layui-inline">
                <label for="gmo_user_id"></label>
                <input class="layui-input" placeholder="用户ID" name="gmo_user_id" value="{$Think.get.gmo_user_id}" id="gmo_user_id"/>
            </div>
            <div class="layui-inline">
                <label for="gmo_status">订单状态: </label>
                <select style="display: inline; width: 150px;" class="layui-select" name="gmo_status" id="gmo_status">
                    <option value="">全部</option>
                    {volist name="statusList" id="vo"}
                        <option {if $Think.get.gmo_status == $key}selected{/if} value="{$key}">{$vo}</option>
                    {/volist}
                </select>
            </div>
            <div class="layui-inline">
                <label for="goods_code"></label>
                <input id="goods_code" class="layui-input" placeholder="商品货号" name="goods_code" value="{$Think.get.goods_code}" />
            </div>
            <button class="layui-btn" lay-submit="" lay-filter="sreach">
                <i class="layui-icon layui-icon-search"></i>
            </button>
            <input type="hidden" name="daochu" id="dao" value="0">
            <button class="layui-btn" lay-submit="" lay-filter="export">
                <i class="iconfont icon-export"></i>导出数据
            </button>
        </form>
    </div>
    <form class="layui-form" >
        <table  class="layui-table" id="memberList" lay-filter="table-list-order">
            <thead>
            <tr>
                <th lay-data="{align:'center',field:'gmo_id',width:80}">选择</th>
                <th lay-data="{align:'center',field:'gmo_id',width:80}">订单ID</th>
                <th lay-data="{align:'center',field:'uid',width:80}">用户ID</th>
                <th lay-data="{align:'center',field:'name',width:250}">商品详情</th>
                <th lay-data="{align:'center',field:'num',width:140}">商品总数</th>
                <th lay-data="{align:'center',field:'price',width:140}">订单总价</th>
                <th lay-data="{align:'center',field:'money',width:140}">实付款</th>
                <th lay-data="{align:'center',field:'pay_type',width:100}">支付方式</th>
                <th lay-data="{align:'center',field:'status',width:100}">订单状态</th>
                <th lay-data="{align:'center',field:'status2',width:100}">发货状态</th>
                <th lay-data="{align:'center',field:'tool',fixed: 'right',width:450}">操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name="list" id="vo"}
            <tr data-id="{$vo['gmo_id']}">
                <td><div class="layui-col-md12"><input type="checkbox" name="checkbox" value="{$vo['gmo_id']}" lay-skin="primary"></div></td>
                <td>{$vo['gmo_id']}</td>
                <td>{$vo['gmo_user_id']}</td>
                <td style="display: flex;">
                    <span><img src="{$vo.goods_img}" alt="" style="height: 60px;width: 60px;"></span>
                    <span style="margin-left: 10px;">
                        订单编号:{$vo['gmo_code']}<br>
                        支付时间:{if($vo['gmo_pay_time'] > 0)}{$vo['gmo_pay_time']|date='Y-m-d H:i:s',###}{/if}<br>
                        商品名称:{$vo.goods_title}
                        {if($vo.goods_format)}
                        <br>商品规格:{$vo.goods_format}
                        {/if}
                    </span>
                </td>

                <td>{$vo['gmo_num']}</td>
                <td>{:floattostr($vo['gmo_total_price'])}</td>
                <td>{:floattostr($vo['gmo_pay_num'])}</td>
                <td>{$payTypeList[$vo.gmo_pay_type]}</td>
                <td>{$statusList[$vo.gmo_status]}</td>
                <td>
                    {if(!empty($vo['gmo_express_code']))}
                    <span style="color: #00a600">已发货</span>
                    {else}
                    <span style="color: red">未发货</span>
                    {/if}
                </td>
                <td class="td-manage">
                    {if($vo['gmo_status'] == 6)}
                        <a class="layui-btn layui-ajax" data-url="{:url('picked_up',['param'=>'pick','gmo_id'=>$vo['gmo_id']])}" data-title="确认自提" href="javascript:;">确认自提</a>
                    {elseif($vo['gmo_status'] == 3 && empty($vo['gmo_express_code']))}
                        <a class="layui-btn layui-open" data-url="{:url('order_ship',['param'=>'pick','gmo_id'=>$vo['gmo_id'],'gmo_status'=>$vo['gmo_status']])}" data-title="确认发货" data-width="600px" data-height="600px" href="javascript:;">确认发货</a>
                    <a class="layui-btn layui-ajax" data-url="{:url('cancel_order',['param'=>'order','gmo_id'=>$vo['gmo_id']])}" data-title="取消订单" href="javascript:;">取消订单</a>
                    {elseif($vo['gmo_status'] == 3 && !empty($vo['gmo_express_code']))}
                        <a class="layui-btn layui-open" data-url="{:url('order_ship',['param'=>'pick','gmo_id'=>$vo['gmo_id'],'gmo_status'=>$vo['gmo_status']])}" data-title="修改物流" data-width="600px" data-height="600px" href="javascript:;">修改物流</a>
                        <a class="layui-btn layui-open" data-url="{:url('order_logistics',['param'=>'pick','gmo_id'=>$vo['gmo_id']])}" data-title="物流详情" data-width="600px" data-height="800px" href="javascript:;">物流详情</a>
                    {elseif($vo['gmo_status'] == 4)}
                        <a class="layui-btn layui-open" data-url="{:url('order_ship',['param'=>'pick','gmo_id'=>$vo['gmo_id'],'gmo_status'=>$vo['gmo_status']])}" data-title="修改物流" data-width="600px" data-height="600px" href="javascript:;">修改物流</a>
                        <a class="layui-btn layui-open" data-url="{:url('order_logistics',['param'=>'pick','gmo_id'=>$vo['gmo_id']])}" data-title="物流详情" data-width="600px" data-height="800px" href="javascript:;">物流详情</a>
                    {/if}
                    <a class="layui-btn layui-open" lay-event="detail" data-url="{:url('pick_details',['param'=>'pick','gmo_id'=>$vo['gmo_id']])}" data-title="订单详情" data-width="60%" data-height="95%" href="javascript:;">详情</a>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </form>
    <div class="weadmin-block">
        <span class="fr" style="line-height:40px">共有数据：{$count|default=0} 条</span>
    </div>
    <div class="page">
        <div>
            {$page}
        </div>
    </div>
</div>
<script>
    layui.use(['form','global','index', 'table'], function () {
        var form = layui.form;

        //监听提交
        form.on('submit(sreach)', function(data){
            $("#dao").val("0");
            data.field.daochu = 1;
        });
        form.on('submit(export)', function(data){
            $("#dao").val("1");
            data.field.daochu = 1;
        });

        form.on('submit(export)', function(data){
            $("#dao").val("1");
            let ids = $(':checkbox');
            let str = '';
            for (let i = 0; i < ids.length; i++) {
                if (ids.eq(i).is(':checked')) {
                    str += ',' + ids.eq(i).val();
                }
            }
            str = str.substr(1);

            let html = '<input type="hidden" name="checkboxid" value="'+str+'">';
            $('.we-search').append(html);

            data.field.daochu = 1;
            data.field.checkbox = str;
        });
    });
</script>
{include file="layout/footer"}
