{include file="layout/header"}
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/static/admin/kindeditor/kindeditor.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/static/admin/kindeditor/lang/zh_CN.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/static/admin/kindeditor/plugins/prettify.js"></script>
<div class="weadmin-nav layui-clear">
    <span class="layui-breadcrumb">
        <a href="javascript:;">首页</a> <a href="javascript:;">商品管理</a> <a><cite>订单列表</cite></a>
    </span>

    <span class="fr">
        <a class="layui-btn layui-open" data-url="{:url('pickedup_add',['param'=>'pickedup'])}" data-title="添加" href="javascript:;">添加</a>
        <a class="layui-btn" href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon layui-icon-refresh"></i></a>
    </span>
</div>

<div class="weadmin-body">
    <div class="layui-row">
        <form class="layui-col-md12 we-search layui-form">
            搜索数据：
            <div class="layui-form-item">
            <div class="layui-inline">
                <label for="title">标题: </label>
                <input style="display: inline; width: 200px;" class="layui-input" type="text" name="title">
            </div>
            <label for="province">省: </label>
            <div class="layui-inline">
                <select name="sa_province" onchange="ajax()" lay-filter="sa_province">
                    <option value="">全部</option>
                    {volist name="province" id="vo"}
                    <option value="{$vo['area_id']}">{$vo['area_name']}</option>
                    {/volist}
                </select>
            </div>
            <label for="city">市: </label>
            <div class="layui-inline">
                <select name="city" id="sa_city">
                    <option value="">全部</option>
                </select>
            </div>

            <button class="layui-btn" lay-submit="" lay-filter="sreach">
                <i class="layui-icon layui-icon-search"></i>
            </button>
            </div>
        </form>
    </div>
    <form class="layui-form" >
        <table class="layui-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>标题</th>
                <th>电话号码</th>
                <th>详细地址</th>
                <th>是否启用</th>
                <th>添加时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name="list" id="vo"}
            <tr data-id="{$vo['sa_id']}">
                <td>{$vo['sa_id']}</td>
                <td>{$vo['sa_name']}</td>
                <td>{$vo['sa_mobile']}</td>
                <td>{$vo['sa_address']}</td>
                <td>{if $vo['sa_default'] == 1} <span style="color:green;">启用</span> {else} <span style="color:red;">停用</span> {/if}</td>
                <td>{:date('Y-m-d H:i:s',$vo['sa_add_time'])}</td>
                <td>
                    <a class="layui-btn layui-open" data-url="{:url('pickedup_edit',['param'=>'pickedup','id'=>$vo['sa_id']])}" data-title="编辑" data-width="60%" data-height="95%" href="javascript:;">编辑</a>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </form>
    <div class="weadmin-block">
        <span class="fr" style="line-height:40px">共有数据：{$count|default=0} 条</span>
    </div>
    <div class="page">
        <div>
            {$page}
        </div>
    </div>
</div>
<script>
    layui.use(['form','global','index'], function () {
        var form = layui.form;

    });
    layui.use(['layer', 'jquery', 'form'], function () {
        var layer = layui.layer,
            $ = layui.jquery,
            form = layui.form;
        form.on('select(sa_province)', function(data){
            $.ajax({
                type:"post",
                url:"{:url('Shop/getArea', ['param' => 'pickedup'])}",
                data:{pid:data.value},//这里data传递过去的是序列化以后的字符串
                success:function(msg){
                    $("#sa_city").empty();
                    if(msg == ''){
                        $("#sa_city").append("<option value=''>暂无</option>");
                        form.render('select');
                    }else{
                        var res = msg.data;
                        $.each(res, function(key, val) {
                            $("#sa_city").append('<option value='+val.area_id+'>'+val.area_name+'</option>');
                            form.render('select');
                        });
                    }
                }
            });
        });
    });
</script>
{include file="layout/footer"}
