{include file="layout/header"}
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/static/admin/kindeditor/kindeditor-all.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/static/admin/kindeditor/lang/zh_CN.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/static/admin/kindeditor/plugins/prettify.js"></script>

<div class="weadmin-nav layui-clear">
    <span class="fr">
        <a class="layui-btn" href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon layui-icon-refresh"></i></a>
    </span>
</div>

<div class="layui-main">
    <form class="layui-form form" action="" method='POST'>
        <div class="">
            <div class="layui-form-item">
                <label class="layui-form-label" title="门店名称">门店名称</label>
                <div class="layui-input-block">
                    <input type="text" name="form[name]" class="layui-input" value="{$info.name}" readonly  lay-verify="required">
                    <input type="hidden" name="form[id]" value="{$info.id}">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" title="门店地址">门店地址</label>
                <div class="layui-input-block">
                    <input type="text" name="form[address]" class="layui-input" value="{$info.address}" required  lay-verify="required">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" title="门店电话">门店电话</label>
                <div class="layui-input-block">
                    <input type="text" name="form[phone]" class="layui-input" value="{$info.phone}" required  lay-verify="required">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" title="排序">排序(倒序)</label>
                <div class="layui-input-block">
                    <input type="number" name="form[sort]" class="layui-input" value="{$info.sort}" required  lay-verify="required">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" title="状态">状态</label>
                <div class="layui-input-block">
                    <input type="radio" name="form[status]" value="1" title="启用" {if $info.status == 1}checked{/if}>
                    <input type="radio" name="form[status]" value="2" title="禁用" {if $info.status == 2}checked{/if}>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn submit" type="button" lay-submit lay-filter="submit" data-url="{:url('')}" >立即提交</button>
                </div>
            </div>
        </div>
    </form>
</div>


<script type="text/javascript">
    layui.use(['form','add'], function() {});
</script>

{include file="layout/footer"}
