{include file="layout/header"}
<div class="weadmin-nav layui-clear">
    <span class="layui-breadcrumb">
        <a href="javascript:;">首页</a> <a href="javascript:;">商品管理</a> <a><cite>预约记录</cite></a>
    </span>

    <span class="fr">
        <a class="layui-btn" href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon layui-icon-refresh"></i></a>
    </span>
</div>

<div class="weadmin-body">
    <div class="layui-row">
        <form class=" layui-col-md12 we-search">
            搜索数据：
            <div class="layui-inline">
                <label for="member_id"></label>
                <input class="layui-input" placeholder="用户ID" name="member_id" id="member_id" value="{$Think.get.member_id}" />
            </div>
            <div class="layui-inline">
                <label for="subscribe_code"></label>
                <input class="layui-input" placeholder="预约码" name="subscribe_code" id="subscribe_code" value="{$Think.get.subscribe_code}" />
            </div>
            <div class="layui-inline">
                <label for="store">门店: </label>
                <select style="display: inline; width: 150px;" class="layui-select" name="store">
                    <option value="">全部</option>
                    {volist name="storeList" id="vo"}
                    <option {if $Think.get.store == $vo.name}selected{/if} value="{$vo.name}">{$vo.name}</option>
                    {/volist}
                </select>
            </div>
            <button class="layui-btn" lay-submit="" lay-filter="sreach">
                <i class="layui-icon layui-icon-search"></i>
            </button>
        </form>
    </div>
    <form class="layui-form" >
        <table class="layui-table" id="memberList">
            <thead>
            <tr>
                <th>项目名称</th>
                <th>门店</th>
                <th>预约人姓名</th>
                <th>预约人手机号</th>
                <th>预约人备注</th>
                <th>到店时间</th>
                <th>状态</th>
                <th>添加时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name="list" id="v"}
            <tr data-id="{$v.id}">
                <td>{$v.go_title}</td>
                <td>
                    {$v.store_name}<br/>
                    {$v.store_address}<br/>
                    {$v.store_phone}
                </td>
                <td>{$v.name}</td>
                <td>{$v.phone}</td>
                <td>{$v.remarks}</td>
                <td>{:date('Y-m-d H:i',$v['store_time'])}</td>
                <td>
                    {if ($v.status == 0)}
                    未使用
                    {elseif ($v.status == 1)}
                    已完成
                    {else}
                    取消
                    {/if}
                </td>
                <td>{:date('Y-m-d H:i:s',$v['add_time'])}</td>
                <td>
                    <a class="layui-btn layui-open" data-url="{:url('order_details',['param'=>'order','gmo_id'=>$v['order_id']])}" data-title="订单详情" data-width="60%" data-height="95%" href="javascript:;" style="margin-bottom: 5px;">详情</a>
                    <a class="layui-btn layui-ajax" data-url="{:url('store_approve',['param'=>'order','gmo_id'=>$v['order_id']])}" data-title="核销" href="javascript:;" style="margin-bottom: 5px;">核销</a>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </form>
    <div class="weadmin-block">
        <span class="fr" style="line-height:40px">共有数据：{$count|default=0} 条</span>
    </div>
    <div class="page">
        <div>
            {$page}
        </div>
    </div>
</div>
<script>
    layui.use(['form','global']);
</script>
{include file="layout/footer"}
