<include file="App/Admin/View/Public/left.html"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/show.css"/>
<script>
    window._deel = {
        req_member_details_url: "{:U('member/member_details')}",
    }
</script>
<script src="__PUBLIC__/Admin/js/member_details.js"></script>
<style>
    .list-menu {
        list-style: none;
        display: block;
        margin: 0 0 15px;
    }

    .list-menu li {
        display: inline-block;
    }

    .list-menu li a {
        min-width: 80px;
    }

    .list-menu li + li {
        margin-left: 10px;
    }
</style>
<!--/sidebar-->
<div class="main-wrap">

    <div class="crumb-wrap">
        <div class="crumb-list"><i class="icon-font"></i><a href="{:U('Index/index')}">首页</a><span class="crumb-step">&gt;</span><span
                class="crumb-name">老板计划阶段</span></div>
    </div>
    <!--<div class="search-wrap">-->
        <!--<div class="search-content">-->
            <!--<form action="{:U('boss/bossPlan')}" method="get" style="padding: 0 15px;">-->
                <!--<table class="search-tab">-->
                    <!--<tr>-->
                        <!--<th  width="60px">账户:</th>-->
                        <!--<td><input class="common-text" placeholder="手机号码/Email" name="phone" value="{$where['phone']}" id="" type="text"></td>-->
                        <!--<th  width="60px">用户ID:</th>-->
                        <!--<td><input class="common-text" placeholder="用户ID" name="member_id" value="{$where['member_id']}" id="" type="text"></td>-->
                        <!--<th width="70px">状态:</th>-->
                        <!--<td>-->
                            <!--<select name="status" id="">-->
                                <!--<option value="">全部</option>-->
                                <!--<option value="1" <if condition="$where['status'] eq 1"> selected="selected" </if>>待审核</option>-->
                                <!--<option value="3" <if condition="$where['status'] eq 3"> selected="selected" </if>>通过</option>-->
                            <!--</select>-->
                        <!--</td>-->
                        <!--<td><input class="btn btn-primary btn2" value="查询" type="submit"></td>-->
                    <!--</tr>-->
                <!--</table>-->
            <!--</form>-->

        <!--</div>-->
    <!--</div>-->
     
    <div class="result-wrap">
        <div class="result-content">
            <table class="result-tab" width="100%">
                <tr>
                    <th>繁体标题</th>
                    <th>英文标题</th>
                    <th>最低票数</th>
                    <th>最高票数</th>
                    <th>开始时间</th>
                    <th>添加时间</th>
                    <th>操作</th>

                </tr>
                <volist name='list' id='vo'>
                    <tr>
                        <td >{$vo['name_tc']}</td>
                        <td >{$vo['name_en']}</td>
                        <td >{$vo['min_votes']}</td>
                        <td>{$vo['max_votes']}</td>
                        <td >{$vo['start_time']}</td>
                        <td >{$vo['add_time']}</td>
                        <td>
                            <a href="{:U('swicth_step',['step_id'=>$vo['step_id']])}">编辑</a>
                        </td>
                    </tr>
                </volist>

            </table>
            <div class="list-page">
                <ul>{$page}</ul>
            </div>
        </div>
    </div>
</div>
<!--/main-->
</div>
</body>
</html>