.setting-panel {
    background: #fff;
    position: relative;
    float: right;
    width: 902px;
    min-height: 680px;
    border: 1px solid #e4e9ed;
    margin-bottom: 20px;
}

#main .main_box #my_child {
    margin: 0 auto;
    width: 960px;
    background: transparent;
    min-height: 650px;
}

#main .main_box #my_child h1{
    margin: 0;
    font-size: 20px;
    color: #333;
    padding: 20px 0 20px 20px;
    background: #fff;
    margin-top: 20px;
}
#phone{
    width: 100%;
}

.setting-head {
    width: 165px;
    height: 50px;
    line-height: 50px;
    border-bottom: 2px solid #dbb668;
    text-align: center;
    margin-left: 30px;
    color: #252a33;
    font-size: 14px;
}

.line {
    width: 100%;
    height: 1px;
    background: #e5eaef;
    margin-top: 10px;
}

.setting-flow {
    position: relative;
    margin: 50px auto;
    width: 490px;
    height: 30px;
}

.setting-flow .flow-line {
    height: 10px;
    width: 460px;
    display: inline-block;
    background: #b8c4ce;
    position: absolute;
    top: 10px;
    left: 15px;
}

.setting-flow .flow-item {
    height: 30px;
    width: 30px;
    background: #b8c4ce;
    display: inline-block;
    border-radius: 30px;
    text-align: center;
    position: relative;
    float: left;
}
.step3 .flow-item {
margin-left: 420px;
}
.no-margin {
    margin-left: 0!important;
}

.step2 .flow-item {
    margin-left: 430px;
}

.flow-item .flow-point {
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background: #f9f9f9;
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 5px;
    color: #b8c4ce;
}

.setting-flow .flow-decs {
    position: absolute;
    width: 300%;
    text-align: center;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    top: 40px;
    left: 50%;
}

.form-cont {
    width: 100%;
    min-height: 500px;
    background: #fff;
    margin-top: 12px;
}

.input-cont {
    position: relative;
    width: 480px;
    margin: 0 auto;
    border: 1px solid #CCC;
}
.input-cont>img{
    height: 38px;
    width: 23%;
    float: right;
}
.explanation{
    width: 480px;
    margin: 0 auto;
    font-size: 14px;
    color: #666;
    margin-bottom: 12px;
    margin-top: 40px;
}
.explanation:first-of-type{
    margin-top: 0;
    padding-top: 52px;
}
.input-cont .input, .input-cont .select {
    border: none;
    width: 362px;
    height: 38px;
    font-size: 14px;
    vertical-align: middle;
    text-indent: 20px;
}

.form-tips {
    display: none!important;
}

.input-cont .error-msg {
    color: #ee3182;
    font-size: 16px;
    position: absolute;
    display: none;
    left: 103%;
    width: 100%;
    top: 7px;
}

.form-cont .btn.submit {
    display: block;
    margin: 0 auto;
    margin-top: 59px;
    width: 480px;
    height: 48px;
    line-height: 48px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    background: #3284CA;
}

.form-cont .link.get-token {
    position: absolute;
    right: 21px;
    padding-left: 20px;
    border-left: 1px solid #CCC;
    color: #3284CA;
    top: 10px;
    font-size: 14px;
    cursor: pointer;
}
#step3{
    text-align: center;
}
    .chosen-container.chosen-container-single {
    height: 41px!important;
}
.chosen-container.chosen-container-single {
    background: #fff!important;
    border-bottom: 1px solid #e9ecee!important;
}
.chosen-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    zoom: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.chosen-container a {
    cursor: pointer;
}
.chosen-single {
    height: 40px!important;
    background: #fff!important;
    padding: 0!important;
}
.chosen-container-single .chosen-single span {
    font-size: 16px;
    height: 41px;
    line-height: 41px;
}
.chosen-container-single .chosen-single span {
    display: block;
    overflow: hidden;
    margin-right: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333;
}
.chosen-single span {
    height: 48px;
    line-height: 48px;
    color: #b8c4ce;
    font-size: 12px;
    padding-left: 42px;
}
.chosen-container-single .chosen-single div {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 18px;
    height: 100%;
}
.chosen-container-single .chosen-single div b {
    background-image:url(../../images/iconjingling.png)!important;
    background-position: -248px -65px;
    width: 11px!important;
    height: 7px!important;
    display: inline-block!important;
    margin-top: 20px;
    vertical-align: middle;
}
.form-phone {
    background-image:url(../../images/iconjingling.png);
    background-position: -300px -253px;
    width: 18px;
    height: 24px;
    position: absolute;
    left: 6px;
    top: 9px;
}
.chosen-container-single .chosen-search input[type=text] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px 20px 4px 5px;
    width: 100%;
    height: auto;
    outline: 0;
    border: 1px solid #aaa;
    background: url(../../images/iconjingling.png) 100% -20px no-repeat;
    font-size: 1em;
    font-family: sans-serif;
    line-height: normal;
    border-radius: 0;
}
.form-location {
    background-image: url(../../images/iconjingling.png);
    background-position: -78px -108px;
    width: 21px;
    height: 25px;
    position: absolute;
    left: 4px;
    top: 7px;
    z-index: 1;
}
.flow-item .flow-point.finish {
    background: #dbb668;
    color: #fff;
}
.chosen-container-single .chosen-drop {
    margin-top: -1px;
    border-radius: 0 0 4px 4px;
    background-clip: padding-box;
}
.chosen-container .chosen-drop {
    position: absolute;
    top: 49px;
    left: -9999px;
    z-index: 1010;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    border-top: 0;
    background: #fff;
}
.form-password, .form-token {
    top: 7px;
    background-image: url(../../images/iconjingling.png);
    position: absolute;
}
.form-token {
    background-position: -294px -73px;
    width: 21px;
    height: 25px;
    left: 6px;
}
#country{
    width: 114px;
    height: 40px;
    vertical-align: middle;
    border:none;
    border-right: 1px solid #CCC;
}
#countries:hover option:hover{
	color: white;
	background-image: linear-gradient(#dbb668,#dbb668);
}
#step2{
    display: none;
}
