body,html,header,footer,h4,p{
	margin:0;
	padding:0;
}
body,html{
	width:100%;
	background-color:rgba(234,234,234,1);
}
i{
	font-style:normal;
}
img,p{
	margin:0;
	padding:0;
	display:block;
}
a{	
	color:black;
	text-decoration:none;
}

.fl{
	float:left;
}
.fr{
	float:right;
}

header{
	height:45px;
	width:100%;
	background-color: rgba(41,44,51,1);
	color:white;
	position: relative;
}
header div{
	position: absolute;
	top:0;
	left:0;
	margin-top:10px;
	margin-left:15px;
	height:45px;
	width:25px;
}
header div img{
	display: block;
	height:25px;
	width:25px;
}
header p{
	text-align: center;
	line-height: 45px;
}

/*请选择收货地址块*/
.order_address{
	height:40px;
	background-color: white;
	line-height: 40px;
}
.order_address img{
	display: block;
	width:20px;
	height:20px;
	margin:10px 15px 0 15px;
}
.order_btn{
	width:100%;
}
.qxzdz{
	height:35px;
	width:100%;
	background-color: white;
	color:rgba(165,165,165,1);
}
.qxzdz_wenzi{
	margin-left:50px;
	font-size: 15px;
}
/*彩色条*/
.color_bar{
	height:4px;
	width:100%;
	background-image:url(../img/heng.jpg);
	background-repeat: repeat-x;
}

/*个体商品*/
.item_information{
	margin-top:10px;
	background: white;
	border-bottom:1px solid rgba(234,234,234,1);
}
.item_image{
	position: relative;
}
.item_image img{
	display: block;
	height:80px;
	width: 80px;
	margin:15px;
}
.item_wenzi{
	margin-top:15px;
}
.item_wenzi span{
	font-size: 14px;
	color:rgba(165,165,165,1);
	display: block;
	margin:5px 0;
}
.item_danJia{
	font-weight: 500;
	color:rgba(255,207,83,1);
	font-size: 18px;
}
.item_geshu{
	position: absolute;
	bottom:15px;
	right:15px;
}


/*订单金额*/
.item_figure_box{
	border-top: 1px solid rgba(234,234,234,1);
	border-bottom: 10px solid rgba(234,234,234,1);
	font-size:15px;
}
.item_figure{
	height:40px;
	line-height: 40px;
	margin:0 15px;
	color:rgba(255,207,83,1);

}
.item_box_text{
	height:40px;
	line-height: 40px
}

/*支付方式*/
.pay_way{
	height:40px;
	background: white;
	line-height: 40px;
	font-size: 14px;
}
.pay_way span{
	margin-left:15px;
}
.pay_way img{
	display: block;
	height: 20px;
	width: 20px;
	margin-top:11px;
	margin-right:15px;
}

/*配送方式*/
.distribution_box{
	border-top: 1px solid rgba(234,234,234,1); 
	border-bottom: 10px solid rgba(234,234,234,1);
	height:40px;
	width:100%;
	line-height: 40px;
	background: white;
	font-size: 14px;
}
.distribution_box span{
	margin-left: 15px;

}
.distribution_box input{
	margin-left: 30px;
}

/*留言*/
.Message_prompt{
	height: 24px;
	width:100%;
	text-indent:15px;
	background: white;
	color:rgba(165,165,195,1);
	font-size: 13px;
	line-height: 24px;
}
textarea{
	margin:0;
	padding:0;
	border:none;
}
.textarea_name{
	width:100%;
	height:120px;
	display: block;
	outline:none;
	border-top:1px solid rgba(234,234,234,1);
}

/*底部按钮*/
footer{
	position: fixed;
	bottom:0;
	left:0;
	height: 40px;
	line-height: 40px;
	width:100%;
}
.A_combined{
	width:50%;
	height:40px;
	font-size: 16px;
	background: white;
	text-align: center;
}
.A_combined i{
	color:rgba(255,207,83,1);
	font-size: 18px;
}
footer .confirm{
	width:50%;
	height:40px;
	font-size: 18px;
	background: rgba(255,203,63,1);
	text-align: center;
	color:white;
}














/*-------------------------------------z支付方式选择页面css------------------------------------------*/
/*现金*/
.cash_box{
	height:50px;
	line-height: 50px;
	width:100%;
	background:white;
	border-bottom: 1px solid rgba(234,234,234,1);
}
.cash_box span{
	color:red;
	margin-left:20px;
}
.cash_box input{
	margin-left:15px;
}

/*积分类型*/
.currency_Box{
	height:50px;
	line-height: 50px;
	width:100%;
	background:white;
	border-bottom: 1px solid rgba(234,234,234,1);
}
.currency_Box input{
	margin-left:15px;
}

.currency_Box img{
	display: block;
	width: 25px;
	height:25px;
	margin-top:13px;
	margin-right:15px;
}
.checked_click_btn{
	width: 96%;
	height:40px;
	text-align: center;
	line-height: 40px;
	background: rgba(255,203,63,1);
	letter-spacing:15px;
	color:white;
	font-size: 20px;
	margin-left:2%;
	margin-top:100px;
	border-radius: 8px;
}


/*弹出层*/
.currency_category{
	width:90%;
	height:60%;
	background: white;
	margin-left:5%;
	z-index: 10;
	top:25%;
	position: fixed;
	overflow-y:scroll;
	font-family:宋体;
}


.The_mask_layer{
	width:100%;
	height:100%;
	z-index: 5;
	background: rgba(105,110,114,0.6);
	position: absolute;
	top:0;left:0;
}
.currency_category h4{
	height:50px;
	line-height: 50px;
	font-weight: 600;
	text-align: center;
}
.Currency_option_box{
	width:100%;
	height:40px;
	font-size: 13px;
	line-height: 40px;
	border-top: 1px solid rgba(234,234,234,1);
	font-weight: 400;
}
.Currency_option_box input{
	margin-top: 13px;
	width: 10%;
	float: left;
}
.Currency_option_box span{
	margin-left: 10px;
	width: 25%;
	height:40px;
	display: inline-block;
	float: left;
	overflow: hidden;
}
.Currency_option_box i{
	width: 25%;
	height:40px;
	display: inline-block;
	float: left;
	overflow: hidden;
}
.Currency_option_box b{
	font-weight: 400;
	width: 25%;
	height:40px;
	display: inline-block;
	float: left;
	overflow: hidden;
}







































