{include file="../app/admin/view/public/left.html" /}
<script src="__PUBLIC__/static/admin/js/member_details.js"></script>
<div class="main-wrap">

    <div class="crumb-wrap">
        <div class="crumb-list"><i class="icon-font"></i><a href="{:url('Index/index')}">首页</a><span class="crumb-step">&gt;</span><span
                class="crumb-name">列表</span></div>
    </div>
    <div class="result-wrap">
                <a href="javascript:;" class="layui-open layui-btn" data-url="{:url('add')}?" data-width="500px">添加</a>
<!--        <a href="{:url('add')}" target="_blank" >添加</a>-->
    </div>
    <div class="result-wrap ">
        <div class="result-content" >
            <form class="layui-form" >
                <table class="layui-table" id="memberList">
                    <tr>
                        <th>ID</th>
                        <th>分类</th>
                        <th>名称</th>
                        <th>图片</th>
                        <th>链接</th>
                        <td>排序</td>
                        <th>操作</th>
                    </tr>
                    <tbody>
                    {volist name="list" id="v"}
                    <tr>
                        <td>{$v.id}</td>
                        <td>{$v.cat.name}</td>
                        <td>{$v.name}</td>
                        <td>
                            <img src="{$v.image}" style="max-width: 100px;max-height: 100px" />
                        </td>
                        <td>{$v.url}</td>
                        <td>{$v.sort}</td>
                        <td>
                            <a href="javascript:;" class="delete layui-btn" data-url="{:url('delete',['id'=>$v['id']])}" >删除</a>
                            <a href="javascript:;" class="layui-open layui-btn" data-url="{:url('edit',['id'=>$v['id']])}" >编辑</a>
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>

<script>
    layui.use(['form','global'],function () {
        layer = layui.layer,globals=layui.global;
        $('.delete').click(function () {
            var url = $(this).data('url');
            var that = $(this);
            globals.ajax(url,{},function (res) {
                if(res.code==10000){
                    layer.msg(res.message);
                    location.reload();
                } else {
                    layer.msg(res.message);
                }
            });
        });
    });
</script>
<!--/main-->
</div>
</body>
</html>
