{include file="../app/admin/view/public/left.html" /}
<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/admin/show.css"/>
<script src="__PUBLIC__/static/admin/js/member_details.js"></script>
<script type="text/javascript">
    window._deel = {
        req_member_details_url: "{:url('member/member_details')}",
    }
</script>
<style>
    .list-menu {
        list-style: none;
        display: block;
        margin: 0 0 15px;
    }

    .list-menu li {
        display: inline-block;
    }

    .list-menu li a {
        min-width: 80px;
    }

    .list-menu li + li {
        margin-left: 10px;
    }
</style>
<!--/sidebar-->
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list"><i class="icon-font"></i>
            <a href="{:url('Index/index')}">首页</a>
            <span class="crumb-step">&gt;</span>
            <span class="crumb-name">拼团挖矿拼团金记录</span>
        </div>
    </div>
    <div class="search-wrap">
        <div class="search-content">
            <form action="" method="get">
                <table class="search-tab">
                    <tr>
                        <th width="70">用户ID:</th>
                        <td>
                            <input class="common-text" placeholder="用户ID" name="user_id" value="{$Request.param.user_id}" type="text">
                        </td>
                        <th width="70">等级ID:</th>
                        <td>
                            <input class="common-text" placeholder="等级ID" name="level_id" value="{$Request.param.level_id}" type="text">
                        </td>
                        <td><input class="btn btn-primary btn2" value="查询" type="submit"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div class="result-wrap">
        <form name="myform" id="myform" method="get">
            <div class="result-content">
                <div class="list-body">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th>自增id</th>
                            <th>用户信息</th>
                            <th>矿源等级</th>
                            <th>奖励币种</th>
                            <th>类型</th>
                            <th>日期</th>
                            <th>拼团金数量</th>
                            <th>创建时间</th>
                        </tr>
                        {volist name="list" id="vo" empty=""}
                            <tr>
                                <td>{$vo.id}</td>
                                <td><a href="javascript:member_details({$vo.user_id});" class="shenhe_button">{$vo.member.ename} ({$vo.user_id})</a></td>
                                <td>{$vo.sourceLevel.level_name} ({$vo.level_id})</td>
                                <td>{$vo.currency.currency_name} ({$vo.currency_id})</td>
                                <td>{$vo.type}</td>
                                <td>{$vo.date}</td>
                                <td>{$vo.num}</td>
                                <td>{$vo.add_time}</td>
                            </tr>
                        {/volist}
                    </table>
                </div>
            </div>
        </form>
        <div class="weadmin-block">
            <span class="fr" style="line-height:40px">共有数据：{$count|default=0} 条</span>
        </div>
        <div class="page">
            <div>
                {$page}
            </div>
        </div>
    </div>
</div>
<!--/main-->
</div>
</body>
</html>