@font-face {
    font-family: 'iconfont';  /* project id 866592 */
    src: url('//at.alicdn.com/t/font_866592_dc6fby6qgjm.eot');
    src: url('//at.alicdn.com/t/font_866592_dc6fby6qgjm.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_866592_dc6fby6qgjm.woff') format('woff'),
    url('//at.alicdn.com/t/font_866592_dc6fby6qgjm.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_866592_dc6fby6qgjm.svg#iconfont') format('svg');
  }
  #main .yangwu_zhanghaozhongxin_rightTitle{
      padding-right: 34px;
      border-bottom: 1px solid #CCC;
  }
  .select_box{
      display: flex;
      color: #333333;
      font-size: 16px;
      position: relative;
  }
  .select_box div:first-of-type{
      margin-right: 16px;
  }
  .select_box div.select{
      padding-left: 11px;
      padding-right: 11px;
      height: 22px;
      line-height: 22px;
      margin-top: 19px;
      border: 1px solid #CCCCCC;
      cursor: pointer;
  }
  .select_box div.select span:first-of-type{
      margin-right: 33px;
      font-size: 14px;
  }
  .option_box{
      display: none;
      position: absolute;
      width: 97px;
      right: 0;
      top: 45px;
      max-height:190px;
      overflow: auto;
      background:rgba(255,255,255,1);
      box-shadow:0px -3px 8px 0px rgba(88,89,93,0.24);
  }
  .option_box li{
      text-indent: 11px;
      width: 100%;
      height: 44px;
      line-height: 44px;
      font-size: 14px;
      border-bottom: 1px solid #EEE;
      cursor: pointer;
  }
  .option_box li a{
      color: #333;
      display: block;
  }
  .option_box li:hover{
      background: #B59D27;
      color: #FFF;
  }
  .option_box li a:hover{
      color: #FFF;
  }
  .option_box::-webkit-scrollbar-track{
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.15);
      background-color: #fff;
  }
  .option_box::-webkit-scrollbar-thumb{
      width: 10px;
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.05);
      background-color: hsla(231,9%,61%,.15);
  }
  .option_box::-webkit-scrollbar{
      width: 10px;
      background-color: transparent;
  }
  .table_head{
      display: flex;
      padding:47px 33px 20px 21px;
      border-bottom: 1px solid #CCC;
  }
  .table_head li,.table_body li div{
      width: 19%;
      text-align: center;
      color: #666;
      font-size: 14px;
  }
  .table_head li:first-of-type,.table_body li div:first-of-type{
      text-align: left;
  }
  .table_head li:last-of-type,.table_body li div:last-of-type{
      text-align: right;
  }
  .table_head li.num,.table_body li div.num{
      width: 24%;
  }
  .table_body{
      max-height: 600px;
      padding-bottom: 20px;
  }
  .table_body li{
      display: flex;
      padding:26px 33px 0px 21px;
  }
  .table_body li div{
      color: #333;
  }
  .table_body li div.out{
      color: #E96E44;
  }
  .table_body li div.income{
      color: #03C086;
  }
  .no_data{
      text-align: center;
      font-size: 14px;
      color: #333;
      padding: 20px 0 20px 0;
  }
  .page {
      padding: 0 20px;
      height: 44px;
      margin: 0 auto;
  }
  .page a {
      color: #dbb668;
  }
  
  .page a:hover {
      color: white;
      background: #dbb668;
  }
  
  .page .current {
      background: #dbb668;
  }
  
  .addpage {
      float: left;
      width: 920px;
      height: 44px;
      background-color: white;
      text-align: center;
      padding-bottom: 20px;
      padding-top: 20px;
  }