@media (min-width: 1200px) {
    .section {
        margin-bottom: 60px;
    }

    .blocks-list {
        margin: 0 -15px;
    }

    .blocks-item {
        margin: 0 15px 30px;
    }

    .promoted-articles-item {
        align-self: flex-end;
        flex: 0 0 auto;
        width: 30%;
    }
}

.section {
    margin-bottom: 40px;
    min-width: 1200px;
}

.hero {
    /*background-image:url(../../images/index_bg.png) ;*/
    background-position: center;
    background-size: cover;
    height: 300px;
    padding: 0 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.hero img {
    width: 100%;
    height: 300px;
}

.min_hei{
    height: 500px;
}

@media (min-width: 1200px) {
    .main {
        padding: 0;
        width: 90%;
    }
}

.main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5%;
}

.blocks-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
    box-sizing: border-box;
}

.blocks-item {
    border: 1px solid rgba(53, 124, 225, 1);
    border-radius: 4px;
    box-sizing: border-box;
    color: rgba(53, 124, 225, 1);
    display: flex;
    flex: 1 0 340px;
    flex-direction: column;
    justify-content: center;
    margin: 0 20px 30px;
    max-width: 30%;
    text-align: center;
}
.blocks-item:hover{
    background-color: rgba(53, 124, 225, 1);

}
.blocks-item:hover a{
    color: #fff !important;
}

.blocks-item-link {
    color: rgba(53, 124, 225, 1);
    padding: 20px 30px;
}
.blocks-item-title {
    margin-bottom: 0;
}

h4 {
    font-size: 16px;
}
h3 {
    font-size: 18px;
    font-weight: 600;
}
.promoted-articles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.promoted-articles-item a {
    border-bottom: 1px solid #ddd;
    color: rgba(28, 36, 44, 1);
    display: block;
    padding: 15px 0;
}
.promoted-articles-item:nth-child(3n+2){
    padding: 0 60px;
}
.promoted-articles-item:hover a{
    text-decoration: underline;
}