body{
    background-color: #fff;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 20px 5% 0;
}

.sub-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50px;
    padding-bottom: 25px;
    line-height: 50px;
}
.breadcrumbs {
    margin: 0 0 15px 0;
    padding: 0;
}
.breadcrumbs li + li::before {
    content: ">";
    margin: 0 4px;
}
.breadcrumbs li {
    color: #44576a;
    display: inline;
    font-weight: 300;
    font-size: 13px;
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.breadcrumbs li a:visited {
    color: rgba(53, 124, 225, 1);
}
a {
    color: rgba(53, 124, 225, 1);
    text-decoration: none;
}

.article-container {
    display: flex;
    flex-direction: row;
}
.article-container img{
	width: 100%;
}

.article-sidebar {
    margin-bottom: 20px;
    padding: 0;
    flex: 0 0 15%;
    height: auto;
}

.collapsible-sidebar {
    flex: 1;
    overflow: hidden;
    position: relative;
    max-height: none;
    padding: 0;

}
.collapsible-sidebar-title {
    margin-top: 0;
}

.sidenav-title {
    font-size: 15px;
    position: relative;
}
h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}

.sidenav-item.current-article,.sidenav-item:hover {
    background-color: rgba(53, 124, 225, 1);
    color: #FFFFFF !important;
    text-decoration: none;
}

.sidenav-item {
    border-radius: 4px;
    color: rgba(28, 36, 44, 1);
    display: block;
    font-weight: 300;
    margin-bottom: 10px;
    padding: 10px;
}
a {
    color: rgba(53, 124, 225, 1);
    text-decoration: none;
}

.article {
    flex: 0 0 70%;
    max-width: 70%;
    min-width: 640px;
    padding: 0 30px;
    min-height: 650px;
}
.article-header {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
    flex-direction: row;
    margin-top: 0;
}
.article-title {
    flex-basis: 100%;
}

h1 {
    font-size: 32px;
}

.article-content {
    line-height: 1.6;
    margin: 0 0 40px;
    word-wrap: break-word;
}