{include file="layout/header"}
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/static/admin/kindeditor/kindeditor.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/static/admin/kindeditor/lang/zh_CN.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/static/admin/kindeditor/plugins/prettify.js"></script>
<style type="text/css">
    .uploader-list {
        margin-left: -15px;
    }

    .uploader-list .handle {
        position: relative;
        background-color: black;
        color: white;
        filter: alpha(Opacity=80);
        -moz-opacity: 0.5;
        opacity: 0.5;
        width: 100px;
        text-align: right;
        height: 18px;
        margin-bottom: -18px;
        display: none;
    }

    .uploader-list .handle i {
        margin-right: 5px;
    }

    .uploader-list .handle i:hover {
        cursor: pointer;
    }

    .uploader-list .file-iteme {
        margin: 12px 0 0 15px;
        padding: 1px;
        float: left;
    }
</style>

<div class="weadmin-nav layui-clear">
    <span class="layui-breadcrumb">
        <a href="javascript:;">首页</a> <a href="javascript:;">文章管理</a>
        <a href="javascript:;"> <cite>编辑资讯</cite></a>
    </span>
    <span class="fr">
        <a class="layui-btn layui-btn-sm" href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon layui-icon-refresh"></i></a>
    </span>
</div>

<div class="weadmin-body">
    <form class="layui-form form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-block">
                <input type="text" name="title" placeholder="请输入标题" class="layui-input" value="{$info.title}">
                <input type="hidden" name="id" value="{$info.id}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" title="内容">内容</label>
            <div class="layui-input-block">
                    <textarea name="content" cols="30"  class="layui-textarea"
                              rows="5">{$info.content}</textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">是否开启</label>
            <div class="layui-input-block">
                <input type="checkbox" name="status" lay-skin="switch" lay-text="ON|OFF" value="1"  {if condition="$info.status eq 1"}checked=""{/if} />
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-block">
                <input type="text" name="sort" placeholder="请输入排序" class="layui-input" value="{$info.sort}">
                <div class="layui-form-mid layui-word-aux">升序排序 即值小排在前面 默认99</div>
            </div>
        </div>

        <div class="layui-form-item layui-upload">
            <button type="button" class="layui-btn" id="test2">多图片上传</button>
            <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                预览图：
                <div class="layui-upload-list uploader-list" id="demo2" style="overflow: auto;">
                    {volist name="info.file_infos" id="v"}
                        <div id="" class="file-iteme">
                            <div class="handle"><i class="layui-icon layui-icon-delete"></i></div>
                            <img style="width:100px;height:100px;" src="{$v}" class="layui-upload-img">
                            <input type="hidden" class="pic-class" name="pic[]" value="{$v}">
                        </div>
                    {/volist}
                </div>
            </blockquote>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block" style="text-align: center;">
                <button class="layui-btn submit" type="button" lay-submit="" lay-filter="submit" data-url="{:url('info_edit',['param'=>'info'])}">立即提交</button>
            </div>
        </div>
    </form>
</div>
<script>
    layui.use(['form','add'], function() {
    });

    KindEditor.ready(function (K) {
        window.editor1 = K.create('#tc_content',{
            uploadJson : '{:url("Index/oss_file_upload")}',
            fileManagerJson : '{:url("Index/oss_file_upload")}',
        });
    });
    layui.use(['upload', 'element', 'layer'], function(){
        var $ = layui.jquery
            ,upload = layui.upload
            ,element = layui.element
            ,layer = layui.layer;
        //多图片上传
        upload.render({
            elem: '#test2'
            ,url: "{:url('index/img_upload')}" //改成您自己的上传接口
            ,multiple: true
            ,before: function(obj){

            }
            ,done: function(res){
                // //预读本地文件示例，不支持ie8
                // $('#demo2').append('<img style="width:100px;height:auto;" src="'+ res.data.src +'" class="layui-upload-img">')
                // //上传完毕
                // $('#demo2').append('<input type="hidden" class="pic-class" name="pic[]" value="'+res.data.src+'">')
                $('#demo2').append(
                    '<div id="" class="file-iteme">' +
                    '<div class="handle"><i class="layui-icon layui-icon-delete"></i></div>' +
                    '<img style="width:100px;height:100px;" src="'+ res.data.src +'" class="layui-upload-img">' +
                    '<input type="hidden" class="pic-class" name="pic[]" value="'+res.data.src+'">'+
                    '</div>'
                )
            }
        });
        $(document).on("mouseenter mouseleave", ".file-iteme", function(event){
            if(event.type === "mouseenter"){
                //鼠标悬浮
                $(this).children(".handle").fadeIn("fast");
            }else if(event.type === "mouseleave") {
                //鼠标离开
                $(this).children(".handle").hide();
            }
        });
        // 删除图片
        $(document).on("click", ".file-iteme .handle", function(event){
            $(this).parent().remove();
        });
    });
</script>
{include file="layout/footer"}
