.main_box{
	width: 1200px;
	margin: 50px auto;

}
.raise>h1{
	margin: 0;
	font-size: 20px;
	color: #333;
	padding: 20px 0 20px 20px;
	background: #fff;
}
.raise .support_ybc{
	margin-top: 12px;
	min-height: 650px;
	background: #fff;
}
.raise #pass_change{
	background: #E8EDF2;
	overflow: hidden;
	height: 48px;
}
.raise #pass_change li{
	float: left;
	height: 48px;
	line-height: 48px;
	padding: 0 28px;
}
.raise #pass_change li.selectTag{
	height: 46px;
	border-top: 2px solid #066B98;
	background: #fff;
}
.passContent .tagContent .ybc_con li label{
    float:inherit;
    padding-left: 10px;
    display: inline-block;
}
.error{
    color: #999;
}
.ybc_text{
    margin-left:150px;
}
.passContent .tagContent .ybc_con li label{
	width:225px;
	color: red;
}
.cardImg{
	float:right;
	margin-right: 280px;
}
.ybc_text{
	clear:both;
}
.lastSubBtn{
	clear:both;
}
.forgot_password{
	text-align: right;
	color: #4173C8;
	width: 488px;
	margin-top: 5px;
}
.forgot_password span:hover{
	cursor: pointer;
	color: #3284CA;
}
.forgetcode{
	top:200px;
	left: 0;
	right: 0;
	margin: 0 auto;
	position: absolute;
	z-index: 111;
	width: 576px;
	background: #fff;
	display: none;
}
.forgetcode_shade{
	position: fixed;
	background: #000;
	opacity: 0.6;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: none;
}
.forgetcode_title{
	padding-top: 24px;
	padding-left: 31px;
}
.forgetcode_title span{
	font-size: 20px;
	color: #333;
}
.forgetcode_title .iconfont{
	float: right;
	color: #999999;
	font-size: 24px;
	padding-right: 28px;
	cursor: pointer;
}
.forgetcode_title_os{
	color: #333;
	font-size: 14px;
	padding-top: 44px;
	padding-left: 31px;
}
.forgetcode_input{
	padding-top: 23px;
	margin: 0 33px;
	font-size: 16px;
}
.forgetcode_in1{
	width: 508px;
	border: 1px solid #ccc;
	height: 34px;
	padding-left: 12px;
	box-sizing: border-box;
	color: #999999;
}
.forgetcode_num_mid{
	margin-top:14px;
	width: 508px;
	border: 1px solid #ccc;
	height: 34px;
	line-height: 34px;
	padding-left: 12px;
	box-sizing: border-box;
	color: #999999;
}
.forgetcode_in2{
	border: none;
	height: 34px;
	margin-top: -4px;
	width: 280px;
}
.forgetcode_num_span{
	color: #4173C8;
	outline: none;
	border: none;
	cursor: pointer;
	float: right;
	padding: 0 10px 0 15px;
	height: 22px;
    line-height: 22px;
    margin-top: 6px;
}
#msgt{
    border-left: 1px solid #CCCCCC;
}
.forgetcode_line{
	border-bottom: 1px solid #ccc;
	width: 100%;
	padding-top: 48px;
}
.forgetcode_next{
	color: #666;
	font-size: 14px;
	text-align: right;
	padding: 30px 25px 30px 0;
}
.forgetcode_next span{
	height: 34px;
	line-height: 34px;
	display: inline-block;
	vertical-align: middle;
}
.forgetcode_next .forgetcode_next_change{
	padding-right: 30px;
	color: #999;
}    
.forgetcode_next_button{
	width: 80px;
	height: 34px;
	background: #4173C8;
	outline: none;
	border: none;
	color: #fff;
	cursor: pointer;
}
.raise .ybc_con{
	width: 480px;
	margin: 0 auto;
	margin-top: 53px;
}
.raise .ybc_con li{
	width: 100%;
	height: 40px;
	border: 1px solid #CCCCCC;
}
.raise .ybc_con .explanation{
	border: none;
	font-size: 14px;
	color: #666666;
	margin-top: 40px;
	margin-bottom: 12px;
	display: block;
}
.raise .ybc_con .explanation:first-of-type{
	margin-top: 0px;
}
.raise .ybc_con li input{
	width: 100%;
	height: 40px;
	text-indent: 10px;
}
.tijiao{
	margin-top: 59px;
	width: 480px;
	height: 48px;
	background: #3284CA;
	color: #fff;
	font-size: 16px;
}