{include file="../app/admin/view/public/left.html" /}
<script src="__PUBLIC__/static/admin/js/member_details.js"></script>
<div class="main-wrap">

    <div class="crumb-wrap">
        <div class="crumb-list"><i class="icon-font"></i><a href="{:url('Index/index')}">首页</a><span class="crumb-step">&gt;</span><span
                class="crumb-name">币种列表</span></div>
    </div>
    <div class="result-wrap">
        <a href="javascript:;" class="layui-open layui-btn" data-url="{:url('currency_add')}?" data-width="500px">添加</a>
    </div>
    <div class="result-wrap ">
        <div>
            昨日资产:<br>
            {volist name="yestdoday_currency_user_changes" id="vo"}
                {$vo.currency_name} (总量：{:keepPoint($vo['num']+$vo['forzen_num'],6)} 可用：{$vo.num} 冻结：{$vo.forzen_num})<br>
            {/volist}

            最新资产:<br>
            {volist name="currency_user_changes" id="vo"}
                {$vo.currency_name} (总量：{:keepPoint($vo['num']+$vo['forzen_num'],6)} 可用：{$vo.num} 冻结：{$vo.forzen_num})<br>
            {/volist}
        </div>
        <div class="result-content"  style="margin-top: 20px;">
            <form class="layui-form" >
                <table class="layui-table" id="memberList">
                    <thead>
                    <tr>
                        <th>币种</th>
                        <th>挖矿奖励数量</th>
                        <th>算力奖励数量</th>
                        <th>最低持币量</th>
                        <th>第一次结算时间</th>
                        <th>奖励低于该值则不给</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="list" id="v"}
                    <tr>
                        <td>{$v.currency.currency_name}</td>
                        <td>{$v.today_award_num}</td>
                        <td>{$v.today_power_award_num}</td>
                        <td>{$v.raning_min_mum}</td>
                        <td>{:date('Y-m-d',$v['auto_start_time'])}</td>
                        <td>{$v.income_min_num}</td>
                        <td>
                            <a href="javascript:;" class="delete layui-btn" data-url="{:url('currency_delete',['id'=>$v['id']])}" >删除</a>
                            <a href="javascript:;" class="layui-open layui-btn" data-url="{:url('currency_edit',['id'=>$v['id']])}" >编辑</a>
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>

<script>
    layui.use(['form','global'],function () {
        layer = layui.layer,globals=layui.global;
        $('.delete').click(function () {
            var url = $(this).data('url');
            var that = $(this);
            globals.ajax(url,{},function (res) {
                if(res.code==10000){
                    layer.msg(res.message);
                    location.reload();
                } else {
                    layer.msg(res.message);
                }
            });
        });
    });
</script>
<!--/main-->
</div>
</body>
</html>
