{if condition="!$Think.get.layui"}
{include file="../app/admin/view/public/left.html" /}
{else /}
<style>
    .main-wrap {
        margin-left: 10px;
    }
</style>
{/if}


<script src="__PUBLIC__/static/admin/js/member_details.js"></script>
<div class="main-wrap">

    <div class="crumb-wrap">
        <div class="crumb-list"><i class="icon-font"></i><a href="{:url('Index/index')}">首页</a><span class="crumb-step">&gt;</span><span
                class="crumb-name">算力来源</span></div>
    </div>

    <div class="result-wrap">
        <form class="layui-form we-search" method="GET" action="{:url('')}">
            <input type="hidden" name="param" value="{$param|default=''}">
            <input type="hidden" name="today" value="{$today|default=''}">
            <input type="hidden" name="user_id" value="{$user_id|default=''}">
            <input type="hidden" name="currency_id" value="{$currency_id|default=''}">
            <input type="hidden" name="layui" value="1">

            <div class="layui-input-inline">
                <input type="text"  name="ename" placeholder="请输入用户名" autocomplete="off" class="layui-input" value="{$Think.get.ename}" />
            </div>

            <button class="layui-btn" lay-submit="" lay-filter="sreach">
                <i class="layui-icon layui-icon-search"></i>
            </button>
        </form>
    </div>

    <div class="result-wrap " style="border-bottom:0;">
        <div>直推团队人数:{$total}</div>
        <div class="result-content"  style="margin-top: 20px;">
            <form class="layui-form" >
                <table class="layui-table" id="memberList">
                    <thead>
                    <tr>
                        <th>用户</th>
                        <th>数量</th>
                        <th>团队数量</th>
                        <th>团队人数</th>
                        <th>算力</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="list" id="v"}
                    <tr>
                        <td>
                            <a href="javascript:void(0);" onclick="member_details({$v.member_id})">
                                {if condition="$v.phone"}
                                    {$v.phone}
                                {else /}
                                    {$v.email}
                                {/if}
                                ({$v.member_id})  - {$v.ename}
                            </a>
                        </td>
                        <td>{$v.num}</td>
                        <td>{$v.child_num}</td>
                        <td>{$v.total_child}</td>
                        <td>
                            <a href="javascript:;" class="layui-open"  data-url="{:url('power_income_from')}?user_id={$v.member_id}&currency_id={$currency_id}&today={$today}" data-title="{$v.member_id} - {$v.power}团队算力来源">{$v.power}</a>
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
                <div class="page">
                    <div>
                        {$page}
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>
        layui.use(['form','global']);
    </script>
</div>
