{if condition="!$Think.get.layui"}
{include file="../app/admin/view/public/left.html" /}
{else /}
<style>
    .main-wrap {
        margin-left: 10px;
    }
</style>
{/if}


<script src="__PUBLIC__/static/admin/js/member_details.js"></script>
<div class="main-wrap">

    <div class="crumb-wrap">
        <div class="crumb-list"><i class="icon-font"></i><a href="{:url('Index/index')}">首页</a><span class="crumb-step">&gt;</span><span
                class="crumb-name">挖矿收益</span></div>
    </div>

    <div class="result-wrap ">
        <div>
            {if condition="!$Think.get.layui"}
            <form class="layui-form we-search" method="GET" action="{:url('')}">
                <input type="hidden" name="param" value="{$param|default=''}">

                <div class="layui-input-inline">
                    <input type="text"  name="ename" placeholder="请输入用户名" autocomplete="off" class="layui-input" value="{$Think.get.ename}" />
                </div>

                <div class="layui-input-inline">
                    <input type="text"  name="id" placeholder="请输入ID" autocomplete="off" class="layui-input" value="{$Think.get.id}" />
                </div>

                <div class="layui-input-inline">
                    <input type="text"  name="user_id" placeholder="请输入用户ID" autocomplete="off" class="layui-input" value="{$Think.get.user_id}" />
                </div>

                <div class="layui-input-inline">
                    <input type="text" name="user_phone" placeholder="请输入用户账户" autocomplete="off" class="layui-input" value="{$Think.get.user_phone}" />
                </div>

                <div class="layui-input-inline">
                    <select name="currency_id">
                        <option value="">币种</option>
                        {volist name="currency_list" id="vo"}
                        <option value="{$vo.currency_id}" {if condition="$Think.get.currency_id eq $vo.currency_id"}selected{/if} >{$vo.currency_name}</option>
                        {/volist}
                    </select>
                </div>

                <button class="layui-btn" lay-submit="" lay-filter="sreach">
                    <i class="layui-icon layui-icon-search"></i>
                </button>
            </form>
            {/if}
        </div>
    </div>


    <div class="result-wrap " style="border-bottom:0;">
        <div class="result-content"  style="margin-top: 20px;">
            <form class="layui-form" >
                <table class="layui-table" id="memberList">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>用户</th>
                        <th>数量</th>
                        <th>手续费</th>
                        <th>排名</th>
                        <th>时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="list" id="v"}
                    <tr>
                        <td>{$v.id}</td>
                        <td>
                            <a href="javascript:void(0);" onclick="member_details({$v.member_id})">
                                {if condition="$v.users.phone"}
                                {$v.users.phone}
                                {else /}
                                {$v.users.email}
                                {/if}
                                ({$v.member_id})  - {$v.users.ename}
                            </a>
                        </td>
                        <td>{$v.num} {$v.currency.currency_name}</td>
                        <td>{$v.fee} {$v.currency.currency_name}</td>
                        <td>{$v.ranking}</td>
                        <td>
                            {:date('Y-m-d',$v['add_time'])}<br>
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
                <div class="page">
                    <div>
                        {$page}
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>
        layui.use(['form','global']);
    </script>
</div>
