{include file="../app/admin/view/public/left.html" /}
<script src="__PUBLIC__/static/admin/js/member_details.js"></script>
<div class="main-wrap">

    <div class="crumb-wrap">
        <div class="crumb-list"><i class="icon-font"></i><a href="{:url('Index/index')}">首页</a><span class="crumb-step">&gt;</span><span
                class="crumb-name">矿池汇总</span></div>
    </div>

    <div class="result-wrap ">
        <div>
            {if condition="!$Think.get.layui"}
            <form class="layui-form we-search" method="GET" action="{:url('')}">
                <input type="hidden" name="param" value="{$param|default=''}">

                <div class="layui-input-inline">
                    <select name="currency_id">
                        <option value="">币种</option>
                        {volist name="currency_list" id="vo"}
                        <option value="{$vo.currency_id}" {if condition="$Think.get.currency_id eq $vo.currency_id"}selected{/if} >{$vo.currency_name}</option>
                        {/volist}
                    </select>
                </div>

                <button class="layui-btn" lay-submit="" lay-filter="sreach">
                    <i class="layui-icon layui-icon-search"></i>
                </button>
            </form>
            {/if}
        </div>
    </div>

    <div class="result-wrap ">
        <div class="result-content"  style="margin-top: 20px;">
            <form class="layui-form" >
                <table class="layui-table" id="memberList">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>日期</th>
                        <th>币种</th>
                        <th>有效订单个数</th>
                        <th>有效订单入金量</th>
                        <th>排名总和</th>
                        <th>最佳量</th>
                        <td>挖矿收入总和</td>
                        <td>算力总和</td>
                        <th>算力收入总和</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="list" id="v"}
                    <tr>
                        <td>
                            {$v.id}
                        </td>
                        <td>{$v.today}</td>
                        <td>{$v.currency.currency_name}</td>
                        <td>{$v.jump_ranking_count}</td>
                        <td>{$v.jump_ranking_num}</td>
                        <td>{$v.jump_ranking_total}</td>
                        <td>{$v.jump_ranking_max_mul}</td>
                        <td>{$v.jump_ranking_income}</td>
                        <td>{$v.jump_ranking_power_total}</td>
                        <td>{$v.jump_ranking_power_income}</td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
            </form>
            <div class="page">
                <div>
                    {$page}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use(['form','global']);
</script>
<!--/main-->
</div>
</body>
</html>
