<div class="weadmin-nav layui-clear">
    <span class="fr">
        <a class="layui-btn" href="javascript:location.replace(location.href);" title="刷新"><i
                class="layui-icon layui-icon-refresh"></i></a>
    </span>
</div>
<div class="weadmin-body">
    <form class="layui-form form" style="width:90%;margin: 0 auto;">
        <table class="layui-table" id="releaseList">
            <thead>
            <tr>
                <th>ID</th>
                <th>用户</th>
                <th>奖励</th>
                <th>奖励基数</th>
                <th>提成比例</th>
                <th>下级账户</th>
                <th>奖励时间</th>
                <th>添加时间</th>
            </tr>
            </thead>
            <tbody>
            {volist name="list" id="v"}
            <tr>
                <td>{$v.id}</td>
                <td>{$v.users.ename}-({$v.member_id})</td>
                <td>{$v.num} XCH</td>
                <td>{$v.third_num} XCH</td>
                <td>{$v.third_percent} %</td>
                <td>{$v.thirdmember.ename}-({$v.third_member_id}) </td>
                <td>{:date('Y-m-d',$v['award_time'])}</td>
                <td>{:date('Y-m-d H:i:s',$v['add_time'])}</td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </form>
    <div class="weadmin-block">
        <span class="fr" style="line-height:40px">共有数据：{$count|default=0} 条</span>
    </div>
    <div class="page">
        <div>
            {$page}
        </div>
    </div>
</div>
<script>
    layui.use(['form', 'jquery', 'admin', 'layer'], function () {
        let form = layui.form;

    });
</script>


</div>
</body>
</html>
