{include file="../app/admin/view/public/left.html" /}
<script src="__PUBLIC__/static/admin/js/member_details.js"></script>
<div class="main-wrap">

    <div class="crumb-wrap">
        <div class="crumb-list"><i class="icon-font"></i><a href="{:url('Index/index')}">首页</a><span class="crumb-step">&gt;</span><span
                class="crumb-name">翻牌币种列表</span></div>
    </div>
    <div class="result-wrap">
        <a href="javascript:;" class="layui-open layui-btn" data-url="{:url('product_add')}?">添加</a>
    </div>
    <div class="result-wrap ">
        <div class="result-content"  style="margin-top: 20px;">
            <form class="layui-form" >
                <table class="layui-table" id="memberList">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>产币币种</th>
                        <th>名称</th>
                        <!-- <th>算力(T)</th> -->
                        <th>USDT价格</th>
                        <th>CNY价格</th>
                        <th>合约周期</th>
                        <th>交付时间</th>
                        <!-- <th>剩余库存</th> -->
                        <th>状态</th>
                        <th>排序</th>
                        <th>时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="list" id="v"}
                    <tr>
                        <td>{$v.id}</td>
                        <td>{$v.currency.currency_name}</td>
                        <td>{$v.name}</td>
                        <!-- <td>{$v.tnum}</td> -->
                        <td>{$v.price_usdt} {$v.usdtcurrency.currency_name}</td>
                        <td>{$v.price_cny} {$v.cnycurrency.currency_name}</td>
                        <td>{$v.cycle_time}</td>
                        <td>{$v.deliver_time}</td>
                        <!-- <td>{$v.amount}</td> -->
                        <td>{$v.status}</td>
                        <td>{$v.sort}</td>
                        <td>{:date('m-d H:i:s',$v['add_time'])}</td>
                        <td>
                            <a href="javascript:;" class="delete layui-btn" data-url="{:url('product_delete',['id'=>$v['id']])}" >删除</a>
                            <a href="javascript:;" class="layui-open layui-btn" data-url="{:url('product_edit',['id'=>$v['id']])}" >编辑</a>
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>

<script>
    layui.use(['form','global'],function () {
        layer = layui.layer,globals=layui.global;
        $('.delete').click(function () {
            var url = $(this).data('url');
            var that = $(this);
            globals.ajax(url,{},function (res) {
                if(res.code==10000){
                    layer.msg(res.message);
                    location.reload();
                } else {
                    layer.msg(res.message);
                }
            });
        });
    });
</script>
<!--/main-->
</div>
</body>
</html>
