{if condition="!$Think.get.layui"}
{include file="../app/admin/view/public/left.html" /}
{else /}
<style>
    .main-wrap {
        margin-left: 10px;
    }
</style>
{/if}

<script src="__PUBLIC__/static/admin/js/member_details.js"></script>
<div class="main-wrap">

    <div class="crumb-wrap">
        <div class="crumb-list"><i class="icon-font"></i><a href="{:url('Index/index')}">首页</a><span class="crumb-step">&gt;</span><span
                class="crumb-name">挂单列表</span></div>
    </div>

    <div class="result-wrap ">
        <div>
            <form class="layui-form we-search" method="GET" action="{:url('')}">
                <input type="hidden" name="param" value="{$param|default=''}">

                <div class="layui-input-inline">
                    <input type="text"  name="ename" placeholder="请输入用户名" autocomplete="off" class="layui-input" value="{$Think.get.ename}" />
                </div>

                <div class="layui-input-inline">
                    <input type="text"  name="user_id" placeholder="请输入用户ID" autocomplete="off" class="layui-input" value="{$Think.get.user_id}" />
                </div>

                <div class="layui-input-inline">
                    <input type="text" name="user_phone" placeholder="请输入用户账户" autocomplete="off" class="layui-input" value="{$Think.get.user_phone}" />
                </div>

                <button class="layui-btn" lay-submit="" lay-filter="sreach">
                    <i class="layui-icon layui-icon-search"></i>
                </button>
            </form>
        </div>

        <div class="result-content"  style="margin-top: 20px;">
            <form class="layui-form" >
                <table class="layui-table" id="memberList">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>用户</th>
                        <th>算力</th>
                        <td>支付数量</td>
                        <td>代金券</td>
                        <td>总释放数量</td>
                        <td>开始释放时间</td>
                        <td>结束释放时间</td>
                        <td>最后释放</td>
                        <td>添加时间</td>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="list" id="v"}
                    <tr>
                        <td>
                            <a href="javascript:;" class="layui-open"  data-url="{:url('level_detail')}?third_id={$v.id}" data-title="用户{$v.member_id} - 上级级差奖详情">{$v.id}</a>
                        </td>
                        <td>
                            <a href="javascript:void(0);" onclick="member_details({$v.member_id})">
                                {if condition="$v.users.phone"}
                                {$v.users.phone}
                                {else /}
                                {$v.users.email}
                                {/if}
                                ({$v.member_id})
                            </a>
                        </td>
                        <td>{$v.tnum} T</td>
                        <td>
                            <a href="javascript:;" class="layui-open"  data-url="{:url('income')}?recommand=1&third_id={$v.id}" data-title="用户{$v.member_id} - 上级推荐奖详情">{$v.paycurrency.currency_name} {$v.real_pay_num}</a>
                        </td>
                        <td>{$v.real_pay_num1}</td>
                        <td>
                            <a href="javascript:;" class="layui-open"  data-url="{:url('release')}?third_id={$v.id}" data-title="用户{$v.member_id} - 释放列表">{$v.total_release_num}</a>
                        </td>
                        <td>{:date('Y-m-d',$v['start_day'])}</td>
                        <td>{:date('Y-m-d',$v['stop_day'])}</td>
                        <td>{:date('Y-m-d',$v['last_release_day'])} <br> {$v.last_release_num} {$v.miningcurrency.currency_name}</td>
                        <td>{:date('Y-m-d H:i:s',$v['add_time'])}</td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
            </form>
            <div class="page">
                <div>
                    {$page}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use(['form','global'],function () {
    });
</script>
<!--/main-->
</div>
</body>
</html>
