<div class="weadmin-nav layui-clear">
    <span class="fr">
        <a class="layui-btn" href="javascript:location.replace(location.href);" title="刷新"><i
                class="layui-icon layui-icon-refresh"></i></a>
    </span>
</div>

<div class="weadmin-body">
    <form class="layui-form form">
        <input type="hidden" name="id" value="{$info.id}">

        <div class="layui-form-item">
            <label class="layui-form-label">产出币种</label>
            <div class="layui-input-block">
                <select name="mining_currency_id">
                    {volist name="currency" id="v"}
                    <option value="{$v.currency_id}" {if condition="$info.mining_currency_id eq $v.currency_id"}selected="selected"{/if} >{$v.currency_name}</option>
                    {/volist}
                </select>
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-block">
                <input type="text" name="name" id="name" lay-verify="required" placeholder="" value="{$info.name}"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">英文名称</label>
            <div class="layui-input-block">
                <input type="text" name="name_en" id="name_en" lay-verify="required" placeholder="" value="{$info.name_en}"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">节点名称</label>
            <div class="layui-input-block">
                <input type="text" name="node_name" id="node_name" lay-verify="required" placeholder="" value="{$info.node_name}"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">算力(T)</label>
            <div class="layui-input-block">
                <input type="number" name="tnum" id="tnum" lay-verify="required" placeholder="" value="{$info.tnum}"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">USDT价格</label>
            <div class="layui-input-block">
                <input type="number" name="price_usdt" id="price_usdt" lay-verify="required" placeholder="" value="{$info.price_usdt}"
                       class="layui-input">
                <input type="hidden" name="price_usdt_currency_id" value="{$info.price_usdt_currency_id}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">CNY价格</label>
            <div class="layui-input-block">
                <input type="number" name="price_cny" id="price_cny" lay-verify="required" placeholder="" value="{$info.price_cny}"
                       class="layui-input">
                <input type="hidden" name="price_cny_currency_id" value="{$info.price_cny_currency_id}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">合约周期</label>
            <div class="layui-input-block">
                <input type="number" name="days" id="days" lay-verify="required" placeholder="" value="{$info.days}"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">总库存</label>
            <div class="layui-input-block">
                <input type="number" name="total_amount" id="total_amount" lay-verify="required" placeholder="" value="{$info.total_amount}"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">剩余库存</label>
            <div class="layui-input-block">
                <input type="number" name="amount" id="amount" lay-verify="required" placeholder="" value="{$info.amount}"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">状态（1开启 0关闭）</label>
            <div class="layui-input-block">
                <input type="number" name="status" id="status" lay-verify="required" placeholder="" value="{$info.status}"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">排序(数字小的排前面)</label>
            <div class="layui-input-block">
                <input type="text" name="sort" id="sort" lay-verify="required" placeholder="" value="{$info.sort}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">价格类型(0固定 1GAS)</label>
            <div class="layui-input-block">
                <input type="text" name="price_type" id="price_type" lay-verify="required" placeholder="" value="{$info.price_type}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn submit" type="submit" lay-filter="add" lay-submit="">立即提交</button>
            </div>
        </div>
    </form>
</div>
<script>
    layui.use(['form', 'jquery', 'admin', 'layer'], function () {
        let form = layui.form;

        form.on("submit(add)", data => {
            $.post("{:url('product_edit')}", data.field, data => {
                if (Number(data.code) === 10000) {
                    return layer.alert(data.message, {
                        icon: 6
                    }, function () {
                        // 获得frame索引
                        let index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.layer.close(index);
                        window.parent.location.reload();
                    });
                }
                return layer.alert(data.message, {
                    icon: 5
                })
            });
            return false;
        });
    });
</script>


</div>
</body>
</html>
