{include file="../app/admin/view/public/left.html" /}
<script src="__PUBLIC__/static/admin/js/member_details.js"></script>
<div class="main-wrap">

    <div class="crumb-wrap">
        <div class="crumb-list"><i class="icon-font"></i><a href="{:url('Index/index')}">首页</a><span class="crumb-step">&gt;</span><span
                class="crumb-name">矿池汇总</span></div>
    </div>

    <div class="result-wrap " style="line-height: 25px;font-size: 14px">
        <p>总入金数量：{$total.pay_num}</p>
        <p>推荐1：{$total.team1_num} 【波比】
            {if condition="$total.pay_num gt 0"}
            {:keepPoint( $total['team1_num']/$total['pay_num'] * 100,2)}
            {else /}
            0
            {/if} %</p>
        <p>推荐2：{$total.team2_num} 【波比】
            {if condition="$total.pay_num gt 0"}
            {:keepPoint( $total['team2_num']/$total['pay_num'] * 100,2)}
            {else /}
            0
            {/if} %</p>
<!--        <p>推荐3：{$total.team3_num} 【波比】-->
<!--            {if condition="$total.pay_num gt 0"}-->
<!--            {:keepPoint( $total['team3_num']/$total['pay_num'] * 100,2)}-->
<!--            {else /}-->
<!--            0-->
<!--            {/if} %</p>-->
<!--        <p>级差：{$total.team4_num} 【波比】-->
<!--            {if condition="$total.pay_num gt 0"}-->
<!--            {:keepPoint( $total['team4_num']/$total['pay_num'] * 100,2)}-->
<!--            {else /}-->
<!--            0-->
<!--            {/if} %</p>-->
<!--        <p>锁仓释放：{$total.team5_num} 【波比】-->
<!--            {if condition="$total.pay_num gt 0"}-->
<!--            {:keepPoint( $total['team5_num']/$total['pay_num'] * 100,2)}-->
<!--            {else /}-->
<!--            0-->
<!--            {/if} %</p>-->
        <p>全球加权：{$total.team7_num} 【波比】
            {if condition="$total.pay_num gt 0"}
            {:keepPoint( $total['team7_num']/$total['pay_num'] * 100,2)}
            {else /}
            0
            {/if} %</p>
        <p>全球加权锁仓余额: {$lock_global_sum} 【锁仓波比】：
            {if condition="$total.pay_num gt 0"}
            {:keepPoint( $lock_global_sum/$total['pay_num'] * 100,2)}
            {else /}
            0
            {/if} %</p>

<!--        <p>锁仓余额: {$lock_num_sum} 【锁仓波比】：-->
<!--            {if condition="$total.pay_num gt 0"}-->
<!--            {:keepPoint( $lock_num_sum/$total['pay_num'] * 100,2)}-->
<!--            {else /}-->
<!--            0-->
<!--            {/if} %</p>-->

    </div>

    <div class="result-wrap ">
        <div class="result-content"  style="margin-top: 20px;">
            <form class="layui-form" >
                <table class="layui-table" id="memberList">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>日期</th>
                        <th>支付数量</th>
                        <th>推荐1奖励数量</th>
                        <th>推荐2奖励数量</th>
<!--                        <th>推荐3奖励数量</th>-->
<!--                        <th>级差奖励数量</th>-->
<!--                        <th>锁仓释放数量</th>-->
                        <th>全球加权数量</th>
                        <th>全球加权释放数量</th>
                        <th>Fil产出数量</th>
                        <th>Fil产出释放数量</th>
                        <td>添加时间</td>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="list" id="v"}
                    <tr>
                        <td>
                            {$v.id}
                        </td>
                        <td>{$v.today}</td>
                        <td>{$v.pay_num}</td>
                        <td>{$v.team1_num}</td>
                        <td>{$v.team2_num}</td>
<!--                        <td>{$v.team3_num}</td>-->
<!--                        <td>{$v.team4_num}</td>-->
<!--                        <td>{$v.team5_num}</td>-->
                        <td>{$v.team7_num}</td>
                        <td>{$v.team8_num}</td>
                        <td>{$v.release_num}</td>
                        <td>{$v.team6_num}</td>
                        <td>{:date('Y-m-d H:i:s',$v['add_time'])}</td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
            </form>
            <div class="page">
                <div>
                    {$page}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use(['form','global']);
</script>
<!--/main-->
</div>
</body>
</html>
