<script src="__PUBLIC__/static/home/js/common/swiper.min.js"></script>
<link
  rel="stylesheet"
  href="__PUBLIC__/static/home/css/common/swiper.min.css"
/>
<link rel="stylesheet" href="__PUBLIC__/static/home/css/help/new_guide.css" />
<div class="container-divider"></div>
<div class="container">
  <nav class="sub-nav">
    <ol class="breadcrumbs">
      <li title="{$one['name']}">
        <a href="{:url('index/index/help')}">{$one['name']}</a>
      </li>
      <li title="{$info['name']}">
        {$info['name']}
      </li>
    </ol>
  </nav>
  <div class="section-container">
    <section class="section-content">
      <div class="page-header">
        <h1>
          {$info['name']}
        </h1>
      </div>
      <ul class="article-list">
        {volist name="list" id="vo"}
        <li class="article-list-item">
          <a href="{:url('help/index')}?id={$vo['article_id']}" class="article-list-link"
            >{$vo['tc_title']}</a
          >
        </li>
        {/volist}
      </ul>
      <nav class="pagination">
        <ul>
          {if condition="$all_page gt 1"}
          {for start="0" end="$all_page"}
          {if condition="($i+1) eq $page"}
          <li class="pagination-current" >
            <span>{$i+1}</span>
          </li>
          {else}
            <li>
              <a href="{:url('')}?id={:input('id')}&page={$i+1}">{$i+1}</a>
            </li>
          {/if}
          {/for}
          {/if}
<!--          <li class="pagination-current">-->
<!--            <span>1</span>-->
<!--          </li>-->

<!--          <li class="pagination-current">-->
<!--            <a href="" rel="next"-->
<!--              >2</a-->
<!--            >-->
<!--          </li>-->

<!--          <li>-->
<!--            <a href="">3</a>-->
<!--          </li>-->

<!--          <li class="pagination-next">-->
<!--            <a href="" rel="next"-->
<!--              >›</a-->
<!--            >-->
<!--          </li>-->

<!--          <li class="pagination-last">-->
<!--            <a href="">»</a>-->
<!--          </li>-->
        </ul>
      </nav>
    </section>
  </div>
</div>
