{include file="../app/admin/view/public/left.html" /}
<!--/sidebar-->
<div class="main-wrap">

    <div class="crumb-wrap">
        <div class="crumb-list"><i class="icon-font"></i><a href="{:url('Index/index')}">首页</a><span class="crumb-step">&gt;</span><span
                class="crumb-name">会员管理</span></div>
    </div>
    <div class="search-wrap">
        <div class="search-content">
        </div>
    </div>
    <div class="result-wrap">

        <div class="result-title">
            <div class="result-list">
                <a href="{:url('Member/index')}">返回</a>
            </div>
        </div>
        <div class="result-content">
            <table class="result-tab" width="100%">
                <tr>
                    <th>ID</th>
                    <th>会员邮箱</th>
                    <th>状态</th>
                    <th>注册时间</th>
                </tr>
                {volist name='my_invit' id='vo'}
                    <tr>
                        <td>{$vo['member_id']}</td>
                        <td>{$vo['email']}</td>
                        <td>{$vo['status']|getMemberStatus=###}</td>
                        <td>{$vo['reg_time']|date="Y-m-d H:i:s",###}</td>
                    </tr>
                {/volist}

            </table>
            <div class="page">
                <div>
                    {$page}
                </div>
            </div>
        </div>

    </div>
</div>
<!--/main-->
</div>
</body>
</html>