<include file="App/Admin/View/Public/left.html"/>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/kindeditor/kindeditor.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/kindeditor/lang/zh_CN.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/kindeditor/plugins/prettify.js"></script>
<!--/sidebar-->
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list"><i class="icon-font"></i><a href="{:U('Index/index')}">首页</a><span class="crumb-step">&gt;</span><span
                class="crumb-name">积分类型设置</span></div>
    </div>
    <div class="result-wrap">
        <form action="{:U('Currency/add2')}" method="post" id="myform" name="myform" enctype="multipart/form-data">
            <div class="config-items">
                <div class="config-title">
                    <h1><i class="icon-font">&#xe00a;</i>积分类型详细信息设置</h1>
                </div>
                <div class="result-content">
                    <table width="100%" class="insert-tab">
                        <tbody>
                        <tr>
                            <th width="15%"><i class="require-red">*</i>货币LOGO</th>
                            <td><img style="height:200px;" src="{$list.currency_logo}"><input type="hidden"
                                                                                              name="currency_logo"
                                                                                              value="{$list.currency_logo}"
                                                                                              class="common-text"></td>
                        </tr>
                        <tr>
                            <th><i class="require-red">*</i>货币LOGO上传</th>
                            <td><input type="file" name="Filedata" class="common-text"></td>
                        </tr>
                        <tr>
                            <th><i class="require-red">*</i>货币名称：</th>
                            <td><input type="text" id="" value="{$list.currency_name}" size="85" name="currency_name"
                                       class="common-text"><input type="hidden" id="" value="{$list.currency_id}"
                                                                  size="85" name="currency_id" class="common-text"></td>
                        </tr>
                        <tr>
                            <th><i class="require-red">*</i>英文标识</th>
                            <td><input type="text" id="" value="{$list.currency_mark}" size="85" name="currency_mark"
                                       class="common-text"></td>
                        </tr>
                        <tr>
                            <th><i class="require-red">*</i>最大(单次提积分额度)</th>
                            <td><input type="text" id="" value="{$list.currency_all_tibi}" size="85"
                                       name="currency_all_tibi" class="common-text"></td>
                        </tr>

                        <tr>
                            <th><i class="require-red">*</i>总市值</th>
                            <td><input type="text" id="" value="{$list.currency_all_money}" size="85"
                                       name="currency_all_money" class="common-text"></td>
                        </tr>
                        <tr>
                            <th><i class="require-red">*</i>买入手续费</th>
                            <td><input type="text" id="" value="{$list.currency_buy_fee}" size="85"
                                       name="currency_buy_fee" class="common-text">%
                            </td>
                        </tr>
                        <tr>
                            <th><i class="require-red">*</i>卖出手续费</th>
                            <td><input type="text" id="" value="{$list.currency_sell_fee}" size="85"
                                       name="currency_sell_fee" class="common-text">%
                            </td>
                        </tr>
                        <tr>
                            <th><i class="require-red">*</i>链接地址</th>
                            <td><input type="password" id="" value="{$list.currency_url}" size="85" name="currency_url"
                                       class="common-text"><a
                                    href="{:U('Currency/link',array('currency_id'=>I('currency_id')))}"
                                    style="margin-left:10px;color:#f00;text-decoration:underline;">链接列表</a></td>
                        </tr>
                        <tr>
                            <th><i class="require-red">*</i>用户名</th>
                            <td><input type="password" id="" value="{$list.rpc_user}" size="85" name="rpc_user"
                                       class="common-text"></td>
                        </tr>
                        <tr>
                            <th><i class="require-red">*</i>密码</th>
                            <td><input type="password" id="" value="{$list.rpc_pwd}" size="85" name="rpc_pwd"
                                       class="common-text"></td>
                        </tr>
                        <tr>
                            <th><i class="require-red">*</i>地址</th>
                            <td><input type="password" id="" value="{$list.rpc_url}" size="85" name="rpc_url"
                                       class="common-text"></td>
                        </tr>
                        <tr>
                            <th><i class="require-red">*</i>端口号</th>
                            <td><input type="password" id="" value="{$list.port_number}" size="85" name="port_number"
                                       class="common-text"></td>
                        </tr>

                        <tr>
                            <th><i class="require-red">*</i>钱包密钥</th>
                            <td><input type="password" id="" value="{$list.qianbao_key}" size="85" name="qianbao_key"
                                       class="common-text"><i class="require-red">*密钥妥善保存，一旦丢失，后果严重且找不回</i></td>

                        </tr>


                        <tr>
                            <th><i class="require-red">*</i>上线开关</th>
                            <td>关闭上线：<input type="radio" name="is_line" value="0"
                                <eq name="list.is_line" value="0">checked="checked"</eq>
                                />
                                开启上线：<input type="radio" name="is_line" value="1"
                                <eq name="list.is_line" value="1">checked="checked"</eq>
                                />

                            </td>
                        </tr>

                        <tr>
                            <th><i class="require-red">*</i>交易开关</th>
                            <td>开启交易：<input type="radio" name="is_lock" value="0"
                                <eq name="list.is_lock" value="0">checked="checked"</eq>
                                />
                                关闭交易：<input type="radio" name="is_lock" value="1"
                                <eq name="list.is_lock" value="1">checked="checked"</eq>
                                />

                            </td>
                        </tr>
                        <tr>
                            <th><i class="require-red">*</i>买入积分类型</th>
                            <td><select name="trade_currency_id">
                                <option value="0">人民币</option>
                                <volist name="currency_currency" id="vo">
                                    <option value="{$vo.currency_id}"
                                    <eq name="list.trade_currency_id" value="$vo.currency_id">selected="selected"</eq>
                                    >{$vo.currency_name}</option>
                                </volist>
                            </select>
                            </td>
                        </tr>
                        <tr>
                            <th><i class="require-red">*</i>货币详情链接</th>
                            <td>
                                <input type="text" id="" value="{$list.detail_url}" size="85" name="detail_url"
                                       class="common-text">
                            </td>
                        </tr>
                        <tr>
                            <th><i class="require-red">*</i>是否涨停限制</th>
                            <td>关闭涨停限制：<input type="radio" name="is_limit" value="0"
                                <eq name="list.is_limit" value="0">checked="checked"</eq>
                                />
                                开启涨停限制：<input type="radio" name="is_limit" value="1"
                                <eq name="list.is_limit" value="1">checked="checked"</eq>
                                />

                            </td>
                        </tr>
                        <tr>
                            <th><i class="require-red">*</i>涨高限制</th>
                            <td><input type="text" id="" value="{$list.max_limit}" size="85" name="max_limit"
                                       class="common-text">%
                            </td>
                        </tr>
                        <tr>
                            <th><i class="require-red">*</i>跌幅限制</th>
                            <td><input type="text" id="" value="{$list.min_limit}" size="85" name="min_limit"
                                       class="common-text">%
                            </td>
                        </tr>
                        <tr>
                            <th><i class="require-red">*</i>权重</th>
                            <td><input type="text" id="" value="{$list.sort}" size="85" name="sort" class="common-text">数值越小排序越前
                            </td>
                        </tr>
                        <tr>
                            <th><i class="require-red">*</i>是否开盘时间限制</th>
                            <td>关闭涨停限制：<input type="radio" name="is_time" value="0"
                                <eq name="list.is_time" value="0">checked="checked"</eq>
                                />
                                开启涨停限制：<input type="radio" name="is_time" value="1"
                                <eq name="list.is_time" value="1">checked="checked"</eq>
                                />

                            </td>
                        </tr>
                        <tr>
                            <th><i class="require-red">*</i>开盘时间</th>
                            <td><input type="text" id="" value="{$list.min_time}" size="85" name="min_time"
                                       class="common-text">24小时制
                            </td>
                        </tr>
                        <tr>
                            <th><i class="require-red">*</i>关盘时间</th>
                            <td><input type="text" id="" value="{$list.max_time}" size="85" name="max_time"
                                       class="common-text">24小时制
                            </td>
                        </tr>
                        <tr>
                            <th><i class="require-red">*</i>显示基数</th>
                            <td><input type="text" id="" value="{$list.cardinal_number}" size="85"
                                       name="cardinal_number" class="common-text"></td>
                        </tr>

                        <!--  <tr>
                            <th><i class="require-red">*</i>积分类型说明</th>
                            <td>
                            <textarea id="content3" value="" name="currency_content" class="common-text" style="width:610px;height:100px;">					{$list.currency_content}
                            </textarea>
                            </td>
                        </tr>
                         <tr>
                                <th><i class="require-red">*</i>货币详情图片上传</th>
                                <td><input type="file" name="pic" class="common-text"></td>
                            </tr>
                         <volist name='pic' id='vo'>
                         <tr>
                                <th><i class="require-red">*</i>货币详情图片展示<br>(<a href="{:U('Currency/delCurrencyPic',array('id'=>$vo['id']))}">点此处删除此详情图片</a>)</th>
                                <td><img src='{$vo.pic}' style="height:200px;"></td>
                            </tr>
                         </volist>-->
                        <tr>
                            <th><i class="require-red">*</i>是否限制转入积分</th>
                            <td>不限制转入：<input type="radio" name="limit_in" value="0"
                                <eq name="list.limit_in" value="0">checked="checked"</eq>
                                />
                                限制转入：<input type="radio" name="limit_in" value="1"
                                <eq name="list.limit_in" value="1">checked="checked"</eq>
                                />

                            </td>
                        </tr>
                        <tr>
                            <th><i class="require-red">*</i>前台显示交易量基数</th>
                            <td><input type="text" id="" value="{$list.num_number}" size="85" name="num_number"
                                       class="common-text"></td>
                        </tr>

                        <tr>
                            <th></th>
                            <td>
                                <input type="submit" value="提交" class="btn btn-primary btn6 mr10">
                                <a href="{:U('Currency/index')}"><input type="button" value="返回" class="btn btn6"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </form>
    </div>
</div>
<!--/main-->
</div>
</body>
</html>
<script>
    KindEditor.ready(function (K) {
        window.editor1 = K.create('#content3',{
            uploadJson : '{:U("Art/oss_file_upload")}',
            fileManagerJson : '{:U("Art/oss_file_upload")}',
        });
    });
</script>
