{include file="../app/admin/view/public/left.html" /}
<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/admin/show.css"/>
<script>
    $("#walletNav").show();
    $("#walletNav").children("li").eq(1).addClass("on");
    window._deel = {
        req_member_details_url: "{:url('member/member_details')}",
    }
</script>
<script src="__PUBLIC__/static/admin/js/member_details.js"></script>
<!--/sidebar-->
<div class="main-wrap">

    <div class="crumb-wrap">
        <div class="crumb-list"><i class="icon-font"></i><a href="{:url('Index/index')}">首页</a><span class="crumb-step">&gt;</span><span
                class="crumb-name">充积分记录</span></div>
    </div>
    <div class="search-wrap">
        <div class="search-content">
            <form action="{:url('Currency/chongzhi_index')}" method="get">
                <table class="search-tab">
                    <tr>
                        <th width="70">手机号码:</th>
                        <td><input class="common-text" placeholder="手机号码" name="phone" value="{$temp['phone']}" type="text"></td>
                        <th width="70">邮箱:</th>
                        <td><input class="common-text" placeholder="邮箱" name="email" value="{$temp['email']}" type="text"></td>
                        <th width="70">会员ID:</th>
                        <td><input class="common-text" placeholder="会员ID" name="member_id" value="{$temp['member_id']}" type="text"></td>
                        <th width="70">转入地址:</th>
                        <td><input class="common-text" placeholder="转入地址" name="url" value="{$temp['url']}" type="text"></td>
                        <td><select name="cuid">
                            <option value="">全部</option>
                            {volist name="curr" id='vo'}
                                {eq name="vo.currency_id" value="$temp.cuid"}
                                    <option value="{$vo.currency_id}" selected>{$vo.currency_name}</option>
                                    {else/}
                                    <option value="{$vo.currency_id}">{$vo.currency_name}</option>
                                {/eq}
                            {/volist}
                        </select></td>
                        <td><input class="btn btn-primary btn2" value="查询" type="submit"></td>
                    </tr>
                </table>
            </form>

        </div>
    </div>
    <div class="result-wrap">

        <div class="result-title">
            <div class="result-list">
                {volist name="chong_sum" id="vo"}
                <p>{$curr[$vo['currency_id']]['currency_name']} - {$vo.actual}</p>
                {/volist}
                <br>
                今日充币总数量：
                {volist name="today_chong_sum" id="vo"}
                <p>{$curr[$vo['currency_id']]['currency_name']} - {$vo.actual}</p>
                {/volist}
            </div>
        </div>
        <div class="result-content">
            <table class="result-tab" width="100%">
                <tr>

                    <th width="40px">ID</th>
                    <th>会员邮箱</th>
                    <th width="50px">会员ID</th>
                    <th>姓名</th>
                    <th>手机</th>
                    <th>币类型名称</th>
                    <th>接收地址</th>
                    <th>转账编号</th>
                    <th>转入地址</th>
                    <th>转入总数</th>
                    <th>实际到账数量</th>
                    <th>开始时间</th>

                    <th>状态</th>
                    <!--<th>一审</th>-->
                    <!--<th>一审提交</th>-->
                    <!--<th>二审</th>-->
                    <!--<th>二审提交</th>-->
                </tr>
                {volist name='list' id='vo'}
                    <tr>

                        <td>{$vo['id']}</td>
                        <td>{$vo['email']}</td>
                        <td><a href="javascript:member_details({$vo.member_id});" class="shenhe_button">{$vo['member_id']}</a>
                        </td>
                        <td>{$vo['name']}</td>
                        <td>{$vo['phone']}</td>
                        <td>{$vo['currency_name']}</td>
                        <td>{$vo['to_url']}</td>
                        <td>
                            <?php if($vo['currency_type']=='eth' || $vo['currency_type']=='eth_token'):?>
                            <a target="_blank" href="https://cn.etherscan.com/tx/{$vo['ti_id']}">{$vo['ti_id']}</a>
                            <?php elseif($vo['currency_type']=='xrp'):?>
                            <a target="_blank" href="https://bithomp.com/explorer/{:strtoupper($vo['ti_id'])}">{:strtoupper($vo['ti_id'])}</a>
                            <?php elseif($vo['currency_type']=='btc'):?>
                            <a target="_blank" href="https://btc.com/{$vo['ti_id']}">{$vo['ti_id']}</a>
                            <?php elseif($vo['currency_type']=='usdt'):?>
                            <a target="_blank" href="https://omniexplorer.info/search/{$vo['ti_id']}">{$vo['ti_id']}</a>
                            <?php elseif($vo['currency_type']=='eos'):?>
                            <a target="_blank" href="https://eospark.com/tx/{$vo['ti_id']}">{$vo['ti_id']}</a>
                            <?php else: ?>
                            {$vo['ti_id']}
                            <?php endif;?>

                            </td>
                        <td>{$vo['from_url']}</td>
                        <td>{$vo['num']}</td>
                        <td>{$vo['actual']}</td>
                        <td>{$vo['add_time']|date='Y-m-d H:i:s',###}</td>


                        <td>
                            {if condition="$vo['status'] eq 2"}
                                充值中...
                                {/if}
                            {if condition="$vo['status'] eq 3"}
                                充值完成
                                {/if}
                            {if condition="$vo['status'] eq 4"}
                                奖励完成
                            {/if}
                        </td>

                    </tr>
                {/volist}

            </table>
            <div class="page">
                <div>
                    {$page}
                </div>
            </div>
        </div>
    </div>
</div>
<!--/main-->
</div>
</body>
</html>
