{include file="layout/header"}
<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/admin/show.css"/>
<link href="__PUBLIC__/static/admin/js/timejs/css/datePicker.css" rel="stylesheet" type="text/css" media="all"/>
<script src="__PUBLIC__/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/admin/js/timejs/js/jquery.date_input.pack.js"></script>
<style>
    .layui-table-cell {
        height: auto;
    }

    .header-input {
        height: 30px;
        /*width: 150px*/
    }

    .layui-layer-page {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 600px;
        height: 500px;
    }
</style>
<script type="text/javascript">
    $(function () {
        $('#datePicker').date_input();
        $('#datePicker2').date_input();
    });

    window._deel = {
        req_member_details_url: "{:U('member/member_details')}",
    }
</script>
<script src="__PUBLIC__/static/admin/js/member_details.js"></script>
<!--/sidebar-->
<div class="weadmin-nav">
    <span class="layui-breadcrumb" style="visibility: visible;">
        <a href="javascript:;">首页</a><a href="javascript:;">法币交易</a>
        <a href="javascript:;"><cite>交易记录</cite></a>
    </span>
    <span class="fr">
<!--        <a class="layui-btn layui-btn-sm layui-open" data-url="/backend/Mining/common_config_add?param=common_config" data-title="添加" data-width="800px" href="javascript:;">添加</a>-->
        <a class="layui-btn layui-btn-sm" href="javascript:location.replace(location.href);" title="刷新"><i
                class="layui-icon layui-icon-refresh"></i></a>
    </span>
</div>


<div class="search-content">
    <form action="{:U('TradeOtc/trade_otc_list',['param'=>'trade_otc'])}" method="get" id="form">
        <table class="search-tab">
            <tr>
                <th width="50px">买卖对:</th>
                <td><input class="common-text" placeholder="买卖对" name="trade_no" value="{$trade_no}" id="" type="text"></td>

                <th width="50px">订单号:</th>
                <td><input class="common-text" placeholder="订单号" name="only_number" value="{$only_number}" id="" type="text"></td>

                <th width="60px">账户:</th>
                <td><input class="common-text" placeholder="手机号码/Email" name="phone" value="{$phone}" id="" type="text"></td>

                <th width="60px">用户ID:</th>
                <td><input class="common-text" placeholder="用户ID" name="member_id" value="{$member_id}" id="" type="text"></td>
            </tr>
            <tr>
                <th width="80px">选择时间：</th>
                <td><input type="text" id="datePicker" name="datePicker" class="date_picker" value="{$datePicker}" placeholder="点击选择日期"/>
                    <input type="text" id="datePicker2" name="datePicker2" value="{$datePicker2}" class="date_picker" placeholder="点击选择日期"/>
                </td>

                <th width="70px">积分类型:</th>
                <td>
                    <select name="currency_id" id="">
                        <option value="0">全部</option>
                        {volist name="currency" id="vo"}
                        {eq name="vo.currency_id" value="$currency_id"}
                        <option value="{$vo.currency_id}" selected>{$vo.currency_name}</option>
                        {else/}
                        <option value="{$vo.currency_id}">{$vo.currency_name}</option>
                        {/eq}

                        {/volist}
                    </select>
                </td>

                <th width="70px">状态:</th>
                <td>
                    <select name="status" id="">
                        <option value=""<?php if($status=='')echo 'selected';?> >全部</option>
                        <option value="0"<?php if($status=='0')echo 'selected';?>>未付款</option>
                        <option value="1"<?php if($status=='1')echo 'selected';?>>待放行</option>
                        <option value="2"<?php if($status=='2')echo 'selected';?>>申诉中</option>
                        <option value="3"<?php if($status=='3')echo 'selected';?>>已完成</option>
                        <option value="4"<?php if($status=='4')echo 'selected';?>>已取消</option>
                    </select>
                </td>

                <input type="hidden" name="daochu" id="daochu">
                <td><input class="btn btn-primary btn2" value="查询" type="submit"></td>
                <td><input class="btn btn-primary btn2" value="导出" id="submitDaochu" type="button"></td>
            </tr>
        </table>
    </form>
</div>

<div class="layui-table">
    <table class="result-tab" width="100%">
        <tr>
            <th>买卖对</th>
            <th>订单号</th>
            <th>交易订单号</th>
            <th>会员ID</th>
            <th>姓名</th>
            <th>账户</th>
            <th>币种</th>
            <th>数量</th>
            <th>单价</th>
            <th>总价格</th>
            <th>手续费</th>
            <th>类型</th>
            <th>添加时间</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        {volist name="list" id="vo" empty=""}
        <tr>
            <td>{$vo.trade_no}</td>
            <td>{$vo.only_number}</td>
            <td>{$vo.sell_orders}</td>
            <td><a href="javascript:member_details({$vo.member_id});" class="shenhe_button">{$vo.member_id}</a>
            </td>
            <td>{$vo['name']}</td>
            <td>
                {notempty name="vo.phone"}{$vo['phone']}
                {else/}
                {$vo['email']}
                {/notempty}
            </td>
            <td>{$vo.currency_name}</td>
            <td>{$vo.num}</td>
            <td>{$vo.price}</td>
            <td>{$vo.money}</td>
            <td>{$vo['fee']}</td>
            <td>{$vo.type_name}</td>
            <td>{$vo.add_time|date="Y-m-d H:i:s",###}</td>
            <td>
                <?php if($vo['status'] == 0) { ?>
                未付款
                <?php } elseif($vo['status'] == 1) { ?>
                待放行
                <?php } elseif($vo['status'] == 2) { ?>
                    <?php if($vo['member_id'] == $vo['allege_id']) { ?>
                        申诉中
                        <span class="tips" msg="{$vo.allege_content}" style="color: #F00;width: 30px;height: 30px;display: inline-block;text-align: center;">理由
                            <span class="tips1" style="display: none;">
                                <span>申述类型:</span>
                                {switch name="vo.allege_type"}
                                    {case value="1"}
                                        <span style="padding-left: 10px; color:blue;line-height: 100%;">對方未付款</span>
                                    {/case}
                                    {case value="2"}
                                        <span style="padding-left: 10px;color:blue">對方未付款</span>
                                    {/case}
                                    {case value="3"}
                                           <span style="padding-left: 10px;color:blue">對方有欺詐行為</span>
                                    {/case}
                                    {case value="4"}
                                           <span style="padding-left: 10px;color:blue">其他</span>
                                    {/case}
                                    {default/}
                                {/switch}
                                <div style="margin-top: 10px">
                                    申述说明: <span style="padding-left: 10px">{$vo.allege_content}</span>
                                </div>
                                 <div style="margin-top: 15px">
                                    {notempty name='vo.trade_pic'}<img style="max-width: 100%;" src="{$vo.trade_pic}">{/notempty}
                                 </div>
                            </span>
                        </span>
                    <?php } else { ?>
                        被诉
                    <?php } ?>
                <?php } elseif($vo['status'] == 3) { ?>
                已完成
                <?php } elseif($vo['status'] == 4) { ?>
                已取消
                <?php } ?>
            </td>
            <td>
                <a href="{:U('TradeOtc/tradeotc_info',array('trade_id'=>$vo['trade_id']))}">查看详情</a>
                {if condition="$vo['status']==2 && $vo['member_id']==$vo['allege_id']"}
                <a href="javascript:;" class="appeal" data-type="{$vo.type}" id="{$vo.trade_id}"
                   result="1">胜诉</a>
                <a href="javascript:;" class="appeal" data-type="{$vo.type}" id="{$vo.trade_id}"
                   result="0">败诉</a>
                {/if}
            </td>
        </tr>
        {/volist}
    </table>
    <div class="page">
        <div>
            {$page}
        </div>
    </div>
</div>

<script>

    $("#submitDaochu").click(function () {
        $("#daochu").val(2);
        $("#form").submit();
        $("#daochu").val(1);
    })

    function loading() {
        layer.load(1, {
            shade: [0.3, '#000'] //0.1透明度的白色背景
        });
    }

    $(".tips").click(function () {
        var text = $(this).find('.tips1').html();
        layer.open({
            type: 1,
            title: '申诉理由',
            content: '<div style="padding:20px;line-height:30px;">' + text + '</div>',
        });
    });

    //申诉
    $(".appeal").each(function (index) {
        $(this).click(function () {
            var result = $(this).attr("result");
            var trade_id = $(this).attr("id");
            var e = $(this);
            var type = $(this).attr('data-type');
            var title_n = '';
            if (type == 'buy') {
                title_n = '买家';
            } else if (type == 'sell') {
                title_n = '卖家';
            }

            if (result == 1) {
                title_n += '胜诉';
            } else {
                title_n += '败诉';
            }

            layer.confirm(title_n, {
                btn: ['确定', '取消'], //按钮
            }, function () {
                loading();
                $.post("{:U('appeal',['param'=>'trade_otc'])}", {"trade_id": trade_id, "result": result}, function (datas) {
                    layer.closeAll();
                    if(datas.code != undefined) {
                        if (datas.code == 1) {
                            layer.msg(datas.message);
                            window.location.reload();
                        } else {
                            layer.msg(datas.message);
                        }
                    }else {
                        layer.msg('没有权限');
                    }
                }).error(function() {
                    layer.msg('没有权限');
                });
            }, function () {
                layer.msg('已取消');
            });
        })
    });
</script>