{__NOLAYOUT__}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
	<title>Document</title>
	<link rel="stylesheet" href="__PUBLIC__/static/moblie/css/common/reset.css">
	<link rel="stylesheet" href="__PUBLIC__/static/moblie/css/register/index.css">
	<script src="//cstaticdun.126.net/load.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/static/moblie/js/common/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/static/moblie/js/layer/layer.js"></script>
</head>
<body>
	<div class="content">
		<div class="tab_box">
			<div>手機</div>
			<div>郵箱</div>
		</div>
	</div>
</body>
</html>